- frontpage_fragment_cache("grid_item", listing) do
  .home-fluid-thumbnail-grid-item
    %div
      -# Listing image
      = render :partial => "layouts/grid_item_listing_image", :locals => {:listing => listing, :modifier_class => ""}

      -# Listing description
      .home-fluid-thumbnail-grid-title
        = listing.title
