.filter-dropdown
  %button.filter-button#price-filter-button{'aria-label' => 'Show price filter', 'aria-controls' => 'price-filter-popout',
  'aria-expanded' => 'false', type: :button}
    Price
    %span.expand-symbol
      ▼

  .filter-popout#price-filter-popout{class: 'hidden'}
    = render :partial => "price_filter_inputs", locals: { class_suffix: "popout", start_disabled: true}
    .update
      %button{type: 'submit'}
        Apply filter

