-# Variables: 
-# item_class: class to set on the carousel item (for example to hide it on initial display before the javascript loads)
-# image_path
-# alt_text
-# tip_title: the title of the text
-# text: the paragraph of text (include line breaks as needed to make it read better)
-# font_size: desktop font size
.carousel-item{ :class => item_class}
  .insta-container 
    .image-container
      -image_url = image_path(image_path)
      =image_tag(image_url, class: 'step_img', alt: alt_text)
    .text-container 
      %p.tip-title
        #{tip_title}
      %p.tip-text
        #{tip_text}
