@import "mixins/all";

.applied-filters-row {
    display: flex;
    flex-direction: row;
    margin-right: 2em;
    flex-flow: wrap;

    .applied-filter-button {
        margin: 5px;
        min-width: -moz-fit-content;
        min-width: fit-content;
        border-radius: 15px;
        height: 1.2em;
        line-height: 1.2em;
        color: $nbw-dark;
        background-color: lighten($nbw-dark, 45%);
        border-color: $nbw-dark;
        border-width: 1px;
        border-style: solid;

        span.close-symbol {
            margin-left: 0.5em;
            width: 1em;
            display: inline-block;
        }
    }

    .applied-filter-button:hover {
        color: #ffffff;
        background-color: $nbw-dark;
        border-color: $nbw-dark;
        border-width: 1px;
        border-style: solid;
    }

    a.clear-all-filters {
        align-self: center;
        margin-left: 1.5em;
    }
}



