@import "mixins/all";
@import "../landing_page/mixins/all";

.marketplace-lander div.title-container.blog-homepage {
    background-color: $nbw-pale;
}

.blog-homepage {

    background-color: #fbf8ff;

    .page-content, div.wrapper, .col-12 {
        background-color: #fbf8ff;
    }

    .blog {
        overflow: hidden;
    }

    .blog-articles {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        margin-bottom: 20px;

        $card-border-radius: 0px;

        div.article-image-container {
            position: relative;
            @include border-top-radius($card-border-radius); 
            line-height: 0.5em;
        }

        img.article_card_image {
            @include border-top-radius($card-border-radius);
            @media #{$mobile} {
                aspect-ratio: 1;
                object-fit: cover;
            }
        }

        .article-card {

            padding-right: 0;
            padding-left: 0;
            @include border-radius($card-border-radius);
            background-color: white;

            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

            &:hover {
                transform: scale(1.011);
                @include prefix-prop(transition, all 50ms ease-in-out);
            }

            .article-card-image-overlay {
                @include border-top-radius($card-border-radius);
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0));
                @include absolutely-all;
            }

            .article-title-cta-container {
                position: absolute;
                bottom: 0;
                width: 100%;

                $min-cta-height: 4em;

                .cta-left {
                    width: 75%;
                    float: left;
                    margin-bottom: 0;
                    min-height: $min-cta-height;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .cta-right {
                    width: 25%;
                    float: left;
                    margin-bottom: 0;
                    border-left: 1px solid rgba(255,255,255, 0.8);
                    text-align: center;
                    min-height: $min-cta-height;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .article-title {
                    display: flex;
                    align-items: center;
                    padding: 0 0.75em 0 0.75em;
                    line-height: 1.2em;
                    color: white;
                    margin-bottom: 0;
                    padding-top: 0;
                    font-size: 1.375em;
                }

                p.article-read {
                    padding: 0.75em;
                    color: white;
                    font-size: 1.375em;
                    vertical-align: middle;
                    display: flex;
                    margin-bottom: 0;
                }
        
            }

            p.article-summary {
                color: $body;
                padding: 1.03125em;
            }
        }

        padding-left: 0;
        
        li {
            list-style: none;
        }
    }

    .article_card_image {
        width: 100%;

        @media #{$mobile} {
            aspect-ratio: 1;
            object-fit: cover;
        }

        @media #{$desktop}, #{$mobile-landscape}, #{$tablet} {
            aspect-ratio: 1;
            object-fit: cover;
        }
    }
}

/* new style articles */
.blog-article {

    /* old style articles (why we started and autumn reflections) */
    .article_col6_image {
        width: 100%;

        @media #{$mobile} {
            aspect-ratio: 1;
            object-fit: cover;
        }

        @media #{$desktop}, #{$mobile-landscape}, #{$tablet} {
            aspect-ratio: 316/413;
            object-fit: cover;
        }
    }

    h1, h2, h3, h4, h5, h6, p {
        color: #4a4a4a;
    }

    h2.article-title {
        margin-bottom: 0;
        @media #{$mobile} {
            font-size: 1.5em;
        }
    }
    
    p.published-date {
        margin-bottom: 0.75em;
        color: $light-body;
    }

    .article-section {
        overflow: hidden;
        margin-bottom: 3em;
    }
    .article-section-with-quote {
        margin-bottom: 0;
    }

    .article-text {
        span.li-heading {
            font-weight: bold;
        }

        span.challenge-time {
            font-style: italic;
            white-space: nowrap;
        }
    }

    .article-text.followed-by-image {
        margin-bottom: 2em;
    }
    .article-text.following-image {
        margin-top: 2em;
    }

    .article-image {
        background-repeat: no-repeat;
        width: 33.333333%;
        background-size: cover;
        
        img {
            width: 100%;
            border-radius: 20px;
        }

        @media #{$mobile} {
            width: 100%;
        }

    }

    .article-section-right-image {
        .article-image {
            float: right;
            margin-left: 20px;
        }
    }

    .article-section-left-image {
        .article-image {
            float: left;
            margin-right: 20px;
        }
    }

    .article-section {
        .article-image-centred {
            float: none;
            margin: auto;
            width: 50%;

            @media #{$mobile} {
                width: 100%;
            }
        }
    }

    ul {
        margin-bottom: 0.75em;

        li:not(:last-child) { 
            margin-bottom: 0.5em;  
        }
    }

    .quick-guide-container {
        margin-top: 30px;
        text-align: center;
    }

    .quick-guide {
        text-align: left;
        background-color: #f1f1f1;
        border-radius: 20px;
        padding: 10px;
        display: inline-block;

        ul {
            list-style: none;

            a {
                color: #853C82;
            }
        }
    }

    .quick-guide-container.quick-guide-scarves {
        .quick-guide {
            width: 50%;
            color: #ffffff;
            background: #697b84;

            a, h4, p {
                color: #fff;
            }
            h4.quick-guide-title {
                font-size: 1.5em;
                margin-bottom: 0.5em;
            }

            @media #{$mobile} {
                width: 100%;
            }
        }
    }

    .get-cheat-sheet-container {
        display: none;
        margin-top: 30px;
        text-align: center;

        .get-cheat-sheet {
            text-align: left;
            background-color: #f1e9e9;
            border-radius: 20px;
            padding: 10px;
            display: inline-block;
    
            ul {
                list-style: none;
    
                a {
                    color: #853C82;
                }
            }
        }    
    }

    p.download-cheat-sheet {
        display: none;
    }    

    .article-footer {
        background-color: #f1f1f1;
        border-radius: 20px;
        padding: 20px;
    }
    p.image-credit {
        margin-top: 2em;
        font-style: italic;
    }

    ul.boots-text {
        padding-left: 0;

        li {
            list-style-position: inside;
            line-height: normal;
        }
    }

    span.big-question {
        display: block;
        font-size: 1.6em;
        width: 70%;
        margin: 50px auto;
        font-family: 'Zin Display', serif;
        font-style: italic;
        color: #ffffff;
        padding: 1.2em 30px 1.2em 75px;
        border-left: 8px solid #424A4F;
        line-height: 1.6;
        position: relative;
        background: #697b84;
    }

    /*
    span.big-question::before{
        font-family:Arial;
        content: "\201C";
        color:$nbw-dark;
        font-size:4em;
        position: absolute;
        left: 10px;
        top:-10px;
      }

    span.big-question .author{
        display:block;
        color:#333333;
        font-style: normal;
        font-weight: bold;
        margin-top:1em;
      }
    */

    span.big-question::after{
        content: '';
      }
}