@import "mixins/all";
@import "../landing_page/mixins/all";

.logged_out_homepage {

    .tips-container {

        div.carousel-hide {
            display: none;
        }

        .carousel-item {
            display: flex;
            justify-content: center;
        }

        .insta-container {
            margin-left: 10px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            background-color: $nbw-dark;
            border-radius: 20px;
            max-width: -moz-fit-content;
            max-width: fit-content;

            .image-container, .text-container {
                width: 200px;
                height: 200px;
            }
   
            @media #{$desktop} {
                .image-container, .text-container {
                    width: 300px;
                    height: 300px;
                }
            }

            img {
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
                max-width: 100%;
                margin: 0;
            }

            .text-container {
                background-color: $nbw-dark;

                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;

                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }

            .tip-title, .tip-text {
                color: $nbw-pale;
                margin-bottom: 0;
                line-height: normal;
            }

            .tip-title {
                margin-top: 15px;
                font-size: 22px;
            }

            .tip-text {
                flex: 1;
                display: flex;
                justify-content: center;
                padding-bottom: 17px;
                font-size: 20px;
                margin-top: 10px;
            }

            @media (max-width: 660px) {
                flex-direction: column;

                img.carousel-img {
                    border-radius: 20px 20px 0 0;
                }

                div.text-container {
                    border-radius: 0 0 20px 20px;
                }
            }

            @media #{$desktop} {
                .tip-title {
                    font-size: 34px;
                }
    
                .tip-text {
                    font-size: 28px;
                    min-height: 220px;
                    margin-top: 20px;
                }
            }
        }

        .slick-list{padding:0 20% 0 20% !important;}
        button.slick-prev:before, button.slick-next:before {
            color: $nbw-dark;
        }
        .slick-slide {
            margin: 0;
        }

        button.slick-next, button.slick-prev {
            display: block;
            z-index: 100;
            padding-top: 121px;
            padding-bottom: 157px;
        }

        button.slick-next {
            right: -1px;
            padding-left: 170px;
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,1) 100%);
        }

        button.slick-next:before {
            margin-left: -45px;
            font-size: 40px;
        }

        button.slick-prev {
            left: -1px;
            padding-right: 170px;
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 100%);
        }

        button.slick-prev:before {
            margin-left: 0px;
            font-size: 40px;
        }

        ul.slick-dots {

            li.slick-active > button:before {
                opacity: 1;
            }

            button:before {
                font-size:25px;
                margin-top: 10px;
                color: $nbw-dark;
            }
        }

        @media #{$desktop} {
            button.slick-next, button.slick-prev {
                display: block;
                z-index: 100;
                padding-top: 151px;
                padding-bottom: 187px;
            }    
        }

        @media (max-width: 660px) {
            button.slick-next, button.slick-prev {
                padding-top: 191px;
                padding-bottom: 227px;
            }

            button.slick-next {
                padding-left: 60px;
            }

            button.slick-prev {
                padding-right: 60px;
            }
        }
    }
}
