@import "mixins/all";
@import "../landing_page/mixins/all";

.logged_out_homepage {

    /* Define colours at the top so we can mess about with them more easily */
    $title-panel-text-colour: 	#F94A29;
    $text-panel-text-colour: #F94A29;
    
    $title-panel-light-shade: #FFB805;
    $title-panel-dark-shade: 	#F94A29;
    $text-panel-light-shade: #FFB805;
    $text-panel-dark-shade: 	#F94A29;

    $find-us-on-instagram-colour: #F94A29;


    .tips-container {

        padding-top: 3em;
        padding-bottom: 2.5em;
        margin: auto;

        p, li {
            font-family: Fifita, 'Proxima Soft', 'Source Sans Pro', helvetica, sans-serif;
        }

        @media (max-width: 660px) {
            margin-left: 1em;
            margin-right: 1em;
        }

        a.follow-insta {
            color: $find-us-on-instagram-colour;
            margin-bottom: 0;
            font-size: 20px;

            span {
                font-weight: bold;
                white-space: nowrap;
            }
            svg {
                vertical-align: text-bottom;
                margin-right: 0.075em;
            }
            path {
                fill: $find-us-on-instagram-colour;
            }
        }

        max-width: 1024px;

        div.carousel-hide {
            display: none;
        }

        .carousel-item {
            display: flex;
            justify-content: center;
        }

        .insta-container {
            margin-left: 10px;
            margin-right: 10px;
            display: flex;
            justify-content: center;
            border-radius: 20px;
            max-width: -moz-fit-content;
            max-width: fit-content;

            width: 400px;
            height: 200px;
            @media #{$desktop} {
                width:600px;
                height: 300px;
            }

            @media (max-width: 660px) {
                width: 200px;
                height: 400px;
            }

            .image-container, .text-container {
                width: 50%;
            }
  
            @media #{$desktop} {
                .image-container, .text-container, .title-container {
                    width: 300px;
                    height: 300px;
                }
            }
            @media (max-width: 660px) {
                .image-container, .text-container, .title-container {
                    width: 100%;
                    height: 200px;
                    width: 200px;
                }
            }

            img {
                border-bottom-left-radius: 20px;
                border-top-left-radius: 20px;
                max-width: 100%;
                margin: 0;
            }

            .text-container {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }

            .text-container, .title-container {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }

            .tip-title, .tip-text, ul, li {
                color: $text-panel-text-colour;
                margin-bottom: 0;
                line-height: normal;
            }

            ul {
                text-align: left;
                margin-left: 1em;
                margin-right: 1em;

                list-style-type: disc;

                li:not(:last-child) { 
                    margin-bottom: 6px;  
                }

                li {
                    font-size: 18px;
                }

                @media #{$desktop} {

                    li {
                        font-size: 24px;
                    }
                }

                @media (max-width: 660px) {

                    margin-left: 5px;
                    margin-right: 5px;
                        
                    li {
                        font-size: 18px;
                    }
                }
            }

            .tip-title {
                margin-top: 15px;
                font-size: 22px;
                font-weight: bold;
            }

            .title-container {
                padding-left: 0.5em;
                padding-right: 0.5em;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
 
                .tip-title {
                    margin-top: 0;
                    color: $title-panel-text-colour;
                }

                @media (max-width: 660px) {
                    border-radius: 20px 20px 0 0;
                }
            }

            .tip-text {
                display: flex;
                justify-content: center;
                font-size: 20px;
                margin-top: 10px;
            }

            @media (max-width: 660px) {
                flex-direction: column;

                img.carousel-img {
                    border-radius: 20px 20px 0 0;
                }

                div.text-container {
                    border-radius: 0 0 20px 20px;
                }
            }

            @media #{$desktop} {
                .tip-title {
                    font-size: 34px;
                }
    
                .tip-text {
                    font-size: 28px;
                    min-height: 220px;
                    margin-top: 20px;
                }
                .tip-text.no-title {
                    min-height: 0;
                    margin-bottom: 20px;
                    padding-bottom: 0;
                }
            }
        }

        .title-card {

            border-width: 11px;
            border-color: #F94A29;
            border-style: solid;

            /* double border*/
            margin: 17px;
            outline: 11px solid #FFB805;

            .text-container {
                width: 60%;
            }
  
            .title-container {
                width: 40%;
            }

            @media (max-width: 660px) {
                .text-container, .title-container {
                    width: 100%;
                }

                .title-container {
                    height: 30%;
                }

                .text-container {
                    height: 60%;
                    justify-content: start;
                    padding-top: 1em;

                    .tip-text.no-title {
                        font-size: 18px;
                        padding-bottom: 0;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }      
            }
        }

        /*
          Slick list - styling of the carousel elements
        */

        .slick-list{padding:0 20% 0 20% !important;}
        button.slick-prev:before, button.slick-next:before {
            color: $text-panel-dark-shade;
        }
        .slick-slide {
            margin: 0;
        }

        button.slick-next, button.slick-prev {
            display: block;
            z-index: 100;
            padding-top: 121px;
            padding-bottom: 157px;
        }

        button.slick-next {
            right: -1px;
            padding-left: 170px;
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,1) 100%);
        }

        button.slick-next:before {
            margin-left: -45px;
            font-size: 40px;
        }

        button.slick-prev {
            left: -1px;
            padding-right: 170px;
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0) 100%);
        }

        button.slick-prev:before {
            margin-left: 0px;
            font-size: 40px;
        }

        ul.slick-dots {

            li.slick-active > button:before {
                opacity: 1;
            }

            button:before {
                font-size:25px;
                margin-top: 10px;
                color: $text-panel-dark-shade;
            }
        }

        .slick-dotted.slick-slider {
            margin-bottom: 50px;
        }    

        @media #{$desktop} {
            button.slick-next, button.slick-prev {
                display: block;
                z-index: 100;
                padding-top: 151px;
                padding-bottom: 187px;
            }    
        }

        @media (max-width: 660px) {
            button.slick-next, button.slick-prev {
                padding-top: 191px;
                padding-bottom: 227px;
            }

            button.slick-next {
                padding-left: 60px;
            }

            button.slick-prev {
                padding-right: 60px;
            }
        }
    }
}
