@import "mixins/all";
@import "../landing_page/mixins/all";

/*
    min width magic numbers:
    desktop: 1024px;
    $tablet: 768px;
    $tablet-small: 568px;
    $mobile: 400px;
*/ 

$mini-tablet: "(min-width: 660px)";


article.page-content.no-padding-bottom {
    padding-bottom: 0;
}

.wrapper.no-min-width {
    margin: 0;
    max-width: unset;
    padding: 0;
}

.marketplace-lander .title-container {
    background-color: $nbw-pale;
}

.marketplace-lander .marketplace-title-header h1.logged-out-homepage {
    
    text-align: center;
    color: $nbw-dark;

    @media (min-width: 769px) {
        font-size: 2em;
    }

    @media #{$desktop} {
        font-size: 3em;
    }
}

.logged_out_homepage {
    overflow: hidden;
    text-align: center;

    h2 {
        text-align: center;
    }

    p {
        color: $nbw-text;
        font-size: 1.5em;
        line-height: 1.5em;
        text-align: center;
        hyphens: none;
    }

    .intro-container {
        margin: auto;
    }

    .intro-section {

        margin: 0 auto;
        text-align: center;
        
        @media (min-width: 660px) {
            width: 100%;
        }
        
        @media #{$desktop} {
            max-width: 1132px;
        }

        @media (max-width: 660px) {
            margin-left: 1em;
            margin-right: 1em;
        }
  
        .intro-images {
            max-height: 282px;
            overflow:hidden;
            display:flex;
            flex-direction: row;
            justify-content: center;
            gap: 1em;

            .intro-image {
                max-width: 100%;
                max-height: inherit;
                height: inherit;
                width: inherit;

                @include border-radius(20px);

                &:hover {
                    transform: scale(1.011);
                    @include prefix-prop(transition, all 50ms ease-in-out);
                }
        
            }

            .intro-image-2 {
                @media (max-width: 660px) {
                    display: none;
                }
            }

            a.intro-link {
                max-width: inherit;
                max-height: inherit;
                height: inherit;
                width: inherit;
            }

            img {
                max-width: inherit;
                max-height: inherit;
                height: inherit;
                width: inherit;
                aspect-ratio: 1.5 / 1;
                object-fit: contain;
            }
        }
        a.hp-button {
            margin-bottom: 3em;
        }
    }

    .quick-guide-container {
        background-color: $nbw-pale;
    }

    .quick-guide {
        padding-top: 1em;

        p, h2 {
            color: $nbw-dark;
        }

        h2 {
            font-weight: bolder;
            font-size: 1.75em;
            margin-bottom: 0.2em;
        }

        p.so-simple {
            font-size: 3em;
            font-weight: 400;

            @media (max-width: 660px) {
                font-size: 2em;
            }
        }

        .guide-columns {
            max-width: 1192px;
            display: flex;
            justify-content: center;
            margin: auto;
            margin-bottom: 0.5em;

            @media (max-width: 660px) {
                flex-direction: column;
            }

            .guide-column {
                display: flex;
                flex-direction: column;
                flex: 1 1 0;

                &:hover {
                    transform: scale(1.011);
                    @include prefix-prop(transition, all 50ms ease-in-out);
                }

                img {

                    width: 200px;
                    @media (min-width: 569px) and (max-width: 700px) {
                        width: 180px;
                    }
                    @media #{$desktop} {
                        width: 300px;
                    }                
    
                    @include border-radius(20px);

                    border-style: solid;
                    border-width: 2px;
                    border-color: #ffffff;
                }

                p.step-number {
                    font-weight: bolder;

                    @media (max-width: 660px) {
                        margin-bottom: 0;
                    }        
                }

                p.step-description {
                    @media (max-width: 660px) {
                        margin-bottom: 1em;
                    }        
                }
            }
        }
        a.hp-button {
            margin-bottom: 3em;
        }
    }

    .tips-container {
        padding-top: 3em;
        padding-bottom: 2.5em;
        margin: auto;

        @media (max-width: 660px) {
            margin-left: 1em;
            margin-right: 1em;
        }

        a.follow-insta {
            color: $nbw-dark;
            margin-bottom: 0;
            line-height: 4em;

            span {
                font-weight: bold;
            }
            svg {
                vertical-align: text-bottom;
                margin-right: 0.075em;
            }
            path {
                fill: $nbw-dark;
            }
        }

        max-width: 1024px;
    }

    .our-story-container {
        background-color: $nbw-pale;

        .our-story {
            p, h2, h3 {
                color: $nbw-dark;
            }    

            h2 {
                font-size: 3em;
                padding-top: 1em;

                @media (min-width: 660px) {
                    margin-bottom: 1em;
                }
            }

            .our-story-columns {
                max-width: 1192px;
                display: flex;
                justify-content: center;
                margin: auto;

                @media (max-width: 660px) {
                    flex-direction: column;
                }    
    
                .our-story-column {
                    display: flex;
                    flex-direction: column;
                    margin: 0 50px 50px 50px;
                    justify-content: space-between;
                    flex: 1 1 0;
    
                    .our-story-icon {
                        min-height: 5em;
                        background-repeat: no-repeat;
                        background-position: center;
                        margin-bottom: 1em;
                    }

                    .code-of-conduct-icon {
                        background-image: url(image-path("logged_out_homepage/code-of-conduct-icon.svg"));
                    }

                    .about-icon {
                        background-image: url(image-path("logged_out_homepage/about-icon.svg"));
                    }

                    .how-it-works-icon {
                        background-image: url(image-path("logged_out_homepage/how-it-works-icon.svg"));
                    }

                    h3 {
                        font-size: 1.75em;

                        margin-bottom: 0.25em;
                        @media (min-width: 660px) {
                            margin-bottom: 1.25em;
                        }
                    }

                    p { 
                        font-size: 1.25em;
                        @media (min-width: 660px) {
                            margin-bottom: 1.25em;
                        }
                    }
                }

                @media (min-width: 660px) and (max-width: 1024.9px) {
                    div.story-button-container {
                        min-height: 104px;
                    }
                }    
            }

    
    
            @media #{$desktop} {
                div.our-story-column {
                    min-height: 300px;

                    h3.our-story-title {
                        min-height: 48px;
                        margin-bottom: 5px;
                    }

                    p.our-story-text {
                        min-height: 60px;
                    }
                }
            }
        }
    }

    a.hp-button {
        text-align:center;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.2px;
        padding: 14px 30px;
        display: inline-block;
        border-radius: 1000px;
        border-width: 2px;
        border-style: solid;
    }

    a.hp-button-standard {
        background-color: $nbw-pale;
        color: $nbw-dark;
        border-color: $nbw-pale;
    }

    a.hp-button-inverted {
        background-color: $nbw-dark;
        color: white;
        border-color: $nbw-dark;
    }
}


