@import "mixins/all";
@import "../landing_page/mixins/all";

/*
    min width magic numbers:
    desktop: 1024px;
    $tablet: 768px;
    $tablet-small: 568px;
    $mobile: 400px;
*/ 
@font-face { font-family: Fifita; src: url('Fifita_Regular_free.ttf'); } 
@font-face { font-family: Courgette; src: url('Courgette-Regular.ttf'); } 

$mini-tablet: "(min-width: 660px)";
$homepage-text-colour: #4a4a4a;


article.page-content.no-padding-bottom {
    padding-bottom: 0;
    padding-top: 0;
}

.wrapper.no-min-width {
    margin: 0;
    max-width: unset;
    padding: 0;
}

.marketplace-lander .title-container {
    background-color: $nbw-dark;
}

.marketplace-lander .marketplace-title-header h1.logged-out-homepage {
    
    text-align: center;
    color: white;

    @media (min-width: 769px) {
        font-size: 1.5em;
    }

    @media #{$desktop} {
        font-size: 2em;
    }
}

.marketplace-lander {
    .coverimage {
        figure.marketplace-cover-small-fade, figure.marketplace-cover-small {
            height: 3em;
        }
    }
}

.logged_out_homepage {
    overflow: hidden;
    text-align: center;

    h2 {
        text-align: center;
        color: $homepage-text-colour;
    }

    p {
        color: $nbw-text;
        font-size: 1.5em;
        line-height: 1.25em;
        text-align: center;
        hyphens: none;
        color: $homepage-text-colour;
    }

    .banner {
        position: relative;
        overflow: hidden;
        background-color: #fde1e7;

        img {
            /* Make image responsive */
            display: block;
            width: 50%;
            aspect-ratio: 842/667;
            float: left;
        }
        
        .caption {
            display: flex;
            flex-direction: column;
            justify-content: center;
            left: 50%;
            padding-left: 10px;
            padding-right: 10px;
    
            p, h2 {
                color: $homepage-text-colour;
            }

            h2 {
                line-height: 1em;
                @media #{$desktop} {
                    padding-bottom: 0.4em;
                }
            }
            .banner-title {

                font-size: 3em;

                @media (min-width: 660px) {
                    font-size: 1.5em;
                }

                @media (min-width: 769px) {
                    font-size: 2em;
                }
            
                @media (min-width: 900px) {
                    font-size: 2.5em;
                }

                @media #{$desktop} {
                    font-size: 3em;
                }

                @media (min-width: 1200px) {
                    font-size: 4em;
                }
            
                line-height: 1.15em;
                margin-bottom: 10px;

                span.hardlyEver::before {
                    content: "or hardly ever";
                    top: -1.4em;
                    left: -1em;
                    transform: rotate(-5deg);
                    width: max-content;
                }
                
                span.hardlyEver::before, span.hardlyEver::after {
                    display: block;
                    position: absolute;
                    color: red;
                    font-weight: 700;
                    font-size: 0.6em;
                    font-family: 'Courgette', sans-serif;
                }

                span.hardlyEver {
                    position: relative;
                    display: inline-block;
                }

                span.hardlyEver::after {
                    content: "^";
                    bottom: -0.9em;
                    left: -0.1em;
                }
            }
            .banner-text {
                @media #{$desktop} {
                    padding-bottom: 1em;
                }
            }
            .hp-banner-button {
                color: $nbw-pale;
                background-color: $homepage-text-colour;
                border-radius: 0;
                border-color: $homepage-text-colour;
            }
            .hp-banner-button:hover {
                color: $homepage-text-colour;
                background: none;
                border-radius: 0;
            }

            position: absolute;
            top: 0;
            width: 50%;
            height: 100%;
            //background-color: #FFAD15;
        }

        .caption>p {
            text-align: center;
        }

        @media (max-width: 660px) {

            .caption {
                left: auto;
                width: 100%;
                overflow: hidden;
                position: unset;
                padding-top: 2.5em;
                padding-bottom: 2em;
            }
            img {
                width: 100%;
                overflow: hidden;
                float:none;
            }
        }
    }

    .wardrobe-challenge-section {

        background-color: #FFF5c3;
        display: flex;
        flex-direction: row-reverse;

        .wardrobe-challenge-link {
            background-color: #FFF5c3;
        }

        .wardrobe-challenge-image {
            width: 50%;

            display: flex;
            align-items: center;
            justify-content: center;
            background-size: cover;
            text-align: center;

            .image-container {
                display: flex;
                align-items: center;
                justify-content: center;
                background-size: cover;
                text-align: center;
                img {
                    width: 100%;
                    aspect-ratio: 1.5;
                    padding: 10px;
                    border-radius: 20px;
                }
            }
        }

        .caption {
            width: 50%;

            display: flex;
            align-items: center;
            justify-content: center;
            background-size: cover;
            text-align: center;

            .caption-container {

                padding: 20px;

                p, h2 {
                    color: $homepage-text-colour;
                }
                .banner-title {

                    font-size: 2em;

                    @media #{$desktop} {
                        font-size: 3em;
                    }

                    @media (max-width: 1200px) {
                        font-size: 2.5em;
                    }            
                
                    line-height: 1.15em;
                    margin-bottom: 10px;
                }

                a.hp-button {
                    background-color: $homepage-text-colour;
                    color: white;
                    border-color: $homepage-text-colour;
                }
                a.hp-button:hover {
                    background: none;
                    color: $homepage-text-colour;
                    border-color: $homepage-text-colour;
                }            
            }
        }

        @media (max-width: 660px) {

            flex-direction: column;

            .wardrobe-challenge-image, .caption {
                width: 100%;
            }

            img {
                padding-top: 10px;
            }
        }
    }

    .quick-guide-container {
        background-color: none;
    }

    .quick-guide {
        padding-top: 2em;

        p, h2 {
            color: $homepage-text-colour;
        }

        h2 {
            font-size: 3em;
            font-weight: 400;

            @media (max-width: 660px) {
                font-size: 2em;
            }
        }

        .guide-columns {
            max-width: 1192px;
            display: flex;
            justify-content: center;
            margin: auto;
            margin-bottom: 0.5em;

            @media (max-width: 660px) {
                flex-direction: column;
            }

            .guide-column {
                display: flex;
                flex-direction: column;
                flex: 1 1 0;
                position: relative;
                padding-bottom: 120px;

                &:hover {
                    transform: scale(1.011);
                    @include prefix-prop(transition, all 50ms ease-in-out);
                }

                .guide-column-content {
                    text-align: center;
                    text-align: -webkit-center;
                }

                img {

                    width: 200px;
                    height: 200px;
                    @media (min-width: 569px) and (max-width: 700px) {
                        width: 180px;
                        height: 180px;
                    }
                    @media #{$desktop} {
                        width: 300px;
                        height: 300px;
                    }                
    
                    @include border-radius(20px);

                    border-style: solid;
                    border-width: 2px;
                    border-color: #ffffff;
                }

                p.step-number {
                    font-weight: bolder;

                    @media (max-width: 660px) {
                        margin-bottom: 0;
                    }        
                }

                p.step-title {
                    width: 80%;
                    font-weight: bolder;
                }

                p.step-description {
                    width: 80%;
                    @media (max-width: 660px) {
                        margin-bottom: 1em;
                    }        
                }

                a.guide-button {
                    width: max-content;
                    align-self: center;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
        a.hp-button {
            margin-bottom: 3em;
        }
    }

    .sustainability-banner {
        position: relative;
        overflow: hidden;
        background-color: #298D37;

        display: flex;
        flex-direction: row-reverse;
        @media (max-width: 660px) {
            flex-direction: column;
        }

        img {
            display: block;
            width: 50%;
            aspect-ratio: 750/638;
            object-fit: cover;
        }
        
        .caption {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 10px;
            padding-right: 10px;

            width: 50%;
            padding-top: 1em;
            padding-bottom: 1em;
            @media (max-width: 660px) {
                width: 100%;
                padding-top: 0;
                padding-bottom: 0;
            }

            p, h2 {
                color: #B7F89C;
            }

            h2 {
                line-height: 1em;
                @media #{$desktop} {
                    padding-bottom: 0.4em;
                }
            }
            .banner-title {

                font-size: 3em;

                @media (min-width: 660px) {
                    font-size: 2em;
                }

                @media (min-width: 769px) {
                    font-size: 2.5em;
                }
            
                @media #{$desktop} {
                    font-size: 4em;
                }
            
                line-height: 1.15em;
                margin-bottom: 10px;
            }
            .banner-text {
                @media #{$desktop} {
                    padding-bottom: 1em;
                }
            }

            .hp-banner-button {
                color: #298D37;
                background-color: #B7F89C;
                border-radius: 0;
                border-color: #B7F89C;
            }
            .hp-banner-button:hover {
                color: #B7F89C;
                background: none;
                border-radius: 0;
            }
        }

        .caption>p {
            text-align: center;
        }

        @media (max-width: 660px) {

            .caption {
                left: auto;
                width: 100%;
                overflow: hidden;
                position: unset;
                padding-top: 1em;
                padding-bottom: 2em;
            }
            img {
                width: 100%;
                overflow: hidden;
                float:none;
            }
        }
    }

    .tips-container {
        h2 {
            font-size: 3em;
            font-weight: 600;
            color: $nbw-dark;

            @media (max-width: 660px) {
                font-size: 2em;
            }
        }
    }

    .seasonal-articles-container {
        $seasonal-articles-bg: #FFF5c3;
        background-color: $seasonal-articles-bg;

        .seasonal-articles {
            p, h2, h3 {
                color: $homepage-text-colour;
            }    

            a.hp-button-inverted {
                color: $seasonal-articles-bg;
            }

            a.hp-button-inverted:hover {
                color: $homepage-text-colour;
            }

            h2 {
                font-size: 3em;
                padding-top: 1em;

                @media (min-width: 660px) {
                    margin-bottom: 1em;
                }
            }

            .seasonal-articles-columns {
                max-width: 1192px;
                display: flex;
                justify-content: center;
                margin: auto;

                @media (max-width: 660px) {
                    flex-direction: column;
                }    
    
                .seasonal-articles-column {
                    display: flex;
                    flex-direction: column;
                    margin: 0 0 50px 0;
                    justify-content: space-between;
                    flex: 1 1 0;
                    align-items: center;

                    h3 {
                        font-size: 1.75em;

                        margin-bottom: 0.5em;
                        @media (min-width: 660px) {
                        }
                    }

                    p { 
                        font-size: 1.25em;
                        margin-bottom: auto;
                    }

                    p.step-number {
                        margin-bottom: 1em;
                        font-size: 1.5em;
                        font-weight: bolder;
                    }

                    img {
                        aspect-ratio: 1;
                        border-radius: 20px;
                        margin-bottom: 0.5em;

                        width: 200px;
                        @media (min-width: 569px) and (max-width: 700px) {
                            width: 180px;
                        }
                        @media #{$desktop} {
                            width: 250px;
                        }
        
                        &:hover {
                            transform: scale(1.011);
                            @include prefix-prop(transition, all 50ms ease-in-out);
                        }        
                    }
                }

                div.story-button-container {
                    margin-top: 1.25em;
                }

                @media (min-width: 660px) and (max-width: 1024.9px) {
                    div.story-button-container {
                        min-height: 104px;
                    }
                }    
            }

    
    
            @media #{$desktop} {
                div.seasonal-articles-column {
                    min-height: 300px;

                    h3.seasonal-articles-title {
                        min-height: 48px;
                    }

                    p.step-number {
                        margin-bottom: 1em;
                    }

                    p.seasonal-articles-text {
                        min-height: 60px;
                    }
                }
            }
        }
    }

    a.hp-button {
        text-align:center;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.2px;
        padding: 14px 30px;
        display: inline-block;
        border-radius: 0;
        border-width: 2px;
        border-style: solid;
    }

    a.hp-button-inverted {
        background-color: $homepage-text-colour;
        color: white;
    }

    a.hp-button-inverted:hover {
        background: none;
        color: $homepage-text-colour;
        border-color: $homepage-text-colour;
    }
}

