@import "mixins/all";
@import "../landing_page/mixins/all";

/*
    min width magic numbers:
    desktop: 1024px;
    $tablet: 768px;
    $tablet-small: 568px;
    $mobile: 400px;
*/ 

$mini-tablet: "(min-width: 660px)";
$homepage-text-colour: #4a4a4a;


article.page-content.no-padding-bottom {
    padding-bottom: 0;
    padding-top: 0;
}

.wrapper.no-min-width {
    margin: 0;
    max-width: unset;
    padding: 0;
}

.marketplace-lander .title-container {
    background-color: white;
}

.marketplace-lander .marketplace-title-header h1.logged-out-homepage {
    
    text-align: center;
    color: $nbw-dark;

    @media (min-width: 769px) {
        font-size: 2em;
    }

    @media #{$desktop} {
        font-size: 3em;
    }
}

.logged_out_homepage {
    overflow: hidden;
    text-align: center;

    h2 {
        text-align: center;
        color: $homepage-text-colour;
    }

    p {
        color: $nbw-text;
        font-size: 1.5em;
        line-height: 1.5em;
        text-align: center;
        hyphens: none;
        color: $homepage-text-colour;
    }

    .banner {
        position: relative;
        overflow: auto;
        background-color: #F1E6FF;

        img {
            /* Make image responsive */
            display: block;
            width: 50%;
            float: left;
        }
        
        .caption {
            display: flex;
            flex-direction: column;
            justify-content: center;
            left: 50%;
    
            p, h2 {
                color: $homepage-text-colour;
            }
            .banner-title {

                font-size: 3em;

                @media (min-width: 660px) {
                    font-size: 2em;
                }

                @media (min-width: 769px) {
                    font-size: 2.5em;
                }
            
                @media #{$desktop} {
                    font-size: 4em;
                }
            
                line-height: 1.15em;
                margin-bottom: 10px;
            }
            .banner-text {
                @media #{$desktop} {
                    padding-bottom: 1em;
                }
            }
            .hp-banner-button {
                color: $homepage-text-colour;
                background-color: none;
                border-radius: 0;
                border-color: $homepage-text-colour;
            }
            .hp-banner-button:hover {
                color: #F1E6FF;
                background-color: $homepage-text-colour;
                border-radius: 0;
            }

            position: absolute;
            top: 0;
            width: 50%;
            height: 100%;
            //background-color: #FFAD15;
        }

        .caption>p {
            text-align: center;
        }

        @media (max-width: 660px) {

            .caption {
                left: auto;
                width: 100%;
                overflow: hidden;
                position: unset;
                padding-top: 1em;
                padding-bottom: 2em;
            }
            img {
                width: 100%;
                overflow: hidden;
                float:none;
            }
        }
    }

    .wardrobe-challenge-section {
        display:none;
        position: relative;
        overflow: hidden;
        background-color: #efefef;

        .wardrobe-challenge-link {
            background-color: #efefef;
        }

        img {
            /* Make image responsive */
            display: block;
            width: 50%;
            float: right;
        }
        
        .caption {
            display: flex;
            flex-direction: column;
            justify-content: center;
            left: 0%;
    
            p, h2 {
                color: $homepage-text-colour;
            }
            .banner-title {

                font-size: 2em;

                @media #{$desktop} {
                    font-size: 3em;
                }
            
                line-height: 1.15em;
                margin-bottom: 10px;
            }
            .banner-text {
                @media #{$desktop} {
                    padding-bottom: 1em;
                }
            }
            .hp-banner-button {
                color: $homepage-text-colour;
                background-color: none;
                border-radius: 0;
                border-color: $homepage-text-colour;
            }
            .hp-banner-button:hover {
                color: #F1E6FF;
                background-color: $homepage-text-colour;
                border-radius: 0;
            }

            position: absolute;
            top: 0;
            width: 50%;
            height: 100%;
            //background-color: #FFAD15;
        }

        .caption>p {
            text-align: center;
        }

        @media (max-width: 660px) {

            .caption {
                left: auto;
                width: 100%;
                overflow: hidden;
                position: unset;
                padding-top: 1em;
                padding-bottom: 2em;
            }
            img {
                width: 100%;
                overflow: hidden;
                float:none;
            }
        }
    }




    .intro-container {
        margin: auto;
        margin-top: 30px;
        background-color: #efefef;
        padding-top: 3em;

        .intro-content {
            overflow: hidden;
            padding-right: 10px;
        }

        .intro-section {

            margin: 0 auto;
            text-align: center;

            @media (min-width: 660px) {
                width: 100%;
            }
            
            @media (max-width: 660px) {
                margin-left: 1em;
                margin-right: 1em;
            }

            h2 {
                font-size: 2em;
                margin: 0 0.5em 0.5em 0.5em;

                @media (min-width: 769px) {
                    font-size: 2em;
                }
            
                @media #{$desktop} {
                    font-size: 3em;
                }
            }
    
            .intro-image {
                width: 50%;
                float: right;
                max-height: 282px;
                overflow: visible;
                margin-bottom: 1em;

                @media (max-width: 660px) {
                    width: 100%;
                    float: none;
                }

                @media #{$desktop} {
                    max-height: 95%;
                    margin-bottom: 10px;
                }

                img.intro-image {
                    max-width: 100%;
                    max-height: inherit;
                    height: inherit;
                    width: 100%;

                    @include border-radius(20px);

                    &:hover {
                        transform: scale(1.011);
                        @include prefix-prop(transition, all 50ms ease-in-out);
                    }
            
                }

                a.intro-link {
                    max-width: inherit;
                    max-height: inherit;
                    height: inherit;
                    width: inherit;
                }

                img {
                    max-width: inherit;
                    max-height: inherit;
                    height: inherit;
                    width: inherit;
                    aspect-ratio: 1.5 / 1;
                    object-fit: contain;
                }
            }

            .intro-text {
                width: 50%;
                left: 0;
                padding-left: 1em;
                padding-right: 1em;

                @media (max-width: 660px) {
                    width: 100%;
                }
            }

            a.hp-button {
                margin-bottom: 3em;
                margin-top: 1em;
            }
        }
    }

    .quick-guide-container {
        background-color: none;
    }

    .quick-guide {
        padding-top: 2em;

        p, h2 {
            color: $homepage-text-colour;
        }

        h2 {
            font-weight: bolder;
            font-size: 1.75em;
            margin-bottom: 0.2em;
        }

        p.so-simple {
            font-size: 3em;
            font-weight: 400;

            @media (max-width: 660px) {
                font-size: 2em;
            }
        }

        .guide-columns {
            max-width: 1192px;
            display: flex;
            justify-content: center;
            margin: auto;
            margin-bottom: 0.5em;

            @media (max-width: 660px) {
                flex-direction: column;
            }

            .guide-column {
                display: flex;
                flex-direction: column;
                flex: 1 1 0;

                &:hover {
                    transform: scale(1.011);
                    @include prefix-prop(transition, all 50ms ease-in-out);
                }

                img {

                    width: 200px;
                    @media (min-width: 569px) and (max-width: 700px) {
                        width: 180px;
                    }
                    @media #{$desktop} {
                        width: 300px;
                    }                
    
                    @include border-radius(20px);

                    border-style: solid;
                    border-width: 2px;
                    border-color: #ffffff;
                }

                p.step-number {
                    font-weight: bolder;

                    @media (max-width: 660px) {
                        margin-bottom: 0;
                    }        
                }

                p.step-description {
                    @media (max-width: 660px) {
                        margin-bottom: 1em;
                    }        
                }
            }
        }
        a.hp-button {
            margin-bottom: 3em;
        }
    }

    .tips-container {
        padding-top: 3em;
        padding-bottom: 2.5em;
        margin: auto;

        @media (max-width: 660px) {
            margin-left: 1em;
            margin-right: 1em;
        }

        a.follow-insta {
            color: $nbw-dark;
            margin-bottom: 0;
            line-height: 4em;
            font-size: 20px;

            span {
                font-weight: bold;
            }
            svg {
                vertical-align: text-bottom;
                margin-right: 0.075em;
            }
            path {
                fill: $nbw-dark;
            }
        }

        max-width: 1024px;
    }

    .our-story-container {
        background-color: $nbw-pale;

        .our-story {
            p, h2, h3 {
                color: $homepage-text-colour;
            }    

            h2 {
                font-size: 3em;
                padding-top: 1em;

                @media (min-width: 660px) {
                    margin-bottom: 1em;
                }
            }

            .our-story-columns {
                max-width: 1192px;
                display: flex;
                justify-content: center;
                margin: auto;

                @media (max-width: 660px) {
                    flex-direction: column;
                }    
    
                .our-story-column {
                    display: flex;
                    flex-direction: column;
                    margin: 0 50px 50px 50px;
                    justify-content: space-between;
                    flex: 1 1 0;
    
                    .our-story-icon {
                        min-height: 5em;
                        background-repeat: no-repeat;
                        background-position: center;
                        margin-bottom: 1em;
                    }

                    .code-of-conduct-icon {
                        background-image: url(image-path("logged_out_homepage/code-of-conduct-icon.svg"));
                    }

                    .about-icon {
                        background-image: url(image-path("logged_out_homepage/about-icon.svg"));
                    }

                    .how-it-works-icon {
                        background-image: url(image-path("logged_out_homepage/how-it-works-icon.svg"));
                    }

                    h3 {
                        font-size: 1.75em;

                        margin-bottom: 0.25em;
                        @media (min-width: 660px) {
                            margin-bottom: 1.25em;
                        }
                    }

                    p { 
                        font-size: 1.25em;
                        @media (min-width: 660px) {
                            margin-bottom: 1.25em;
                        }
                    }
                }

                @media (min-width: 660px) and (max-width: 1024.9px) {
                    div.story-button-container {
                        min-height: 104px;
                    }
                }    
            }

    
    
            @media #{$desktop} {
                div.our-story-column {
                    min-height: 300px;

                    h3.our-story-title {
                        min-height: 48px;
                        margin-bottom: 5px;
                    }

                    p.our-story-text {
                        min-height: 60px;
                    }
                }
            }
        }
    }

    a.hp-button {
        text-align:center;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.2px;
        padding: 14px 30px;
        display: inline-block;
        border-radius: 0;
        border-width: 2px;
        border-style: solid;
    }

    a.hp-button-standard {
        background-color: none;
        color: $homepage-text-colour;
        border-color: $homepage-text-colour;
    }

    a.hp-button-standard:hover {
        background-color: $homepage-text-colour;
        color: white;
        border-color: $homepage-text-colour;
    }

    a.hp-button-inverted:hover {
        background-color: $homepage-text-colour;
        color: white;
    }

    a.hp-button-inverted {
        background-color: none;
        color: $homepage-text-colour;
        border-color: $homepage-text-colour;
    }
}

