@import "mixins/all";
@import "../landing_page/mixins/all";

.my_story {

    h2 {
        margin-top: 0.5em;
    }
    
    p {
        text-align: justify;
    }

    .strong {
        font-weight: bold;
    }


    p.register-now {
        clear:both;
        font-size: 1.5em;
        font-weight: bold;
    }

    ul {
        margin-bottom: 0.75em;
    }

    span.nbw-dark {
        color: $nbw-dark;
    }

    /* make the heading align with the image on desktop, be above it on mobile, can't find an elegant way to do it */
    h2.show-mobile {
        display: none;
    }

    h2.show-desktop {
        display: block;
        margin-top: 0;
    }

    @media #{$mobile} {
        h2 {
            font-size: 1.5em;
        }

        h2.show-mobile {
            display: block;
        }

        h2.show-desktop {
            display: none;
        }
    }

    .my-story-image {
        width: 300px;
        aspect-ratio: 3/2;
        float: right;
        margin-left: 20px;

        img {
            width: 100%;
            border-radius: 10px;
            vertical-align: middle;
        }
    }

    @media #{$mobile} {
        .my-story-image {
            float: none;
            margin: 0;
            width: 100%;
            aspect-ratio: 3/2;
            height: auto;
            margin-bottom: 1em;

            img {
                border-radius: 20px;
            }
        }
    }

    .my-story-section {
        overflow: hidden;
    }

    .book-a-consultation-panel {
        width: 300px;
        float: right;
        margin-left: 20px;
        border-radius: 10px;
        aspect-ratio: 3/2;
        margin-top: 40px;
        margin-bottom: 40px;

        @media #{$mobile} {
            width: 100%;
            margin: 0 0 20px 0;
        }

        .book-a-consultation {
            padding: 20px;
            text-align: center;
            text-align: -webkit-center;
            text-align: center;
            background-color: #C6E7BD;
            border-radius: 10px;
            position: relative;

            margin-top: 105px;
            padding-top: 100px;

            .consultation-image {
                position: absolute;
                display: flex;
                top: 0;
                padding: 0;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 250px;
                height: 250px;
                text-decoration: none;
                background: 0 0;
                align-items: center;
                justify-content: center;

                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    border: 10px solid #C6E7BD;
                }
            }

            h2 {
                font-size: 2em;
                font-weight: bold;
            }

            p {
                font-size: 1.5em;
                text-align: unset;
                line-height: 1.2;
            }

            .calendly-cta {
                padding-top: 6px;

                button {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

}