@import "mixins/all";
@import "../landing_page/mixins/all";

.my_story {

    h2 {
        margin-top: 0.5em;
    }
    
    p {
        text-align: justify;
    }

    .strong {
        font-weight: bold;
    }


    p.register-now {
        font-size: 1.5em;
        font-weight: bold;
    }

    ul {
        margin-bottom: 0.75em;
    }

    span.nbw-dark {
        color: $nbw-dark;
    }

    /* make the heading align with the image on desktop, be above it on mobile, can't find an elegant way to do it */
    h2.show-mobile {
        display: none;
    }

    h2.show-desktop {
        display: block;
        margin-top: 0;
    }

    @media #{$mobile} {
        h2 {
            font-size: 1.5em;
        }

        h2.show-mobile {
            display: block;
        }

        h2.show-desktop {
            display: none;
        }
    }

    .my-story-image {
        width: 300px;
        aspect-ratio: 3/2;
        float: right;
        margin-left: 20px;

        img {
            width: 100%;
            border-radius: 10px;
            vertical-align: middle;
        }
    }

    @media #{$mobile} {
        .my-story-image {
            float: none;
            margin: 0;
            width: 100%;
            aspect-ratio: 3/2;
            height: auto;
            margin-bottom: 1em;

            img {
                border-radius: 20px;
            }
        }
    }

    .my-story-section {
        overflow: hidden;
    }

}