-image_url = image_path(article[:main_article_image])
%li.article-card{:role => "article"}
  = link_to(article_path(id=article[:id]), :class => "article-link") do
    .article-image-container
      =image_tag(image_url, class: 'article_card_image', alt: article[:main_image_alt_text])
    %h2.article-title
      = article[:title]
    %p.article-summary
      = article[:description]
    .button-holder
      %span.read-button
        Read