%tr
  %td{style: "padding:0;", colspan: "2"}
    %h2
      Autumn Newsflash from
      %a{href: "https://neverbeenworn.co.uk"}
        neverbeenworn.co.uk
      -# =@email_content[:newsflash_title]

    %p{style: "font-size: 20px; line-height: 23px;"}
      =@email_content[:newsflash_subtitle]

%tr
  %td{style: "padding:0;", colspan: "2"}
    -# <img src="images/h1.png" alt="" width="300" style="height:auto;display:block;" />
    -hero_path = image_url(@email_content[:hero_image_path])
    %img{src: hero_path, alt: "Get your effortless style this autumn: Stylish woman in the park on a sunny autumn day. She wears a white knitted top under a long beige coat, with an oversized mahogany brown leather bag, tan leather belt, and semi-mirrored aviators", width: "775px", style: "width:100%;height:auto;display:block;"}

-# %tr
-#   %td{style: "padding:0;", colspan: "2"}
-#     %h2
-#       Effortless Autumn Hacks

%tr
  %td{style: "padding:0;", colspan: "2"}
    %p{style: "margin-top: 24px; font-size: 20px; line-height: 23px;"}
      So here are my Effortless Autumn cheats and easy hacks to get your wardrobe in order in no time.
      They are all designed to save you time and keep your wardrobe in check this season.     

- article_image_cell_style="width: 37.5%;font-size: 24px;color: #525961;padding: 20px 20px 20px 0;vertical-align: top;"
- article_text_cell_style="font-size: 24px; color: #525961; padding: 20px 20px 20px 0;vertical-align: top;"
- article_read_more_style="background: #FFFFFF; padding: 8px 12px; border: 2px solid #5e7d2b;border-radius: 0px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; text-decoration: none;font-weight:bold;display: inline-block;"
- article_image_style="width:100%;height:auto;display:block;"

- @email_content[:articles].each do |article|
  %tr
    %td{style: article_image_cell_style}
      - article_url = article['url']
      %a{href: article_url}
        %img{src: article['thumbnail'], alt: article['alt_text'], width: "100%", height: "auto", style: "width:100%;height:auto;display:block;"}
    %td{style: article_text_cell_style}
      %h3{style: "margin-top: 0;"}
        %a{href: article_url}
          =article['title']

      - article[:description].each do |description_paragraph|
        %p
          = description_paragraph
      
      %a{href: article_url, target: "_blank", style: article_read_more_style}
        Read more
%tr
  %td{style: "padding:0;", colspan: "2"}
    %p{style: "font-size: 20px; line-height: 23px;"}
      Each one of my hacks is designed to effortlessly save you time and make your life that little bit easier.
      Remember if it not working for you then it’s not effortless.

%tr
  %td{style: "padding:0;", colspan: "2"}
    %p{style: "font-size: 20px; line-height: 23px;"}
      Stay effortless ladies and enjoy the season.

    %p{style: "font-size: 20px; line-height: 23px;"}
      Ciao Ciao for now

    -signature_image_url = "https:" + image_path("my_story/rabena-signature.jpg")
    %img{src: @email_content[:signature_path], alt: "Signature of Rabena the founder of neverbeenworn.co.uk", width: "322px", height: "78px", style: "width:231px;height:78px;display:block;"}
    
    %h3
      Rabena

    %p
      Founder | neverbeenworn.co.uk

