%tr
  %td{style: "padding:0;", colspan: "2"}
    %h2
      Autumn Newsflash from
      %a{href: "https://neverbeenworn.co.uk"}
        neverbeenworn.co.uk
      -# =@email_content[:newsflash_title]

    %p{style: "font-size: 20px; line-height: 23px;"}
      Autumn is well and truly underway. If you haven’t caught my effortless autumn hacks this season you might be on the back foot already.
      -# =@email_content[:newsflash_subtitle]

%tr
  %td{style: "padding:0;", colspan: "2"}
    -# <img src="images/h1.png" alt="" width="300" style="height:auto;display:block;" />
    %img{src: "http://localhost:5000/system/newsflash_hero_images/7/original/effortless-autumn-hacks.jpg", alt: "Autumnal image of red fallen leaves around text reading Effortless Autumn Hacks.", width: "775px", style: "width:100%;height:auto;display:block;"}

-# %tr
-#   %td{style: "padding:0;", colspan: "2"}
-#     %h2
-#       Effortless Autumn Hacks

%tr
  %td{style: "padding:0;", colspan: "2"}
    %p{style: "margin-top: 24px; font-size: 20px; line-height: 23px;"}
      So here are my Effortless Autumn cheats and easy hacks to get your wardrobe in order in no time.
      They are all designed to save you time and keep your wardrobe in check this season.     

- article_image_cell_style="width: 37.5%;font-size: 24px;color: #525961;padding: 20px 20px 20px 0;vertical-align: top;"
- article_text_cell_style="font-size: 24px; color: #525961; padding: 20px 20px 20px 0;vertical-align: top;"
- article_read_more_style="background: #FFFFFF; padding: 8px 12px; border: 2px solid #5e7d2b;border-radius: 0px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; text-decoration: none;font-weight:bold;display: inline-block;"
- article_image_style="width:100%;height:auto;display:block;"
%tr
  %td{style: article_image_cell_style}
    %a{href: "https://neverbeenworn.co.uk/en/blog/top_5_fixes_for_autumn"}
      %img{src: "https://neverbeenworn.co.uk/assets/blog/top-5-fixes-for-autumn/red-jumper-shopping-square-56c62e07c26e4989f793647ddb10031498522c4713eb4c204d7ed00db19dc4db.jpg", alt: "Autumnal image of red fallen leaves on a forest floor", width: "100%", height: "auto", style: "width:100%;height:auto;display:block;"}
  %td{style: article_text_cell_style}
    %h3{style: "margin-top: 0;"}
      %a{href: "https://neverbeenworn.co.uk/en/blog/top_5_fixes_for_autumn"}
        5 top fixes for your autumn wardrobe
    %p
      How to get your autumn wardrobe ready super quick in 5 simple steps

    %p
      Save time and keep you looking great with less effort
    
    %a{href: "https://neverbeenworn.co.uk/en/blog/top_5_fixes_for_autumn", target: "_blank", style: article_read_more_style}
      Read more

%tr
  %td{style: article_image_cell_style}
    %a{href: "https://neverbeenworn.co.uk/en/blog/baggy_suit"}
      %img{src: "https://neverbeenworn.co.uk/assets/blog/baggy-suit/three-women-blazers-square-de8c2602ba6590d6c37662d5149719829b9e9f34cf13ca86c2312da6da237c93.jpg", alt: "Autumnal image of red fallen leaves on a forest floor", width: "100%", height: "auto", style: "width:100%;height:auto;display:block;"}
  %td{style: article_text_cell_style}
    %h3{style: "margin-top: 0;"}
      %a{href: "https://neverbeenworn.co.uk/en/blog/baggy_suit"}
        Baggy Suits – how to wear this season’s wardrobe must have
    %p
      Find out why this item is an effortless essential for your hybrid work from anywhere wardrobe
    
    %a{href: "https://neverbeenworn.co.uk/en/blog/baggy_suit", target: "_blank", style: article_read_more_style}
      Read more

%tr
  %td{style: article_image_cell_style}
    %a{href: "https://neverbeenworn.co.uk/en/blog/big_boots_how_to_wear_them"}
      %img{src: "https://neverbeenworn.co.uk/assets/blog/big-boots/sitting-on-plinth-square-21846d2b9e115e44cd76f68de2cea273773d2106c6c8e3316db6f873c93dbb85.jpg", alt: "Autumnal image of red fallen leaves on a forest floor", width: "100%", height: "auto", style: "width:100%;height:auto;display:block;"}
  %td{style: article_text_cell_style}
    %h3{style: "margin-top: 0;"}
      %a{href: "https://neverbeenworn.co.uk/en/blog/big_boots_how_to_wear_them"}
        Big boots are back this season
    %p
      How to buy them and why they are great news for your wardrobe and your wallet
    
    %a{href: "https://neverbeenworn.co.uk/en/blog/big_boots_how_to_wear_them", target: "_blank", style: article_read_more_style}
      Read more

%tr
  %td{style: article_image_cell_style}
    %a{href: "https://neverbeenworn.co.uk/en/blog/white_shirts"}
      %img{src: "https://neverbeenworn.co.uk/assets/blog/white-trainers/white-trainers-tying-laces-f139846629d705f34522866c6d078d6c2a0ffbbaf2a97f76bd90ea0972ed702e.jpg", alt: "Autumnal image of red fallen leaves on a forest floor", width: "100%", height: "auto", style: "width:100%;height:auto;display:block;"}
  %td{style: article_text_cell_style}
    %h3{style: "margin-top: 0;"}
      %a{href: "https://neverbeenworn.co.uk/en/blog/white_shirts"}
        White shirt chic
        
    %p
      A staple item for your effortless wardrobe and an absolute essential, to looking well styled effortlessly.
    %p
      How to buy the right one for you and why it is still the best effortless item to have in your autumn wardrobe.
    
    %a{href: "https://neverbeenworn.co.uk/en/blog/white_shirts", target: "_blank", style: article_read_more_style}
      Read more

%tr
  %td{style: "padding:0;", colspan: "2"}
    %p{style: "font-size: 20px; line-height: 23px;"}
      Each one of my hacks is designed to effortlessly save you time and make your life that little bit easier.
      Remember if it not working for you then it’s not effortless.

%tr
  %td{style: "padding:0;", colspan: "2"}
    %p{style: "font-size: 20px; line-height: 23px;"}
      Stay effortless ladies and enjoy the season.

    %p{style: "font-size: 20px; line-height: 23px;"}
      Ciao Ciao for now

    -signature_image_url = image_url("my_story/rabena-signature.jpg", host: 'http://localhost:5000/')
    %img{src: signature_image_url, alt: "Signature of Rabena the founder of neverbeenworn.co.uk", width: "322px", height: "78px", style: "width:231px;height:78px;display:block;"}
    
    %h3
      Rabena

    %p
      Founder | neverbeenworn.co.uk

