-# - content_for :extra_javascript do
-#   =javascript_include_tag "//assets.pinterest.com/js/pinit.js", defer: true, "data-pin-hover": true
-#   =render :partial => "blog/components/update_pinterest_button_text",
-#     :locals => { :"pin_button_ids" => ["pinit-6-basic-needs"] }


.blog-article
  %h2.article-title="The baggy suit – a must have item for your hybrid wardrobe?"
  %p.published-date
    August 2023
  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated

    .article-text
      .article-image.aspect-5-4
        -image_url = image_path("blog/baggy-suit/three-women-blazers.jpg")
        =image_tag(image_url, alt: "Three women mean business in baggy blazers.")
        %figcaption
          Photo by
          =link_to('Vlada Karpovich', 'https://www.pexels.com/photo/beautiful-women-wearing-formal-blazer-8367851')
          on Pexels

      %h3
        How do we know what to wear for work any more?

      %p
        Whether you are working from home, working from the office or having a bit of a hybrid day, do you sometimes struggle to pick the right outfit for work in the morning?
        Recently, I have noticed it is taking me longer and longer to decide what to wear and it is happening most mornings now.
        Do you have this problem too? Is your work wardrobe not really working for you anymore?
        I do feel like something is not quite right between me and my work wardrobe.

      %p
        So, what is really going on with our workwear right now?

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        How to know when your wardrobe just malfunctioned

      .article-image.aspect-1
        -image_url = image_path("blog/baggy-suit/tired-in-grey-t-shirt.jpg")
        =image_tag(image_url, alt: "A woman wearing a grey t-shirt and a tired and pensive expression supports her weary head.")
        %figcaption
          Photo by
          =link_to('nakaridore', 'https://www.freepik.com/free-photo/indoor-shot-young-pretty-brunette-female-holding-raised-hand-her-head-looking-tiredly-down-while-standing-white-background-casual-clothes_12584614.htm')
          on Freepik

      %p
        Here is what I think is the problem.
        Getting ready for work just got a little complicated.
        My simple morning question of
        %span.strong
          ‘what am I wearing to work today’
        has turned into something a little more complex.
        Why?
        Well I think this one single question no longer works for every day.

      %p
        There are some new rules in town and there are a new set of questions to match it.
        It is no longer possible to simply ask ‘what am I wearing for work today’?
        This one single question has now turned a set of three brand new complicated questions.
        
      %p
        Here are what I think are the new more complicated questions for getting ready for work in the morning:

      %h4
        Question 1 – Where am I working today?

      %ul
        %li
          It could be a working from home day  - WFH Day
        %li
          or it could be an ‘office day’  - OD
        %li
          or it could be on one of those working from home in the morning and off to the office in the afternoon days - (WFH/AM) – (OD/PM). 

      %p
        The next set of problematic questions is who will you be dealing with today?

      %h4
        Question 2  -  who am I seeing today?

      %ul
        %li
          Is it no one ie a quiet day - QD
        %li
          Is it co-workers and bosses – CO & B’s, 
        %li
          Is it customer facing and clients – CF Day
      
      %p
        Finally there is how am I dealing with these people. 

      %h4
        Question 3  -  how am I seeing them today?
      
      %ul
        %li
          It is via email only – EO day
        %li
          Is it via email and video – E/V day
        %li
          or is it an in person  - IP day?

      %p
        Before we had one outfit that covered us for all this and that was great, but what do we have now?
        Well I have a lot of questions and not a lot of options to match. 

      %h4
        Here are all my questions:

      %p
        Do so you go smart today? 
      %p
        Do you go smart/casual? 
      %p
        Do you dress down 
      %p
        Do you go full casual?

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        What is the perfect working from home or day at the office outfit?

      .article-image.aspect-1
        -image_url = image_path("blog/baggy-suit/deciding-face.jpg")
        =image_tag(image_url, alt: "A woman holds fingers to her chin quizzically while pondering.")
        %figcaption
          Photo by
          =link_to('nakaridore', 'https://www.freepik.com/free-photo/image-thoughtful-hesitant-girl-with-red-hair-making-decision-frowning-perplexed-thinking-touching-lip-pondering-standing-against-white-background_23183112.htm')
          on Freepik

      %p
        Can you see what has happened now? This is just too many questions first thing in the morning BC (before coffee).
        Are you getting a little confused too?

      %p
        It is not just about what you should choose to wear to work in the morning any more.
        It’s what do you wear to work at home or on video calls or to work from the office or client facing.

      %p
        But what if you are having a spilt day and are working from home in the morning and working from the office in the afternoon?
        What do you wear then? Do you need two different outfits for that?
        Apparently this
        %span.strong
          workwear confusion
        first thing in the morning is happening to people at least two or three times a week now.
        In more extreme cases, it can be happening to people every day.

      %p
        Are you having any of these problems?
        Maybe you’re not fully aware of it yet?
        Maybe it’s not that bad for you just yet, but it’s a big problem for quite a number of people now.
        Wardrobe confusion is real and I am already in the extreme category, so my confusion is happening every day now.
        For the first time in my life I actually have no clue what to wear for work.
        My wardrobe just went way past complicated.

      %p
        I am putting a call out for Batman, because I really need help here.
        I simply don’t have a clue which bit of my wardrobe to seek help from.
        I am just not prepared for this.
        I don’t really know how to do casual work wear yet.
        So how do we work out what to wear any more if we still have to show up and be work professional?


  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        The new ‘hybrid work wear’ wardrobe

      .article-image.aspect-1
        -image_url = image_path("blog/baggy-suit/reading-magazine-in-suit.jpg")
        =image_tag(image_url, alt: "Reading a magazine to start the day, wearing a baggy neutral coloured suit and white trainers.")
        %figcaption
          Photo by
          =link_to('Vlada Karpovich', 'https://www.pexels.com/photo/a-woman-reading-a-magazine-8367806')
          on Pexels

      %p
        As we all know, autumn is fast approaching, and with a change in season it’s also inevitable that our wardrobes will need changing too.
        Around this time of year we usually get to see what lovely delights the fashion world has in store for us for the coming season.
        Which makes this the perfect time to fix the problem and have a bit of a do over.

      %p
        After having a look at some of the new styles gracing the catwalks,
        there is clearly one favourite and it turns out that it could be the perfect solution for any
        %span.strong
          ‘hybrid wardrobe’
        malfunction.
        So what is it?

      %h3
        Bring on the autumn winter ‘baggy suit’

      %p
        If you haven't spotted one yet then let me tell you they are all over the catwalks and fashion shows right now.
        They look great and have definitely been catching eyes sat down the sides of all those high profile fashion runways.
        So, it’s going to be inevitable that high street fashion will soon follow suit (pun alert), and for all the right reasons too.
      
      %p
        Well, this might not quite what you were expecting but it does make absolute sense once you take a moment and think about it.
        I think it’s the perfect solution for many of us and could really work for our autumn/winter wardrobes. 

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        Why it’s the new power suit

      .article-image.aspect-1
        -image_url = image_path("blog/baggy-suit/three-women-baggy-suits-beach.jpg")
        =image_tag(image_url, alt: "Three women walk purposefully towards the camera across a shingle beach while wearing baggy suits and white trainers. One suit is cream, the next a warm orange and the third suit is black. All give a professional, stylish, and very current vibe.")
        %figcaption
          Photo by
          =link_to('cottonbro', 'https://www.pexels.com/photo/women-in-business-suits-walking-on-rocky-ground-9834925')
          on Pexels

      %p
        As soon as you see your first baggy suit you will notice a few very striking and new things going on with this non-traditional suit.
        I recognise that ‘baggy’ is not your usual choice of adjective traditionally associated with the fine craft of suit making,
        but before you scoff let me explain a few thing about how we got here.
        Firstly it is clear to see that designers have thrown out some of the traditional rules on tailoring and fit and are going for something way more relaxed.
        Why?
        It’s a simple fit that is designed for better comfort not
        %span.strong
          corporate curtailoring and the tradition of the sense.
        It is untailored and unrestrictive.

      %p
        This suit works with you and does not restrict you, which is a whole new experience.
        It’s flattering for everyone in a very understated way.
        It’s so inclusive it’s wonderful.
        And this is the material point.
        I could seriously work from home in it, take a zoom call or pop to the office all in one day and in just this one outfit.
        I could go to brunch wearing this suit or even take a later lunch and still be comfortable.
        I could definitely go to dinner or even drinks after work still feeling totally comfortable and stylish.
        Maybe this the new suit for the new world of hybrid working?
        I even think I could get on a plane wearing this suit and be comfier than a joey in a kangaroo pouch, but I know I would still be looking the right side of professional when I land.
        Is this the new power suit in town?
        Well I like it a lot. 

      %p
        Are you starting to see where I am coming from now?
        If you have every wanted to acheive that casual smart European look or wondered how to get it, well now is your chance.
        When I think about this suit, I can seriously see myself sat outside a Parisian café having (a European lunch break), before I saunter back to the office two hours later.
        I know that I could also go straight out to dinner in the evening in the same suit and the fashion police would not come to cart me away mid aperitif.
        So could this be our new saviour in a time of work and wear crisis?

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        The one suit wonder

      .article-image.aspect-1
        -image_url = image_path("blog/baggy-suit/suit-office-steps.jpg")
        =image_tag(image_url, alt: "A professional woman wearing a baggy suit and white trainers stands on the steps of an office building.")
        %figcaption
          Photo by
          =link_to('Vlada Karpovich', 'https://www.pexels.com/photo/a-woman-in-a-beige-suit-8368058')
          on Pexels

      %p
        Let’s take a closer look at the fit so you can really start to understand what is going on here.

      %p
        There is what I call a sense of 'partial tailoring' going on behind the scenes.
        The close body fit has been replaced with a much looser style and fit
        so it does not work against you like the traditional close fit and full tailoring that we know and recognise so well.
        Savile Row may well be having kittens at the very site of this baggy imposter,
        but gone is the need for that uncomfortable high powered suit and that old life look of stress and high powered anxiety.
        That pressing need to counter act our lack of confidence by looking really serious and successful all the time.
        The slower and
        %span.strong
          more genuine life
        needs a nice slow suit to match it.
        Amazingly it is comfortable but still sharp: it's the new comfortable sharp.
        It still means business, it just means it is a more genuine way.
        Work is a different kind of business now.
        It’s the business of life and the style of life.
        It so damn comfortable that I could spend all day in it without twitching once or having to readjust something just because I stood up or sat down.
        It’s a new world suit for a new hybrid world of work.
        I am really starting to love this look and what it means for suit wearing.

      %p
        So, when it comes to your work wardrobe and your personal life wardrobe does it really matter anymore?
        Well maybe it still does a little, but in just a slightly more relax an human way.
        So go be human and do it in the right suit for you. 

  .article-footer.orange
    %h2
      Share the joy
    %p
      Have you found the perfect suit for your style? Share the joy!

    %p
      Label your email ‘Baggy suit joy’ and send it in to
      =link_to('info@neverbeenworn.co.uk', 'mailto:info@neverbeenworn.co.uk?subject=Baggy suit joy')

    %p
      %span.strong
        I hope you and your suit have a fun and productive season together, wherever you go and whatever you do!

  .article-section

  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }

  -# .article-section.pin-for-later
  -#   .article-text
  -#     %h2
  -#       Pin this article for later!

  -#     %a.pin-for-later-image.pinit#perfect-beach-bag{ :"data-pin-do" => "buttonPin",
  -#               :"data-pin-media" => image_url("blog/white-trainers/5-reasons-white-trainers-hires.jpg"),
  -#               :"data-pin-description" => "5 reasons why we still love white trainers",
  -#               :title => "Pin This Article",
  -#               :class => "pin-it-button",
  -#               :href => "http://pinterest.com/pin/create/button/",
  -#               :rel => "nofollow",
  -#               :target => "_blank",
  -#               "count-layout" => "horizontal",
  -#               :"data-pin-custom" => "true",
  -#               :"to-be-replaced" => "true"}
  -#       -image_url = image_path("blog/white-trainers/5-reasons-white-trainers.jpg")
  -#       =image_tag(image_url, alt: "Pin this article with the image: 5 reasons why we still love our white trainers.")
