-# - content_for :extra_javascript do
-#   =javascript_include_tag "//assets.pinterest.com/js/pinit.js", defer: true, "data-pin-hover": true
-#   =render :partial => "blog/components/update_pinterest_button_text",
-#     :locals => { :"pin_button_ids" => ["pinit-6-basic-needs"] }


.blog-article
  %h2.article-title="The baggy suit – is this the must have item for autumn/winter and your hybrid wardrobe?"
  %p.published-date
    September 2023
  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        A new suit in town

      .article-image.aspect-1
        -image_url = image_path("blog/baggy-suit/three-women-baggy-suits-beach.jpg")
        =image_tag(image_url, alt: "Three women walk purposefully towards the camera across a shingle beach while wearing baggy suits and white trainers. One suit is cream, the next a warm orange and the third suit is black. All give a professional, stylish, and very current vibe.")
        %figcaption
          Photo by
          =link_to('cottonbro', 'https://www.pexels.com/photo/women-in-business-suits-walking-on-rocky-ground-9834925')
          on Pexels

      %p
        Around this time of year we usually get a glimpse of what lovely delights the fashion world has in store for us for the autumn/winter season.
        Which makes this the perfect time to fix your wardrobe and have a lovely bit of a do over in time for the autumn/winter season.

      %p
        After having a look at some of the new styles gracing the catwalks,
        there is one key favourite item that is appearing everywhere and it turns out that it could also be the perfect solution for the right ‘hybrid’
        working style we have all been searching for.
        If you haven't spotted this key item yet then let me tell you all about it.

      %p
        These beauties are all over the catwalks and fashion shows right now and it definitely caught the eager eyes at the autumn/winter shows.
        So it’s only a matter of time before high street fashion catches on and decides to
        %span.italic
          follow suit
        and for all the right reasons too.
        I think it’s going to be something that many of us can really work with this season.
        They look amazing and it might fix that ‘what to wear for work’ situation we all have in the morning.

      %p
        Let me explain why and let’s take a closer look.

      %h3
        The new ‘hybrid’ suit

      %p
        This suit can be described in one single and fabulous word: ‘comfortable’.
        It is more about working with you not against you.
        Which is a whole new experience in suits.
        What does this mean?
        It means it’s flattering for everyone and in a very understated way.
        It’s so inclusive to all body shapes that it’s almost magical.
        It means I can work from home feeling comfortable.
        It means I can take a zoom call and know I look professional and it means I can pop to the office without having to change and know that I am presentable and I could do all that in one day in one outfit.
        It means I also means I could go out to lunch and still be comfortable sitting in my suit afterwards.
        It means I could go for evening drinks after work and it means I could even go out to dinner afterwards and be confident that I am suitably dressed to dine.
        It's a brand new suit for the brand new world of living and socialising and hybrid working.
        Not only that but I could even get on a plane wearing it and be comfier than a joey in a kangaroo pouch, knowing that I will still be looking the right side of professional when I land.
        It truly is the new power suit in town and I like it a lot. 

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        Style and fit – the ‘baggy suit’

      .article-image.aspect-2-3
        -image_url = image_path("blog/baggy-suit/red-suit-closeup.jpg")
        =image_tag(image_url, alt: "Closeup of a woman in a loose fitting bold red suit with a black top underneath.")
        %figcaption
          Photo by
          =link_to('bristekjegor', 'https://www.freepik.com/free-photo/fashion-portrait-young-elegant-woman_6021944.htm')
          on Freepik

      %p
        Once you take a closer look at the fit you can really start to understand what is going on here and why it really could be the best thing you didn’t know you needed.

      %p
        As soon as you see your first baggy suit you will notice a few very striking and definitely new things going on with this suit. It’s lines are perfect despite the initial unnerving level of comfort you just don’t expect from a suit.

      %p
        Instead of the traditional close fit, full tailoring, that we know and recognise in many suits so well, it has been replaced with an unprecedented and much looser style. There is what I call a sense of 'partial tailoring' which appears to be going on quietly around the seams. 

      %p
        I firmly recognise that the ‘baggy suit’ is not your usual choice of adjective traditionally associated with the fine craft of suit making. But, before you scoff let me explain a few thing about how we got here. 

      %p
        Designers have thrown out some of the traditional rules on tailoring and fit and its clear to see here. They have favoured something far more generous. Its untailored and unrestrictive. It’s a simple fit that is designed for better comfort and not corporate curtail-oring in the tradition of the sense, that old style suits have stuck with for so many years.


  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text

      %h3
        Why it works

      .article-image.aspect-5-4
        -image_url = image_path("blog/baggy-suit/three-women-blazers.jpg")
        =image_tag(image_url, alt: "Three women mean business in baggy blazers.")
        %figcaption
          Photo by
          =link_to('Vlada Karpovich', 'https://www.pexels.com/photo/beautiful-women-wearing-formal-blazer-8367851')
          on Pexels

      %p
        Let’s start by asking one question. When it comes to your work wardrobe and your personal life wardrobe does it really matter any more?
        Well maybe it still does a little, but in just a slightly different way. 

      %p
        I think it’s not so bad after all is it? Granted it’s not traditional. Savile row may well be having kittens at the very thought, but gone is the need for that uncomfortable high powered suit to go with all that life of stress and high powered anxiety. Or that pressing need to counter act a lack of confidence by looking really serious and successful all the time. The slower and more genuine life needs a nice slow suit to match it. 
      
      %p
        So, can I persuade  you to go try one out? Why not? It's still sharp, like a suit should be. It's just sharp in a different way and it still  means business. Just like it should do. It just means it is a more genuine way. Work is a different kind of business now. It’s the business of genuine life and genuine lifestyle, but most of all it's so comfortable. It so comfortable that I could spend all day in it without twitching or having to readjusting something that has decided to go array every time I want to stand up or even sit back down. I not constantly concerned if my suit is still with me. It's a new suit for a new world and I like it at lot. 

      %p
        It's still got plenty of style still, but I’ts clearly a new style. I am already starting to love this look and what it means for suit wearing. Keep you tight fitting, uncomfortable, constantly correcting suits for those that want that kind of pain in their life. I am going baggy suit this autumn.


  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        The Baggy suit - how to wear it

      .article-image.aspect-1
        -image_url = image_path("blog/baggy-suit/suit-office-steps.jpg")
        =image_tag(image_url, alt: "A professional woman wearing a baggy suit and white trainers stands on the steps of an office building.")
        %figcaption
          Photo by
          =link_to('Vlada Karpovich', 'https://www.pexels.com/photo/a-woman-in-a-beige-suit-8368058')
          on Pexels

      %h4
        What to look for and how to wear one.
      %p
        The baggy suit is different in enough to be able to really stand out in that European understated chic way. So wearing a baggy suit is really not that complicated and we all like life to be as easy as possible these days, so here is how to get it right from the start. 

      %h4
        How to replicate this look

      %p
        If you want to replicate this look try out my tips below. I took the top four best colours and matched them with some great basics and footwear in some the most complimentary colours. Here is how I did it:

      %h4
        Key things to do

      %ol
        %li
          First and foremost you want your suite to be a colour that suits you. If you have paler skin try a mid-colour and if you have darker skin try a lighter or brighter colour. 

        %li
          Add some understated separates to compliment you suit. Go for contrasting colours to balance your suit out. 
        
        %li
          Footwear is personal, so make your own choice, but I will say it goes well with big boots which are also back in season this autumn winter and white trainers are still a good look. Talk about perfect pairing!

      %h4
        Matching the Top 4 colours for baggy suits

      %table.summer-hats-coverage-columns
        %thead
          %tr
            %th
              Suit colour
            %th
              Top colour
            %th
              Shoes colour
        %tbody
          %tr
            %td
              Beige
            %td
              White or black
            %td
              White or black
          %tr
            %td
              Black
            %td
              White or red
            %td
              White or red
          %tr
            %td
              White
            %td
              Red or black
            %td
              Red or black
          %tr
            %td
              Red
            %td
              Any colour
            %td
              Any colour


      %p
        Maybe it’s not quite what you were expecting, this autumn winter, but once you take a moment and think about it, you might see that it makes absolute sense. in a time of work wear crisis, this suit could solve all our problems in one go. Are you starting to see where I am coming from now?

      %p
        Remember it’s not complicated, it’s uncomplicated. Life just got easier for you. It’s almost effortless and it has that effortless so chic that we have all admired in someone at some point. 

      %p
        If you have every wanted to acheive that casual smart European look or wondered how to get it, well now is your chance, so grab it. 
      
      %p
        When I put on a baggy suit, I can seriously see myself sat outside a Parisian café having lunch before I saunter back to the office two hours later, still knowing that I could go straight out to dinner in the evening in that very same suit knowing that the fashion police would not come to cart me away mid aperitif. So get your style on and get your suit.

      %p
        Ciao Ciao ladies!!!


  .article-footer.orange
    %h2
      Share the joy
    %p
      Have you found the perfect suit for your style? Share the joy!

    %p
      Label your email ‘Baggy suit joy’ and send it in to
      =link_to('info@neverbeenworn.co.uk', 'mailto:info@neverbeenworn.co.uk?subject=Baggy suit joy')

    %p
      %span.strong
        I hope you and your suit have a fun and productive season together, wherever you go and whatever you do!

  .article-section

  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }

  -# .article-section.pin-for-later
  -#   .article-text
  -#     %h2
  -#       Pin this article for later!

  -#     %a.pin-for-later-image.pinit#perfect-beach-bag{ :"data-pin-do" => "buttonPin",
  -#               :"data-pin-media" => image_url("blog/white-trainers/5-reasons-white-trainers-hires.jpg"),
  -#               :"data-pin-description" => "5 reasons why we still love white trainers",
  -#               :title => "Pin This Article",
  -#               :class => "pin-it-button",
  -#               :href => "http://pinterest.com/pin/create/button/",
  -#               :rel => "nofollow",
  -#               :target => "_blank",
  -#               "count-layout" => "horizontal",
  -#               :"data-pin-custom" => "true",
  -#               :"to-be-replaced" => "true"}
  -#       -image_url = image_path("blog/white-trainers/5-reasons-white-trainers.jpg")
  -#       =image_tag(image_url, alt: "Pin this article with the image: 5 reasons why we still love our white trainers.")
