.blog-article
  %h2.article-title="How to Wear big boots this season and why we love them"
  %p.published-date
    September 2023
  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated
    .article-text
      .article-image.aspect-3-4
        -first_url = image_path("blog/sitting-on-plinth.jpg")
        =image_tag(first_url, alt: "Sitting casually on the plinth of a column, wearing a mid-length brown coat, skinny ripped jeans and big black boots.")
        %figcaption
          Photo by
          =link_to('Nagytorma Arnold', 'https://unsplash.com/photos/fn1aafZnnTk')
          on Unsplash

      %h3 
        Big boots are here for another autumn and winter season

      %p
        There are few things better at this time of year, than getting your wardrobe ready for autumn. It always gives me a great sense of purpose.

      %p
        If you already have a great pair of boots from last season make sure they perfectly match everything you intend to wear this autumn as well as the forthcoming winter season.
        A much loved and well cared for pair of big boots could last you right through to spring, which is great news for you, your wardrobe, and your wallet.

      %p
        If you are new to big boots fashion then it’s important to pick the right ones for you from the start.

      %p
        One of the first things I like to do is put all my summer clothes away, so I can see if I have enough clothes to last me through autumn and winter.
        Once you have removed your summer wardrobe you are ready to start.

      %p
        If you not sure where to start check out my
        =link_to('top 5 quick fixes for your autumn/winter wardrobe', article_path(id='top_5_fixes_for_autumn'))

      %p
        The next important thing is to see what still fits, what you still like, and what needs replacing.
        Without this information, how are you going to know what you have and what you might still need?
        This will be key to helping you get the right boots to match.
        A mismatch now could cost you all the way through autumn and winter.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3 How to pick the right boots – where to start 

      .article-image.aspect-3-4
        -second_url = image_path("blog/big-boots/big-boots-long-coat.jpg")
        =image_tag(second_url, alt: "Standing confidently on stone steps, wearing black knee-high boots, a black fedora, black and white thigh-length dress and a long black and white coat.")
        %figcaption
          Photo by
          =link_to('marymarkevich', 'https://www.freepik.com/free-photo/attractive-young-woman-walking-autumn-wearing-coat_27290198.htm')
          on Freepik

      %p
        The next step is knowing your autumn/winter needs.
        This will go a long way to helping you make the right choice.
        If you get it right now, your boots will be a perfect match for both your autumn wardrobe as well as the harsher weather to come for winter.
        Trust me your feet and your wallet will thank you for it by the end of December.
        My first perfect boots lasted me right up until spring the following year and they still look amazing.

      %p
        So, before you choose your big boots, it’s important to know what type and style you want and will suit you the best,
        and more importantly, which style will last you the full season.
        If you build on what you already have and what style you wear most often, you can’t go wrong and your boots and your wardrobe will always match.
        This will ultimately give you less stress when getting ready and save you so much time.

      %h3
        Key things to remember

      %p
        Here are a few things that you should think about before you make your big boots choice:

      %ul
        %li
          Think about your height and frame and consider what style of garments you are most likely to wear on your lower half.
        %li
          If you like the bottom of your trousers to sit inside your boots then think about leggings or fitted jeans, which are often the best option with big boots,
          but if you like the bottom of your trousers to hang outside of your boots, then bootcut or straight-leg jeans or regular trousers might be a better fit.
          Your garment should always meet your boots nicely and be comfortable too.
        %li
          Some mid-calf boots can be quite long and sometimes reduce the appearance of length on a shorter leg.
          You might prefer an ankle or Chelsea boot to avoid this.
        %li
          Another thing to think about is the sole. If you are happy with a few extra inches, then oversized or bigger soles are just the thing for you.
          These also tend to last longer.
        %li
          If you are happy with your current height or are already on the tall side then a thinner sole might be much better.
          It is definitely something to think about.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %table.summer-hats-coverage-columns
        %thead
          %tr
            %th
              Type
            %th
              Trick
            %th
              How to wear
            %th
              Style
        %tbody
          %tr
            %td
              Ankle Boots
            %td
              Lengthens legs
            %td
              Great with jeans and leggings
            %td
              Smart, Casual
          %tr
            %td
              Chelsea boots
            %td
              Lengthens legs
            %td
              Great with jeans and leggings
            %td
              Smart, Casual
          %tr
            %td
              Calf length boots
            %td
              Can shorten legs
            %td
              Great with dresses and skirts
            %td
              Smart, Casual
          %tr
            %td
              Knee length Boots
            %td
              Lengthens legs
            %td
              Great with all
            %td
              Smart, Casual


  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      .article-image.aspect-3-4
        -first_url = image_path("blog/big-boots/white-boots-sitting.jpg")
        =image_tag(first_url, alt: "Wearing white 8 hole boots and a black lace dress, sitting on a wooden floor.")
        %figcaption
          Photo by
          =link_to('Apostolos Vamvouras', 'https://unsplash.com/photos/wwburg1nAvg')
          on Unsplash

      %h2 Your big boots styling

      %h3
        Which colour is right for you and how to style big boots
      
      %p
        Picking the right colour is going to be the make or break of your autumn/winter wardrobe and your big boot purchase.

      %ul
        %li
          Pick a colour carefully – for example you need to know how to wear white boots with your wardrobe if you choose them
        %li
          If you like wearing all black, think about a contrasting or neutral colour for your boots, that will complement a full black outfit
        %li
          Most colours go well with all black outfits, so you are free to be as adventurous as you want when choosing a contrasting colour for your boots
        %li
          Big black boots also work well if your wardrobe is full of colours, or neutral shades
        %li
          If you are unsure, try a few different colours on with your most worn outfit and see how you feel and look in them

      %h3 
        What price is right for you

      %p
        Budgets vary and so does quality.
        If you plan to wear your big boots all the time it is best to go for a good strong sole that won’t wear out too quickly, especially if you want it to last a few seasons.

      %p
        Here are some more tips to help you balance price with quality:

      %ul
        %li
          The main part of the boot should also be made of a good quality material, one that you are happy with and that will last throughout winter weather
        %li
          Additional material is also important.
          Whether it has elasticated sides or otherwise, do make sure the additional material will withstand the level of use you have planned and the weather you expect to wear them out in
        %li
          Comfort and ease of use is always another great thing to consider. 
          If it is cold and wet outside you don’t want to come in and be struggling with a big wet boot and cold hands either

      %p
        Choose wisely and remember if you make the right choice now and you, your boots, and your wardrobe will have a great few seasons together. 

  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }
  
  .article-footer
    %p
      If you are still not sure, you can register and drop me a line. Mark your email – ‘Big boots question’, and add your question.
    %p
      Email me at
      =link_to('info@neverbeenworn.co.uk', 'mailto:info@neverbeenworn.co.uk?subject=Big boots question')
    
    %p
      I am happy to see if I can help and please add a photo to your account for a quicker response.