-# Set these fields for SEO purposes. They will be included in the header
-# TODO: Do this in a more elegant way to aviod duplication with controller and view
- content_for :meta_article_id, 'big_boots_how_to_wear_them'
- content_for :meta_article_headline, 'Big Boots - How to Wear Them'
- content_for :meta_article_image_1, image_path("blog/sitting-on-plinth.jpg")
- content_for :meta_article_image_2, image_path("blog/black-boots-stepping.jpg")
- content_for :meta_article_image_3, image_path("blog/white-boots-sitting.jpg")
- content_for :meta_article_date_published, '2022-11-15T08:00:00+01:00'
- content_for :meta_article_date_modified, '2022-11-15T08:00:00+01:00'

.blog-article
  %h2.article-title="Big Boots - How to Wear Them"
  %p.published-date
    November 2022
  .article-section.article-section-left-image
    .article-image 
      -first_url = image_path("blog/sitting-on-plinth.jpg")
      =image_tag(first_url, alt: "Sitting casually on the plinth of a column, wearing a mid-length brown coat, skinny ripped jeans and big black boots.")
    .article-text
      %h3 Big boots
      %p
        Big boots are here for another autumn and winter season
      %p
        If you already have a pair then great news, you are probably good to go right through to winter
      %p
        This is great news for your wardrobe too
      %p
        Your boots will already be well-matched to everything you wear right now
      %p
        If you are new to big boots then it’s important to pick the right ones for you and your wardrobe from the start

      %h3 Before you choose
      %p
        Knowing your current wardrobe and style will help you make the right choice for the entire autumn and winter season
      %p
        It’s also important to know what will suit you best and what will help you build on what you already wear
      %p
        The right boots will instantly complement your current style and add a new look to everything you are wearing right now
      %p
        It’s a really good idea to take into account the weather too, if you are to avoid making an unsuitable choice that won't last the season

  .article-section.article-section-right-image
    .article-image 
      -second_url = image_path("blog/black-boots-stepping.jpg")
      =image_tag(second_url, alt: "A lady stretches one foot out as she walks next to a bright blue-painted brick wall.")
    .article-text
      %h3 What style is right for you
      %p
        Here are a few things that you should think about before you make your choice
      %p
        Think about your height and frame and consider what style of garment you wear on your lower half the most
      %p
        If you like your trousers inside your boot then leggings are often the best option with big boots, but if you like them outside more then jeans can be a better fit. Your garment should meet your boots nicely
      %p
        Some mid-calf boots can be quite long and sometimes reduce the appearance of length on a shorter leg. You might prefer an ankle boot to avoid this
      %p
        Another thing to think about is the sole. If you are happy with a few extra inches, great big boots are just the thing right now
      %p
        If you are happy with your current height or are already on the tall side then some boots might add too much height for you.
        So it is definitely something to think about. 

  .article-section.article-section-left-image
    .article-image
      -first_url = image_path("blog/white-boots-sitting.jpg")
      =image_tag(first_url, alt: "Wearing white 8 hole boots and a black lace dress, sitting on a wooden floor.")

    .article-text
      %h3 What colour is right for you
      %p
        Picking the right colour is going to be the make or break of your big boot purchase
      %p
        Think about what colours you already wear
      %p
        If you like wearing all black, think about a contrasting or neutral colour that will complement any full black outfit
      %p
        Most colours go well with black anyway, so you are free to be as adventurous as you want when choosing a contrasting colour
      %p
        Black will  work well if your wardrobe is full of colours, more varied or neutral shades
      %p
        If you are unsure, try a few different shades on with your most worn outfit and see how you feel and look in them

      %h3 What price is right for you
      %p
        Budgets vary and so does quality
      %p
        If you plan to wear your big boots all the time it is best to go for a good strong sole that won’t wear out too quickly, especially if you want it to last a few seasons
      %p
        The rest of the boot should also be made of a good quality material, one that you are happy with and again one that will last all winter
      %p
        Material is also important. Whether it's elasticated, leather, repurposed, or otherwise do make sure it will withstand the level of use you have planned and the weather you expect
      %p
        Comfort and ease of use is always another great thing to consider
      %p
        You want your big boots to be easy to get in and out of no matter what the time of day or weather
      %p
        If it is cold and wet outside you don’t want to come in and be struggling with a big wet boot and cold hands
      %p
        Make the right choice and you, your boots, and your wardrobe will have a great few seasons together


  .article-footer
    %p
      If you found this article useful do let us know. We would love to hear from you
    %p
      Send an email to
      =link_to('info@neverbeenworn.co.uk', 'mailto:info@neverbeenworn.co.uk?subject=Big Boots')
      with the subject ‘Big Boots’
    
    %p
      If there is anything you would love to read about, we would be happy to consider your request too

    %p.image-credit
      Thanks to Nagytorma Arnold, Joanna Nix, and Apostolos Vamvouras @ Unsplash for images