- content_for :extra_javascript do
  =javascript_include_tag "//assets.pinterest.com/js/pinit.js", defer: true
  =render :partial => "blog/components/update_pinterest_button_text",
    :locals => { :"pin_button_ids" => ["pinit-4-handbag-styles","pinit-4-tips-declutter"] }

.blog-article
  %h2.article-title="How to declutter your handbags and save money"
  %p.published-date
    January 2023
  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated

    .article-text
      %h3 
        A love for all things handbag

    .article-image
      -image_url = image_path("blog/declutter-handbags/luxury-handbag-on-armchair.jpg")
      =image_tag(image_url, alt: "A luxury handbag sits on a plush grey armchair.")
      %figcaption
        Photo by
        =link_to('MOo Jii', 'https://www.pexels.com/photo/luxury-handbag-on-armchair-5591912')
        on Pexels

    .article-text
      %p
        Most ladies love a good handbag.
        Something nice and fancy to keep our cash in.
        I find it so hard to walk past any handbag shop without taking a little passing peek, just in case something delightful catches my eye.
        I am unable to resist a handbag bargain either.
        It’s so hard to say no most of the time and this is part of my problem.
        I have this need to give ‘nice little handbags’ a good home.
        It’s what my inner hero is all about.

      %p
        I remember my very first handbag love.
        It was bought for me by a relative.
        When I look back it’s kind of funny because up to that point I was adamant that I was not going to join the handbag club ever.
        I was not going to carry around a bag full of stuff everywhere I went.
        No way, but this little handbag turned out to be very special and it changed me forever.
        It had straps that could be repurposed and make it into a posh little rucksack.
        Well, that really caught my eye.
        I will be honest, when I first opened the gift I was not really on board with it.
        There is a chance this was quite evident in my reaction.
        I think I may have said, ‘Oh it’s a handbag, great.’ It was something like that.
        I regret this reaction to this day, but it was based on my complete fear of handbags back then and was no reflection of my appreciation for the gift.
        This one gift changed all that and the door to a whole new world just opened. A world of material love and handbag joy.
        So, it wasn’t long before me and my first handbag took our first trip out together and we bonded for almost life.
        Without knowing it, this was the start of my beautiful friendship with handbags.
        Me and my first handbag went everywhere together after that.

      %p
        Fast forward to today and my handbag love has turned into a collection, but in today’s climate I am forcing myself to really stop and wonder about that.
        %span.big-question
          What is my handbag collection really costing me?

  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated
    .article-text
      %h3
        Why do we have so many handbags?

    .article-image
      -image_url = image_path("blog/declutter-handbags/money.jpg")
      =image_tag(image_url, alt: "A small pile of 5 and 10 pound notes with some one and two pound coins on top of them.")
      %figcaption
        Photo by
        =link_to('Alaur Rahman', 'https://www.pexels.com/photo/silver-and-gold-coins-on-white-printer-paper-5277965')
        on Pexels

    .article-text
      %p
        You may be wondering what handbags have to do with real financial matters right now, but bear with me and all should become clear.
        Saving money is the talk of every town right now and so it is important to think about things with this in mind.
        I have a number of handbags and I know that they were all bought with the absolute greatest of love and were full of good intentions at the point of purchase.
        But what happened to those good intentions after I got them home? Were these handbags used within an inch of their beautiful life?
        Were they used day in, day out for ever more, until I sent them off to the charity shop to be repurposed to find a new home?
        Or were they placed on a shelf with all my other purchases and good intentions, where the handbag love went to die and be forgotten about?
        When I look at my collection and add up the value I am quite surprised and a little shocked.
        It’s like I have this money sat up there on this shelf doing nothing and devaluing every day.
        In this kind of climate, things like this have really started to bother me and the feeling grows more every day.


      %h3 
        Are your handbag habits wasting your money?
      
      %p
        I actually know which handbags I use all the time and they serve me well on a regular basis, but I also know which ones do not.
        I know they are sat on that shelf waiting for a reason to be used, but they never seem to make it down.
        So, why did I buy them in the first place and why do I continue to buy more? 

  .article-section
    .article-text
      %p
        %span.big-question
          Are my handbags wasting my money?


      %h4 
        Are my handbag choices really that bad?
      
      %p
        I have started to ask myself.
        When I see a handbag what is it that goes through my own mind? What it is that I am telling myself?
        Do I believe that this is the perfect bag for me and that I must exchange my hard-earned cash for it right away?
        What is it that I am really thinking?
        So, here we go with the little science bit.
        The truth is, I am not really thinking about the practicality of this at all.
        I am not really thinking about another handbag in my life and the true monetary repercussions of that.
        I am not thinking about the fact that I probably have one similar at home already and it is probably still waiting to be used.
        I am thinking about how cute this bag is, I am thinking about how fabulous it will look on my arm and I am thinking about how I absolutely have to have it now and that’s the end of it.
        I know I vow to take it everywhere I go from this day forward and until handbag death do us part.
        I know this.
        There is also one other thing that will always seal the deal and ensure my handbag bond is real:
        the price!
        I don’t care what you say, but a handbag in the sale, one that catches your eye is simply true love.
        So, there you have it, the bond is made and the lady behind the counter is already bagging it up before I am willing to consider detaching myself from new found love.
        There is no putting it back now.

        %span.big-question
          Why do we think we need so many handbags?


  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated
    .article-text
      %h3 
        What are your handbag habits?
      
    .article-image
      -image_url = image_path("blog/declutter-handbags/beach-bags.jpg")
      =image_tag(image_url, alt: "Six beach-themed tote bags sit on a wooden bench, leaning against the matching slatted wooden wall of a beachside cottage or beach hut.")
      %figcaption
        Photo by
        =link_to('Sanddollar', 'https://www.pexels.com/photo/six-assorted-colors-tote-bags-on-white-wooden-cabinet-634538')
        on Pexels

    .article-text
      %p
        This query has bothered me for a few weeks now and to get to the bottom of it I decided to do some research on the subject.
        What I did was something I had never done before.
        I went over to my wardrobe and took out all my handbags.
        Yes, all of them and then I went around the house to find any others that might be hiding elsewhere.
        Maybe at the back of a cupboard or the far reaches of another shelf.
        Next, I put them all out on my bed, so that I could take a good look at them all together in one place.
        Now here comes the interesting bit. What I did next was, I split them up into three groups across my bed.
        One group was for all the handbags that I had actually used on a regular basis, one group was all my handbags that had been used once or twice,
        and the last group was all my handbags that had never been used at all and I mean not even once. Now here comes the big wow of a shock!
        I had always prided myself on thinking I was a bit savvy when it came to my handbag purchases.
        I truly believed that I was in full control of my handbag habit and love for them and that it was all good in the world because of it.
        What I was expecting to see was more of my bags in my ‘use it all the time’ pile and less of them in the other two piles, but what happened was the exact opposite.
        The real truth about my handbag love and habit was really shocking.
        This was not the story I had been so convincingly telling myself all this time.
        I was not the sensible buyer I thought I was. 


  .article-section
    .article-text
      %h3 
        Extreme steps to declutter your handbag collection

      %p
        If you like handbags too, then try this out and see what happens.
        Take out all your handbags and place them out on your bed in front of you.
        Divided them into the following 3 categories: 
        %ol
          %li
            use every day,
          %li
            use one or twice,
          %li
            never used it.

        Now count all the handbags in the first category and what they cost you.
        If you have genuinely used them all on a very regular basis (not once or twice) then well done these were all great purchases.
        Next take all the handbags in the ‘used it once or twice’ category and add up their value.
        These handbags are where you start to see a change and will give you an idea of where you begin to waste your money making less useful choices.
        Keep this value in mind. Finally move on to all the bags that you have never used.
        These are probably your worst choices in terms of value for money.
        Here you are getting zero value for money.
        Total the cost of all these bags and add it to the total value of the handbags in your ‘used once or twice’ category.
        This is your final amount that has been mostly wasted and is devaluing day by day.
        Now you should be able to see what types of bags lead you to waste your money, that you don’t really need.

      %h4
        Handbag maths
      %p
        I love a little mathematical equation to demonstrate the value of anything.
        So there I have devised a little formula to prove my devaluation theory.
        I think that Mileva Mari&cacute; (that’s Einstein’s 1st wife) would really love this. 

      %math
        %mfrac
          %mn
            handbag value
          %mn
            times used
        %mo
          \=
        %mi
          usage value
        
      %p
        The closer the usage value is to zero, the greater the handbag choice and purchase.

  .article-section
    .article-tips-panel
      .title-section
        .heading
          %h3
            4 tips for extreme handbag declutter
          %p.title-subtext
            Where are you wasting money?
        .subhead
          %p.sub-title
            Declutter and save money on your handbag collection
        .pinit#pinit-4-tips-declutter
          %a.pinterest-share-button{ :"data-pin-do" => "buttonPin",
            :"data-pin-tall" => "true",
            :"data-pin-media" => image_path("blog/declutter-handbags/handbags-4-tips.jpg"),
            :title => "Pin It",
            :class => "pin-it-button",
            :href => "http://pinterest.com/pin/create/button/",
            :rel => "nofollow",
            :target => "_blank",
            "count-layout" => "horizontal",
            :"to-be-replaced" => "true"} 
      .tips-section
        .tip.green-box-1-of-4
          .tip-number
            %p
              1
          .tip-content
            %p.tip-heading
              Collect all your handbags
            %p.tip-text
              Take out all your handbags and place them on your bed or on a flat surface in front of you.

        .tip.green-box-2-of-4
          .tip-number
            %p
              2
          .tip-content
            %p.tip-heading
              Divide into these 3 categories 
            %p.tip-text
              %ol
                %li
                  Use every day - keep
                %li
                  Used one or twice – don’t keep
                %li
                  Never used it – don’t keep

        .tip.green-box-3-of-4
          .tip-number
            %p
              3
          .tip-content
            %p.tip-heading
              Decide what you do and don’t use
 
            %p.tip-text
              %ol
                %li
                  Use it every day - great purchase
                %li
                  Use it once/twice - okay purchase
                %li
                  Never used it – waste of your money

        .tip.green-box-4-of-4
          .tip-number
            %p
              4
          .tip-content
            %p.tip-heading
              Better buying habits 
            %p.tip-text
              %ol
                %li
                  Use it every day - buy as needed
                %li
                  Use it once or twice - buy a lot less
                %li
                  Never used it – don’t buy any more


  .article-section.article-section-with-quote
    .article-text
      %h3
        How much did all your handbags really cost you?

      %p
        Now let us go back and take a look at all your bags from categories 2 and 3.
        Try to remember why you bought each one of them.
        Ask yourself what was the original reason and compare that to what happened to each bag once you got it home.
        Do these reasons match?
        If not, it’s best to consider if this was possibly a choice and purchase that didn’t really work out.
        Finally ask yourself if any of these bags were bought in the sale. This could also why the purchases didn't quite work out.
        This was my biggest issue and when I realised most of my error purchases occurred.
        So now you should have an idea of what you actually need (all the bags you have used on a regular basis), and you should also have identified all the error purchases you may have made.
        Add up the total value of all your error purchases. This is all the money wasted.
        Now, imagine if I was holding all that money and said you could have the money or the bags, which would you choose?
        I would definitely choose the money and not waste any more of it on bags. 

  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated
    .article-text
      %h3 
        Money saving tips – How many handbags do you really need?
      
    .article-image
      -image_url = image_path("blog/declutter-handbags/woman-standing-by-wall.jpg")
      =image_tag(image_url, alt: "A low-angled shot of a woman in a white dress and gladiator sandals striking a powerful pose while holding a dark woven clutch bag in front of her.")
      %figcaption
        Photo by
        =link_to('Adrian Frentescu', 'https://www.pexels.com/photo/low-angle-view-of-a-woman-standing-by-the-wall-13807400')
        on Pexels

    .article-text
      %p
        Here are my money saving tips to clear out your handbags, make a bit of space, and have no more than you truly need in future.
        Stop wasting your cash on excess bags and save your money for other things.
        Put your one best everyday handbag to one side.
        Select one backup, so when the current one gets a bit old and tired looking you already have a back-up.
        Now put these to one side. Next on the list is a special occasions handbag.
        One that will go with most of your evening wear and also put that to one side.
        Next is it a good idea to select a big holiday bag, if you have one.
        One that would be good to take to the beach and carry all your stuff in.
        This should be a bag that can be folded up small too.
        Next you might need a general hold-all, one that will serve as a good overnight bag too.
        Finally pick a small travel bag, one that is good for keeping all your valuables: passport, keys, cards etc.
        You should now have 5 useful bags + 1 spare put on one side Now there is one last thing.
        If you have any sentimental bags, take them out and put them to one side.
        I don’t mean ‘pretty’ sentimental.
        I mean it is connected to someone special sentimental.
        These are your non-negotiables and get a free pass to stay forever.

  .article-section
    .article-text
      %h3.cheat-sheet-heading
        Money Saving Tip - 
        %span.red
          Cheat Sheet

  .article-section
    .article-tips-panel
      .title-section
        .heading
          %h3
            4 easy handbag styles to keep
        .subhead
          %p.sub-title
            How to declutter and reduce your handbag collection
        .pinit#pinit-4-handbag-styles
          %a.pinterest-share-button{ :"data-pin-do" => "buttonPin",
            :"data-pin-tall" => "true",
            :"data-pin-media" => image_path("blog/declutter-handbags/handbags-4-tips.jpg"),
            :title => "Pin It",
            :class => "pin-it-button",
            :href => "http://pinterest.com/pin/create/button/",
            :rel => "nofollow",
            :target => "_blank",
            "count-layout" => "horizontal",
            :"to-be-replaced" => "true"} 

      .tips-section
        .tip.green-box-1-of-4
          .tip-number
            %p
              1
          .tip-content
            %p.tip-heading
              Every day handbag  + 1 spare
            %p.tip-text
              You can rely on this bag.
              It is not too big and fits everything you need inside.
              It is hard-wearing and goes with all things casual that you wear all the time.

        .tip.green-box-2-of-4
          .tip-number
            %p
              2
          .tip-content
            %p.tip-heading
              Special occasions bag x 1 
            %p.tip-text
              This bag looks great and fits enough essential items for an evening out.
              It is neutral and goes with all your evening outfits.

        .tip.green-box-3-of-4
          .tip-number
            %p
              3
          .tip-content
            %p.tip-heading
              Travel handbag  x 1
 
            %p.tip-text
              This bag is your go-to for keeping your important travel items safe.
              You can rely on it to do the job and it is easy to keep hold of and close.

        .tip.green-box-4-of-4
          .tip-number
            %p
              4
          .tip-content
            %p.tip-heading
              Large bags  x 2  (beach & overnight stay) 
            %p.tip-text
              These bags are great for vacations, overnight stays and the beach. You can get a towel inside, and some extra clothing. They are easy to fill and fold up well too.                                              

  .article-section.article-section-with-quote
    .article-text

      %h3
        Moving forward  - better spending habits and less clutter
      %p
        You can amend categories 3 and 4 if they don’t quite fit, but my advice is to keep categories 1 and 2 for a while to let the new categories settle into your life.
        Remember this is a stopping and starting point to help you make changes and move forward.
        You are stopping the clutter, starting the declutter, and then saving your money.
        You are moving into a new phase of your life with handbags, where you need less and save money because of it.
        Once you have let these first changes settle in, then you can adapt depending on your own needs and changes.
        As long as you don’t go back to hoarding handbags and wasting money on bad purchases and you are all good to go. 

      %h3
        Decluttering your unused handbags for good - what to do next
      %p
        Knowing what to do with your remaining handbags is a very important part of making changes.
        If you do this bit right, you have a better chance of not going back and undoing all your good work so far.
        I have listed the following options at this final stage to help you with all the bags that you will not be keeping.
        These are my favourite options for finishing the handbag declutter off.         

      %h3
        Where and how to get rid of your clutter
      %p
        %ul.no-bullets.with-padding
          %li
            %span.strong
              1 - Past its best
            \– charity shop recycle scheme -  they can send it for shredding and it will be recycled into something else
          %li
            %span.strong
              2 – Used but still in fair condition
            \– charity shop or second hand store. 
          %li
            %span.strong
              3 - Never used or rarely used
            \– you can sell these at Never Been Worn.
            It will support our sustainable fashion drive to put 1,000 unused or rarely handbags back out in to the world to support resale and sustainable fashion.
            Just think for anything that is sold, you get cash. You can use  it for something else you might need. 


  .article-footer

    %p
      If you enjoyed this article then we would love to hear from you.
    %p
      Send your experience in reducing your handbag collection to 
      =link_to('info@neverbeenworn.co.uk', 'mailto:info@neverbeenworn.co.uk?subject=Declutter Your Handbags')
      and make sure you add ‘Declutter Your Handbags’ in the subject bar.

    %p
      If there is anything you would love to read about, we would be happy to consider your request too
  