- content_for :extra_javascript do
  =javascript_include_tag "//assets.pinterest.com/js/pinit.js", defer: true
  =render :partial => "blog/components/update_pinterest_button_text",
    :locals => { :"pin_button_ids" => ["pinit-4-easy-tricks"] }

.blog-article
  %h2.article-title="Will decluttering make me happy?"
  %p.published-date
    March 2023
  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated

    .article-image.aspect-2-3
      -image_url = image_path("blog/declutter-me-happy/sitting-white-chair-no-clutter.jpg")
      =image_tag(image_url, alt: "A lady listens to music while sitting on a suspended white chair in her bedroom. The room is tidy and uncluttered but not not minimalist, with healthy pot plants and a collection of pillows on the bed.")
      %figcaption
        Photo by
        =link_to('cottonbro studio', 'https://www.pexels.com/photo/girl-in-white-shirt-and-blue-denim-jeans-sitting-on-white-sofa-chair-5077464')
        on Pexels

    .article-text
      %p
        We all want to be happy!
        We all want that golden joy and contentment in our lives, right?
        But, there is a bit of a problem with that.
        Being happy is not taught in schools.
        It's not available to buy on any high street chain and as far as I know, it is not dished out for free anywhere either.
        Not from anywhere that I know anyway.
        And there doesn't seem to be any simple step by step process to getting there either.
        So, how do you really
        =succeed "?" do
          =link_to('get your happy', '/blog/me_time')
        Are you wondering what this has got to do with decluttering yet?
        The world loves simply loves decluttering at the moment.
        We just can't get enough of it and enough doesn't seem to be nearly enough, so why do you think that is?
        What is the real reason behind the decluttering craze that we have all jumped on board and shown no sign of getting off?

      %p
        %span.big-question.in-column.purple
          Why are we obsessed with decluttering right now?

      %h3
        Why is decluttering so popular?
      %p
        I believe there is a good reason why decluttering is so popular.
        With more and more of us working from home, it's definitely been a game changer.
        After just four weeks into a new working from home role I started to see my home life very differently.
        It was no longer the place I landed every evening, or the place where I hurriedly created a meal each night.
        It was also no longer the place where I had to find the energy and will power to clean up so I could relax.
        No, I no longer saw it that way. During those first few weeks I began to see things very differently.
        I really began to see every part of my house in a different way, and what I saw was this.
        I no longer saw the rooms as just rooms that I passed through on my way out the door each morning.
        I no longer saw them as rooms that were filled with stuff that I continued to ignore anymore.
        I saw all the things I had been ignoring for longer than I can remember because I didn't have the time or head space to do anything about them, but now I was seeing them every day and I was seeing them in my space.
        That’s right, for the first time in a very long time, I was referring to my house as my space. I was having a change of heart with my current abode.
        I had always seen my home as a functional thing.
        A roof over my head, nothing special just the place where I stored all my stuff, hung out, bathed and slept but that was all about to change.


  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        How decluttering will change your life

    .article-image.aspect-1
      -image_url = image_path("blog/declutter-me-happy/standing-by-dresser-with-drink.jpg")
      =image_tag(image_url, alt: "A young woman stands next to a dresser holding a hot drink. She is happy and relaxed.")
      %figcaption
        Photo by
        =link_to('Vlada Karpovich', 'https://www.pexels.com/photo/young-woman-with-cup-of-drink-and-laptop-near-dresser-4050403')
        on Pexels

    .article-text
      %p
        So what is it all about?
        Well remember when I said that after 4 weeks into my new working from home job, I was starting to see my house in a different way?
        So, here is what was happening.
        I was seeing my space in a completely different light because I had the time to see it.
        My commute to work had just gone from 40 minutes down the road and into the city to 5 minutes across the hallway.
        My breakfast had gone from 5 minutes at my desk at 8.50 am to 15 minutes at my table at 8.30 am.
        I had more time to spend in my space and it was this time that made me realise one major thing.
        I didn't like my own space.
        It was full of stuff.
        When I think about it, my stuff was full of stuff and there was stuff in places I didn't even know I had available to stuff with even more stuff.
        My house was just full of stuff. Lunchtime was not that much better either. I found myself looking around my kitchen.
        Again, I was staring at this stuff.
        It was probably at this point that I began to wonder why I had all these things and why I had so much.
        I also began to wonder how I got so much of it in the first place.
        But what happened next was completely unexpected.
        I began to feel uncomfortable in my own home.
        I felt like it was not mine.
        By this I mean it was not making me feel happy.
        My home was making me unhappy.


      %h3 
        Why is decluttering so important?
      
      %p
        With the big shift to working from home, our environments have become more important than ever.
        There was a much greater need to create a happy home environment.
        What this meant was that, as we made the shift to spending more time at home, the realisation that we had not been creating a happy home environment literally hit home.
        We had not been creating the calming sanctuary we had all envisaged after all.
        We had just been existing there in the limited time we had outside of every day working and commuting.
        Our away-from-home hours were all about to change.
        All of a sudden the importance of well-being and better mind-health and environment was pushed to the top of our list.
        Given that sales of gardening and DIY products increased by 1241% during the first big lockdown I was not the only one thinking more about my home life now.

      %p
        So, I think this is where it all began for most of us.
        I wonder how many homes and gardens have changed since that first day of lockdown and from there, how many of us have made the permanent shift to working from home?
        There is one thing I can say though.
        My home is a much happier place to be now that I decluttered and that makes me happier to be there more.
        Decluttering had a huge part to play in that.
        I don't see it anymore.
        Why? Because I stopped ignoring it and
        =succeed "." do
          =link_to('did something about it', '/blog/the_wardrobe_challenge')
        It's no longer one of the many things to do on my to-do list, that I just don't have the time or energy for.
        It's because it's no longer there and it became a number one priority as my priorities suddenly changed.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-image.aspect-2-3
      -image_url = image_path("blog/declutter-me-happy/waking-up.jpg")
      =image_tag(image_url, alt: "A woman wakes up in her sunlit bedroom. She is well rested and at peace, doubtless because she has woken up to a nicely organised room free of clutter.")
      %figcaption
        Photo by
        =link_to('cottonbro studio', 'https://www.pexels.com/photo/a-woman-waking-up-on-a-bedroom-10061462/')
        on Pexels

    .article-text
      %h3
        Why decluttering is good for your mind-health
      
      %p
        Now comes the juicy bit.
        There is a very good reason that decluttering is good for your mind-health.
        Basically, for you to be happy, your mind has to be happy.
        Now let’s look at an example.
        Let us say that you have a pile of stuff in a corner of your bedroom.
        Each morning when you wake up, it's the first thing that you see.
        Let us also say that it is one of the last things you see before you turn the lights out and go to sleep.
        It also bothers you every time you see it. So, your first and last thought of the day is not a positive one.
        It’s a reminder that you have not tackled that problem in the corner yet.
        Each time you look at it. It is a reminder that you hate seeing it and that you have still done nothing about it.
        It’s a reminder on a reminder on a reminder on a reminder every time, that you have not done anything about it again.
        Can you feel the stress building up just from reading about it?
        Now multiply this out over a week, a month, maybe even longer, depending on how long it has actually been there.
        This is how you are starting and ending each day for yourself.
        You are ensuring you have a negative start and a negative end every day and it’s probably building up and getting to you as it grows and the longer you leave it.
        This is also what you are carrying around all day.
        You may even find yourself working harder and harder to forget about this problem now, but that will grow too.
        All this avoiding can wear a person down.

      %h3 
        Why decluttering can add to your happiness

      %p
        Now let us imagine that the very next day you got up and you
        =succeed "." do
          =link_to('did something about that annoying little mess in the corner of your room', '/blog/get_your_messy_shelves_in_shape')
        What do you think is going to happen? Let us pretend that once you got started, you finished it in a lot less time than you thought.
        In fact, you wondered what all the fuss was about.
        You feel a little pleased that you
        =link_to('tackled that problem', '/blog/fix_your_drawers_forever')
        and you go off to go about your day feeling noticeably a little lighter.
        The mess was gone and that was great, but you don't think too much more about it until you go to bed.
        As you go to switch off that light, you look to see the mess, but it's not there.
        That last feeling before you turn the light off just went from a 100% negative to a 100% positive.
        In the morning you wake up and again for a second you expect to see that mess and negative reminder in the corner, but again it’s not there.
        You experience another positive feeling and a reminder that you did a good job.
        What you actually did was change your mind-health from a negative to a positive.
        You just changed your last thought of the day and the first thought of the day to something much, much better.
        This is called positive reinforcement.
        In other words you just made sure you have a happy mind at both the start and end of your day and this is why decluttering will add to your happiness.

      %h3
        What decluttering can do for you right now
      %p
        Take a look around the place you live. As you walk around make a few notes of all the things you see that bother you.
        If it makes it easier, walk around with a pad and pen, post-it note, or write it on your phone as you go around.
        Pick out everything small or large, it doesn't matter as long as it bothers you in some way.
        Continue to go from room to room and make sure you make your notes under each room heading as you go.
        You want a nice easy to read record of what you found in each room. This will help keep it all organised for later.
        Don't spend too long in any one room either. You want to sweep through each room at a steady pace.
        Too quick and you might miss something, too slow and you might go into too much detail.
        Once you have done this take a good look at your list. These are all the things that could be bothering you.
        They could make you feel stuck and depending on how long each room has been like this, your rooms could be reinforcing a negative mood each time you use it.
        Next, look at the list room by room and think about how each thing on your list affects you and how you use each room.
        Is it a positive or negative experience?
        Look at the list and think about the room again.
        Think about how different using that room would be if all those things on your list were not there, or fixed.
        How different would your experience be then? 

  .article-section
    .article-tips-panel
      .title-section
        .heading
          %h3
            4 easy tricks
          %p.title-subtext
            &nbsp;
        .subhead
          %p.sub-title
            To identify the unhappy rooms in your house
        .pinit#pinit-4-easy-tricks
          %a.pinterest-share-button{ :"data-pin-do" => "buttonPin",
            :"data-pin-tall" => "true",
            :"data-pin-media" => image_path("blog/declutter-me-happy/declutter-4-easy-tricks.jpg"),
            :"data-pin-description" => "Will decluttering make me happy? Quick helpful tricks to start helping you get rid of all the unhappy clutter in your life and how to keep it that way for a better and happier home and mindset now and in the future.",
            :title => "Pin It",
            :class => "pin-it-button",
            :href => "http://pinterest.com/pin/create/button/",
            :rel => "nofollow",
            :target => "_blank",
            "count-layout" => "horizontal",
            :"to-be-replaced" => "true"} 
      .tips-section
        .tip.purple-box-1-of-4
          .tip-number
            %p
              1
          .tip-content
            %p.tip-heading
              Pick a room
            %p.tip-text
              Pick the messiest room or the one you use most and take a good look around from the doorway. Don’t even go inside.

        .tip.purple-box-2-of-4
          .tip-number
            %p
              2
          .tip-content
            %p.tip-heading
              Take a good look
            %p.tip-text
              Next, make a note of all the things you instantly see that look like a mess or stand out as untidy. You have 5 minutes maximum.

        .tip.purple-box-3-of-4
          .tip-number
            %p
              3
          .tip-content
            %p.tip-heading
              List all the clutter you see
 
            %p.tip-text
              Think about everything you spotted in 5 minutes or less. Now you see it all, what it is like to be around every day?

        .tip.purple-box-4-of-4
          .tip-number
            %p
              4
          .tip-content
            %p.tip-heading
              Fix the clutter you see
            %p.tip-text
              Stick the list on the wall and fix one thing at a time or each time you go into that room. Take the list down when you are done.


  .article-section.article-section-with-quote
    .article-text
      %h3
        What decluttering can do for your future

      %p
        If you have taken a good look around where you live and have noted what is bothering you, or what gives you a bad vibe and bad room experience, you have done well.
        At this point imagine for a moment if all that was gone, from every single room and in its place there was something much better.
        Something that worked for you and made using that room a more pleasant experience.
        What would that truly feel like?
        Do you know how it would affect your mind-health? Would it make it better? This is now your possible future.
        If it looks like a better future, then you know what you need to do.
        It's important to note that decluttering for a better future is not decluttering for something better far into the future.
        It is decluttering for the near future which is sometime soon.
        It is a goal you can achieve and it is within reach if you want it.
        If you like the idea of how it feels, then this is what we call 'decluttering for happiness'.
        It's decluttering for your happy mind-health and decluttering for a
        =link_to('happy future', '/blog/me_time')
        that is nearer than you think.
        So, go ahead and declutter if all the things around you are not making you happy.
        Declutter, if it's time to let go of unhappy clutter and look forward to a better mind-health and a happier you and home.


  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }
  

  .article-footer.purple

    %p
      If you read this and tried it, well done.
      I love selecting star stories to share with our community, they love it.
      Send in your before and after shots if you want to share your success.
    %p
      Send it to 
      =link_to('info@neverbeenworn.co.uk', 'mailto:info@neverbeenworn.co.uk?subject=Declutter Me Happy')
      and add ‘Declutter Me Happy’ in the title.

    %p
      I love to get the community involved, so if there is anything you would like to read about, send a request in.
      It’s no bother.

    %p
      Email me at 
      =link_to('info@neverbeenworn.co.uk', 'mailto:info@neverbeenworn.co.uk?subject=Request article')
      and add ‘Request article’ in the title.

    %p
      I also have loads more helpful stuff ready to read on the
      =link_to('blog.', '/blog')
      Take a look and elevate your life.
  