.blog-article
  %h2.article-title="Fix Your Drawers Forever"
  %p.published-date
    December 2022
  .article-section.article-section-right-image.text-first.article-section-with-quote
    .article-text
      %h3 Why are my drawers a nightmare to keep tidy?
      %p
        The wardrobe challenge was a complete eye-opener for me.
        My wardrobe was now behaving itself perfectly.
        Instead of working against me, it was supporting me in life now.
        I am really not kidding when I say it changed my life and it saves me time every day.
        This is my easy wardrobe, easy mornings and easy life.
        Because of this I decided not to stop there.

      %p
        If you haven’t read my
        = link_to('wardrobe challenge', article_path(id='the_wardrobe_challenge'), :class => "article-link")
        yet, you can read it here

      %p
        I really do wish I could say the same about my chest of drawers though.
        I feel pain every time I use them.
        What is it with our chests of drawers?
        Are they destined to always be a bit of a mess?
        Why are so many sets of drawers just not working  in our lives?
        I don’t recall any warning signs when I bought my current set of drawers.
        In fact it was quite the opposite.
        I do remember being overjoyed in the store as I listened to the assistant promise me that drawer storage heaven could be mine and I quickly handed over my cash to show I was in.
        I couldn’t wait to get them home either, because storage solution heaven was finally mine.
        I did get home and I filled my new chest of drawers with all my things to symbolize the beginning of my super organized new life,
        but 12 months later I was not living the life I was promised.
        My drawers had become a complete nightmare and they often like to conspire against me.
        So what happened?
        Why did these life changing drawers quickly join the same painful and overstuffed team as my wardrobe?
        One day I even stopped fighting them and began to ignore the mess in them too.
        This is how they became known as my nightmare drawers.
    .article-image.aspect-2-3
      -image_url = image_path("blog/fix-your-drawers-forever/overflowing-drawers.jpg")
      =image_tag(image_url, alt: "All three drawers in a chest of drawers overflow with clothes.")
      %figcaption
        Photo by
        =link_to('Freepik', 'https://www.freepik.com/free-photo/dirty-home-concept-with-wardrobe-high-angle_23591496.htm')
        on Freepik
        

  .article-section
    .article-text
      %p
        With one victory already under my belt, in the shape of a well tamed and obedient wardrobe,
        I was no longer willing to accept defeat and I was not messing about this time.
        I eyed my chest of drawers with steely intent.
        I was coming for them next and this time there would be no half measures because this time I meant business.
      
      %p
        %span.strong
          The two things I really hated the most about my drawers were the mess I made taking anything out and the increased mess I made putting anything back.
        This is why I always called them my ‘nightmare drawers’.
        The new goal was to remove all the hassle that these drawers gave me every single day.
        I wanted the same amazing results I now had with my wardrobe, so these nightmare drawers had to go.
        Let’s have a look at a quick guide to give you an idea of how I got started:

    .quick-guide-container.quick-guide-decluttering
      .quick-guide
        %h4.quick-guide-title
          Quick guide - preparing to declutter my drawers
        %ul
          %li 
            =link_to "#step-1" do
              Step 1 - Before you get started – think about your current bad drawer habits
          %li
            =link_to "#step-2" do
              Step 2 - Know what you own - It’s important take a good look inside each drawer
          %li
            =link_to "#step-3a" do
              Step 3 - Getting ready (Part 1)  - knowing your new needs
          %li
            =link_to "#step-3b" do
              Step 3 - Getting ready (Part 2) - Make a new drawer plan
          %li
            =link_to "#step-4" do
              Step 4 - Final prep – Start the magic declutter
          %li
            =link_to "#step-5" do
              Step 5 - A new start -  Making your drawers fit your new life

  .article-section
    .article-text.followed-by-image
      %h3#step-1.inline Step 1 - Before you get started
      %p.inline
        \- think about your current bad drawer habits
      %ul
        %li
          Drawers do not usually have the same capacity as wardrobes so great news, it should not be quite as much of a challenge to fix.
          Like the wardrobe challenge I was still looking for something manageable and well within my skill set and time frame. 
        %li
          I don’t think there had ever been any kind of real plan going on in any of my drawers and this is probably why they had all taken on a life of their own now.
        %li
          Generally speaking, I think they all had a mix of a mess and they were all equally overstuffed and extremely disorganized inside.
        
      %h3#step-2.inline Step 2 – Know what you own
      %p.inline
        \- why it’s important take a good look
      %ul
        %li
          It’s important to know what you own and what you will be dealing with from the start, so you can manage your time and avoid taking on to much at once. 
        %li
          To start with I needed to have a really good look in each drawer and determine what exactly was going on in there.
        %li
          If you are not sure what you have, you might struggle to create a set of successful drawers that really work for you.
          So take a good look inside each one and think about what you have.
        %li
          I had no real order going on in any of mine and I hadn’t stopped to think about how I really needed them to support me in my daily life.
          If I was going to create less mess, I had to get away from my current ‘stuff it in and close the drawer quickly’ method that was clearly not working at all.
          These are the questions to help you understand your drawers’ use and determine what you need fixing:

    .quick-guide-container.quick-guide-decluttering
      .quick-guide
        %h4.quick-guide-title
          Best questions to ask before decluttering your drawers
        %ul
          %li 
            What is each drawer mainly full of?
          %li
            Do you have key categories, or is everything mixed up?
          %li
            What items do you remove and use the most?
          %li
            Which drawers do you go to the most?
          %li
            What items do you remove and use the least?
          %li
            Which drawers do you go to the least?

  .article-section.article-section-with-quote
    .article-text.followed-by-image
      %h3
        Know what you wear  - Time to be honest with yourself
      %p
        As creatures of habit, our clothes generally fall into a few short categories and it’s when we lose sight of these few important categories that we start to hoard unnecessary items.
        The main reason we hang on to unnecessary items is money that has been spent on items we have not worn.
        There is a natural fear in the acknowledgement of any regretful purchase.
        Loss of money and error in judgement can spur us to keep things far longer than we need to.
        How often have you kept something because there is a very slim chance that we might wear it just once and then the money would not be wasted?
        It appears that we would rather hoard an item for years in the hope of wearing it once, than address or recognize the bad purchase in the first place.
        But here is the funny thing.
        If you reset your wardrobe so it is working for you and you learn how to make better choices then you are almost never going to be in that position again.
        Wouldn't that be great?
        There is no more fear, there is no regret, and you have everything you need.
        You find you wear everything you have and you waste far less money this way.
        You will also know exactly when to replace things you wear often and you will always know when you really need something new.
        This is the key to an easy life, less money wasted and much, much less clutter.
        This is why it is so important to recognise what you actually wear all the time.
        It will help you understand how you should really be buying things.
        Below I have listed some categories for the items I currently own:

    .quick-guide-container.quick-guide-decluttering
      .quick-guide
        %h4.quick-guide-title
          6 top categories of my wardrobe explained
        %ul
          %li
            %span.strong
              Go-to Items
            \- wear it all the time - love it, feels great, it's reliable. I feel good in it and its in good condition
          %li
            %span.strong
              Back-ups
            \- Worn it once or twice, doesn’t really fit. It’s a good back up have others that I prefer
          %li
            %span.strong
              Saving it
            \- These items are the main reason we hoard. They often don’t fit and one day we hope they will
          %li
            %span.strong
              Damaged or marked
            \– awaiting repair,  was once a really loved item. Unable to let it go
          %li
            %span.strong
              Never worn it
            \– hoping to wear it, paid good money for it. Still never worn it
          %li
            %span.strong
              Miscellaneous
            \- Never thought about it. Just taking up space.

    .article-text.following-image
      %p
        Basically, you want all your regular items to fit into the top category.
        This is how you save time in the morning, how you reset your wardrobe,
        and how you get rid of all the other categories that are just things hanging around taking up much needed space.

      %h3#step-3a.inline Step 3 – Getting ready (Part 1)
      %p.inline
        \- knowing your new needs
      %p
        Remember we want to think about creating a nice easy to use storage space in a nice amount of time that suits you.
        After sorting my wardrobe out I decide to use the same time planner method.
        This method really helped me allocate the correct amount of time for what I wanted to achieve with my wardrobe, so it made sense to use it again here.
        I have re-listed the plan and made a few relevant adjustments, but if you need to tweak it a bit to fit your needs, go ahead. 

    .quick-guide-container.quick-guide-decluttering
      .quick-guide
        %h4.quick-guide-title
          Decluttering - Choose your level
        %ul
          %li
            %span.strong
              Level 1 - Easy steps
            \- remove all items past their best, a bit of a tidy up – approx. 5 - 10 mins per drawer
          %li
            %span.strong
              Level 2 - A bit of a challenge
            \- remove all items  past their best and any items you have stopped wearing altogether and a bit of a tidy up – approx.  10- 15 mins per drawer
          %li
            %span.strong
              Level 3 - Professional
            \- remove any items that are past their best, any items that you have stopped wearing altogether,  go through any items you have never worn and have a bit of a tidy up – approx. 20 – 30 mins per drawer

    .article-text.following-image.followed-by-image
      %p
        These times are a general guide, so please adjust according to your own drawer sizes and the speed at which you think you can complete each one.
      %p
        I was sorting my drawers out in autumn/winter so I had lots of bulky jumpers to go through and lots of summer wear to put away.
        Again, I went for the professional level, as I thought I could allocate enough time in one go.

      %h3#step-3a.inline Step 3 – Getting ready (Part 2)
      %p.inline
        \- make a new plan
      %p
        If your drawers have no particular plan like mine, creating a new one and thinking about what you use and need the most is really going to help you get them sorted so they work for you.
        Each drawer should be allocated one frequently-used and staple item to start with.
        This is going to help you see what you need the most and ensure you have easy access to it at all times.
        The staple item plan will be a major time saver in your regular morning routine.
        If you can’t grab what you need quickly, then your drawers are not working for you right now.
      %p
        I had four medium sized drawers and I re-planned them in the following manner.
        The plan will help you focus on getting your drawers in order quickly and ensure you stay focused.
        My new staple categories for each drawer are listed as follows, but do make sure your plan fits your needs and life.
        You want easy reach for only what we wear and need every day.

      %h4
        My new staple item drawer plan
      %ul
        %li
          Drawer 1 - Underwear
        %li
          Drawer 2 - Gym Wear
        %li
          Drawer 3 - Nightwear
        %li
          Drawer 4 - Jumpers 

    .article-image.article-image-centred.aspect-3-2
      -image_url = image_path("blog/fix-your-drawers-forever/piling-clothes-neatly.jpg")
      =image_tag(image_url, alt: "Sitting cross-legged on the floor and piling clothes into three neat piles.")
      %figcaption
        Photo by
        =link_to('Sarah Brown', 'https://unsplash.com/photos/oa7pqZmmhuA')
        on Unsplash

    .article-text.following-image
      %p
        There was a very good reason I gave myself only four staple categories.
        I wanted to see how much of each main category I had and the miscellaneous items I had left.
        Setting yourself one category per drawer at the start will also help you see if you have too much of any category,
        which will help you declutter for an easy life too. 
        I selected my most-used items to go at the top so that I could make sure they were all within easy reach first thing in the morning.

      %h3#step-4.inline Step 4 - Final prep
      %p.inline
        \– Start the magic declutter
      %p
        Because I was decluttering just like my wardrobe, I decided to employ the same ‘wardrobe challenge’ bin bag categories here as well.
        You want a good system with clear categories to help you quickly decide what is to keep and what is to give away.
        I knew I wanted to get rid of everything I no longer wore and everything I no longer needed, just as before,
        so I bought the same set of bin bags in the same colours to help me achieve this in preparation for my declutter day.
        As a little reminder these bin bags are to keep everything separated and ensure that I made no further mess as I sorted through each drawer.
        Having this strategy from the start guaranteed that I could work through my drawers swiftly and in the time I had allocated.
        I have listed my categories below gain help you out:
        %ul
          %li
            Orange bin bag – for items that are no longer wearable and past their best
          %li
            Blue bin bag – for items still wearable but you no longer want
          %li
            Grey bin bag – for items that have never been worn and you are never going to.

      %p
        The last thing I had left to do now was to pick a time.
        I chose a Saturday afternoon once again because the house was again usually quiet and there was less chance of being disturbed.
        I also put a big note on the fridge door again warning people that I would not be available on my declutter day at the specified time.
        Then I went and had a sit down and  that nice cup of tea that I loved so much.

  .article-section.article-section-right-image.article-section-with-quote
    .article-image.aspect-82-145
      -first_url = image_path("blog/fix-your-drawers-forever/fix-your-drawers-flowchart.png")
      =image_tag(first_url, alt: "A flowchart showing how to decide whether or not to keep each item of clothing when clearing your drawers. The flow is described in section 5 of this article.")

    .article-text
      %h3#step-5.inline Step 5 – A new start
      %p.inline
        \– Making your drawers fit your life
      %p
        On the day, make sure you have good sized clean and clear space to work from.
        I used my bed as my clear space and put my bin bags on the floor which meant I had enough room to work and I could keep on top of everything.
        I also had plenty of water on hand in case I needed a break at any point.

      %h4
        Your first decision
      %p
        To begin I decided to take one drawer out at a time and place it in the middle of my bed.
        Next I took everything out and piled it up on one side of the empty drawer.
        I found it best to deal with item at a time and decide which of the following categories best fit its current state:
        %ul
          %li
            Still wearing  - these items were ‘keep and use’ and would back into the drawer
          %li
            Unwearables - these items went straight into the orange bin bag on the floor
          %li
            No longer wear – these items went in the blue bin bag on the floor
          %li
            Never been worn - these items either went back in the drawer to be used or they went straight into the grey bag on the floor, if I thought they were never going to be worn at all
          %li
            Miscellaneous items -  Put on one side if you want to keep
      
      %p
        If I was not sure about wearing anything, I quickly tried it on to help me decide.
        The trick is to really be honest with yourself or it won’t work.
        If it doesn’t fit you now then you are probably not going to wear it and telling yourself that you should hold onto it in case it does one day won’t help you declutter at all.

  .article-section.article-section-right-image
    .article-text
      %p
        %span.big-question
          Clutter is all the things we hold on to that we really don’t need.
      %p
        Once I had gone through the contents of one drawer,
        I took everything that I was keeping, refolded and organized it into new piles according to my new four categories.
        Then the empty drawer went back in place.

      %p
        Now you are ready to take the next drawer out and repeat the process again.
        When you have been through every drawer they should all be empty and ready to fill in your new order and should work much better for you.
        You should also be left with 2 or 3 bags of unwanted and organised clothes.
        If you have done it right, your drawers should be less full and less cluttered and also contain only items you need and wear on a regular basis.
      %p
        I then took the unwearables in the orange bin bag and the wearables in the blue bin bag to the charity shop.
        They get money for recycling the unwearables by weight and they sold the wearables in the shop.
        You could sell the wearables online yourself instead, it’s up to you.
        For the never been worn items in the grey bin bag, you can put them back out into the world right here and help us support sustainable fashion. 

      %h4
        Miscellaneous items
      %p
        Now you are ready to look at these.
        If you have gone through the process and decided not to keep any of them you will have less to deal with now.
        These items should be items that you don’t need on a regular basis.
        You want somewhere else to store these, a less immediate place like the bottom drawer.
        It is going to be better to reserve prime spots like top drawers for the most used and needed items.

    .article-image.article-image-centred.aspect-3-2
      -image_url = image_path("blog/fix-your-drawers-forever/overwhelmed.jpg")
      =image_tag(image_url, alt: "A tall and unstable pile of woolen clothing.")
      %figcaption
        Photo by
        =link_to('Freepik', 'https://www.freepik.com/free-photo/fast-fashion-vs-slow-sustainable-fashion_19533984.htm')
        on Freepik

  .article-section
    .article-text
      %h3
        Taking back my life
      %p
        This was my story and this was how I took on my drawers for an easier better life.
        Now you are ready to take on yours.
        I wish you good luck on your declutter day.
        Remember, preparing yourself and having a solid plan will help you succeed.
        We all live slightly different lives and have slightly different routines, so start in a way that best suits you. 
      %p.download-cheat-sheet
        I also have a quick guide cheat sheet to help you get started super fast.
        I found this so helpful to read on my drawer declutter day.
        It really helped me get focused and in the mindset to succeed.
        CHEAT SHEET EMAIL

      %h4
        How this changed my life – being free of mess
      %p
        Just like my wardrobe, my drawers are now always tidy and contain only what I need and use the most.
        The main difference is that I can always find what I am looking for without any hassle.
        Like my wardrobe, I no longer have that stress feeling every time I open my drawers to get something out and I have plenty of room to put things back.
        It also almost takes care of itself now. I am completely hassle free and I love it. 
      %p
        The time I save now is again unbelievable.
        Just like my wardrobe, I no longer have to look at mess and I no longer have to tidy up over and over again, because I no longer make any.
        The best thing is that as well as reclaiming my wardrobe and my drawers back I have reclaimed even more personal time.
        I have even more free time to myself. I was really not expecting that.
      %p
        Good luck with your wardrobe challenge and starting your new hassle free life.

  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }  

  .article-footer
    %p
      If you fix your drawers we would love to hear from you.
    %p
      Send us a before and after shot and show us how well you did.
      You can send it to
      =link_to('info@neverbeenworn.co.uk', 'mailto:info@neverbeenworn.co.uk?subject=Fix Your Drawers Forever')
      and make sure you add ‘Fix Your Drawers Forever’ in the subject bar

    %p
      If there is anything you would love to read about, we would be happy to consider your request too

  