-# Set these fields for SEO purposes. They will be included in the header
-# TODO: Do this in a more elegant way to aviod duplication with controller and view
- content_for :meta_article_id, 'get_your_messy_shelves_in_shape'
- content_for :meta_article_headline, 'Get Your Messy Shelves In Shape'
- content_for :meta_article_image_1, image_path("blog/messy-shelves/messy-shelf-tops-and-jeans.jpg")
- content_for :meta_article_image_2, image_path("blog/messy-shelves/holding-crumpled-clothes-on-floor.jpg")
- content_for :meta_article_date_published, '2023-01-16T08:00:00+01:00'
- content_for :meta_article_date_modified, '2023-01-16T08:00:00+01:00'

.blog-article
  %h2.article-title="Get Your Messy Shelves In Shape"
  %p.published-date
    January 2023
  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image
    .article-text
      %h3 
        My shelves are always in a mess!
      %p
        They are literally always in a complete state and they have this unique way of not really helping me when I need help from them the most.
        One recent and fine example was 5 minutes before the start of a morning zoom meeting I realised that I was full of toast crumbs and I needed a fresh top right away.
        I went to my shelves to look for one and I couldn’t find anything suitable.
        Another fine example was this winter when I had to leave the house immediately or risk being late and I could not find my gloves anywhere.
        It doesn’t really matter what the occasion is, but the outcome is always the same. Whatever I need and whatever I am looking for on whatever shelf, I can guarantee that I can’t find it and what follows is even less helpful.
        I will reach for something and the entire contents comes at me at all at once.
        It’s as if everything is stuck together like one giant cloth lemming. At this point  I usually find myself staring down at a pile of stuff on the floor covering my feet and the shelf is now  completely empty. This has gone on for embarrassingly far longer than I can bring myself to admit. The pace of my life has never really given me the time to stop and think about my problem until now.
        I feel like I have never really had the time to stop and think about any sort of a solution.
      %h3
        So why are shelves always in bad shape?

      %p
        Are they designed that way?
        Have we misjudged their true purpose?
        Or are we just incapable of keeping shelves in good order?  
    .article-image
      -image_url = image_path("blog/messy-shelves/messy-shelf-tops-and-jeans.jpg")
      =image_tag(image_url, alt: "A messy bedroom shelf holds a jumble of tops, jeans, and t-shirts.")
      %figcaption
        Photo by
        =link_to('user15285612', 'https://www.freepik.com/free-photo/large-white-cupboard-with-square-shelves-things-folded-them_16061607.htm')
        on Freepik
        
  .article-section
    .quick-guide-container.quick-guide-scarves
      .quick-guide.quick-guide-wide
        %h4.quick-guide-title
          5 Top complaints about shelves
        %ol
          %li
            Always a mess
          %li
            Always full
          %li
            Difficult to find what I am  looking for
          %li
            Difficult to grab things easily
          %li
            Always need to refold everything

  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image
    .article-text
      %h3
        Where did it all go wrong – shelf clutter explained
      %p
        Most shelves of disarray are clear signs that they are being used badly and are often full of many things.
        They can also start out as a dumping ground and then it just grows from there. Remember that all shelves start off with nothing on them at all,
        but that soon changes and this is when things can start to go wrong.
        We often have a tendency to put things in the wrong places.
        It might be just for now or it might be because we don’t know where else to put it.
        The wrong place can be the source of all the pain and this will inevitably make it harder to maintain a shelf and harder to keep any kind of useful order going.
        Shelves can also very easily become a lazy option.
        We think it is time-saving or easier to throw something on the nearest shelf instead of finding a good manageable home for it.
        Shelves can also help us to hang on to more things than we need and use.
        If you know you have the space for it you are more likely to keep it and think about whether you actually need it.
        Having more space and options is one of the most common causes of clutter and shelf dysfunction.

    .article-image
      -image_url = image_path("blog/messy-shelves/wooden-shelves-shirts.jpg")
      =image_tag(image_url, alt: "A wooden shelf holds a mish-mash of clothes, belts, braces, and small unidentifiable boxes.")
      %figcaption
        Photo by
        =link_to('Annie Spratt', 'https://unsplash.com/photos/lkvD9xlWdU0')
        on Unsplash

  .article-section
    .quick-guide-container.quick-guide-scarves
      .quick-guide.quick-guide-wide
        %h4.quick-guide-title
          Most common reasons why we keep hold of things we don’t need on shelves
        %ul
          %li
            I don’t know where else to put it
          %li
            I forgot that it was actually there
          %li
            I saw there was space for it
          %li
            My other shelves are already full
          %li
            I just wanted to dump it somewhere for now

  .article-section.article-section-right-image.article-section-with-quote.text-first.article-half-page-image
    .article-text
      %h3 
        How do our shelves get so dysfunctional?

      %p
        There are a number of reasons why shelves get like this.
        We all have lots of things we think we need and we need places to put them all.
        More often than not we don’t really care that much about where they go,
        just as long as they go somewhere a little out of the way and they can be found on the odd occasion they are suddenly needed.

      %h3
        The law of mess-making on a shelf

      %p
        One of the most common mess-making habits that occurs on a shelf is the unwritten law of mixing things up.
        Things we need on a regular basis can often get mixed up with things we need less often or don’t even need at all.
        Things can also get added if we think there is still room available and so there can be this constant adding and removing and shuffling around of things on a single shelf that adds to all the mess-making.
        It always amazes me how I manage to squeeze even more on a shelf than I thought I could and how when I run out of room on one shelf I just go and find another.
        Most shelves probably contain maybe one or two key items that we use often and need to get to the most and it is these main items that can get shoved about and end up right at the back so inevitably we end up having to go digging for them which is how we end up making a mess.
        This I am sad to say is the never-ending cycle of all the dysfunctional shelves in my life.

    .article-image
      -image_url = image_path("blog/messy-shelves/messy-shelves-books-towels.jpg")
      =image_tag(image_url, alt: "Two bedroom shelves, one has notebooks which started in a pile, gradually turning into a heap as more loose pieces of paper and pads are added. The shelf above has scarves folded but pushed in haphazardly. An unused scarf organiser sits forlornly at the back of the shelf.")
      %figcaption
        Photo by
        =link_to('user15285612', 'https://www.freepik.com/free-photo/large-white-cupboard-with-square-shelves-things-folded-them_16061607.htm')
        on Freepik

  .article-section
    .quick-guide-container.quick-guide-scarves
      .quick-guide.quick-guide-wide
        %h4.quick-guide-title
          Sure signs you have dysfunctional shelves in your life
        %ul
          %li
            You make more of a mess each time you reach for something
          %li
            If it takes you longer than it should to find what you need
          %li
            If you have to take nearly everything out to find that one thing

          %li
            If this is you, then you probably have a dysfunctional shelf
            and if you have one dysfunctional shelf in your life then you are likely to have more.

  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image
    .article-text
      %h3 
        Recognising the problem of your shelves

      %p
        Is it possible to fix the issue of your existing dysfunctional shelves and it is possible to stop the spread of further shelf dysfunctionality in your life if you know where to start.
        One of the most common problems is not knowing what is really on a shelf in the first place. If this is always an unanswered question for you then it will always be an unresolved problem for you as well.
        As long as you continue to ignore the state of your shelves they will always be there.
        But it’s not a lost cause.
        There are a few things you can do to stop this messy cycle from taking over all your storage space entirely.
        First we have to ask one simple question. 

    .article-image
      -image_url = image_path("blog/messy-shelves/tidy-shelves-jeans-tops.jpg")
      =image_tag(image_url, alt: "Two bedroom shelves with neat piles of clothes. One with jeans and tops, the other with pastel pyjamas.")
      %figcaption
        Photo by
        =link_to('user15285612', 'https://www.freepik.com/free-photo/large-white-cupboard-with-square-shelves-things-folded-them_16061607.htm')
        on Freepik

  .article-section
    .article-text
      %h3
        Do we really know what we have on your shelves?

      %p
        Try asking yourself this simple question right now.
        If you don’t have an immediate answer then you know you have work to do and I am here to help.
        This was the first step in making your messy shelves better so well done.
        Before we can really start to address things I have another little question for you, but this time this more fun.
        So here it is.
        If I could wave a magic wand for you and turn your messy shelves into a magical display of organized heaven, how would you like your shelves to look?
        Having this in mind at the start could give you all the motivation you need to see how wonderful and easy your better shelves will be.
        This is the key to banishing all the messy shelves in your life forever.

    .quick-guide-container.quick-guide-scarves
      .quick-guide.quick-guide-wide
        %h4.quick-guide-title
          Top 5 reasons why we have messy shelves
        %ul
          %li
            I don’t have the time to fix them
          %li
            I don’t know what I have on them
          %li
            I don’t have a good system
          %li
            I keep putting off tidying them
          %li
            I don’t have enough storage space


  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image
    .article-text
      %h3 
        Understanding how your current habits started

      %p
        Knowing how you regard a shelf is one of the most important insights into how it really fits into your life.
        Recognising your current approach and being truly honest with yourself will give you a better chance of fixing any problematic shelf situation.
        Think about how you go about using a shelf on a regular basis. Again, be honest.
        Do you throw things in there in no particular manner or do you try to keep a little bit of order that is not quite working, but you have run with anyway?
        Maybe it’s a bit of a mix of ways and you don’t really think about it all that much. Another great tip is to try asking yourself how often you go to this shelf.
        Is it once a week? Is it on daily basis or maybe it’s much less frequent than any of these and you can’t really say?
        All these answers will help you understand your own habits and highlight your current misuse of your shelf.

    .article-image
      -image_url = image_path("blog/messy-shelves/wooden-shelves-jumpers.jpg")
      =image_tag(image_url, alt: "A pile of woolen jumpers and other winter clothes sit neatly on a wooden shelf.")
      %figcaption
        Photo by
        =link_to('Annie Spratt', 'https://unsplash.com/photos/lkvD9xlWdU0')
        on Unsplash

  .article-section
    .quick-guide-container.quick-guide-scarves
      .quick-guide.quick-guide-wide
        %h4.quick-guide-title
          5 Top misuses of storage on shelves
        %ul
          %li
            Dumping ground for different things
          %li
            Dumping ground for things we rarely use
          %li
            Nowhere else to put things
          %li
            I forgot it was there
          %li
            I might need it one day
  

  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image
    .article-text
      %h3 
        Knowing your actual shelf contents is key

      %p
        Turning a problematic shelf from total dysfunction to a fully functioning and supporting space in your life is something we can all achieve.
        One of the best ways to fix a problematic shelf is to start by emptying it out completely.
        By taking everything out it will give you the opportunity to take a good look at what you have.
        This is the quickest way to see it clearly in front of you and it will show you one very important thing.
        It will show you exactly what you have been doing with your stuff and how you have been using this shelf.
        Knowing what a shelf is full of will help you see your own habits much clearer.
        There will be no lies.
        You will be able to see it all before you.
        Maybe it has been a bit of a dumping area for anything.
        We all own a dumping space and maybe this is how you have been using it, or maybe it’s just full of lots of the same things that don’t get used very often at all.
        So take a good look. It might contain quite a few different things that get used quite often.
        Now is a great time to look at everything and really question when you last used it.
        Be honest too.

    .article-image
      -image_url = image_path("blog/messy-shelves/holding-crumpled-clothes-on-floor.jpg")
      =image_tag(image_url, alt: "A woman sorts through a small pile of clean but crumpled clothes on the floor.")
      %figcaption
        Photo by
        =link_to('Ron Lach', 'https://www.pexels.com/photo/hands-of-woman-sorting-clothes-while-sitting-on-floor-10557481')
        on Pexels

  .article-section
    .quick-guide-container.quick-guide-scarves
      .quick-guide.quick-guide-wide
        %h4.quick-guide-title
          How most people mis-view their shelf habits
        %ul
          %li
            It’s just a bit messy, but I know where everything is
          %li
            There is a system, it just gets a bit full sometimes
          %li
            It all fits, I just have to pull everything out to find what I want
          %li
            I had a sort out not that long ago, so it is less full than it was
          %li
            If it goes in there must still be room
      

  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image
    .article-text
      %h3 
        Making a fresh start

      %p
        Take a good look at the contents of the shelf and start by grouping any similar items together. Identifying the most common items now will help you identify what you have previously considered to be the best use for this shelf. It will also help you identify any random items it will help you consider if this is the best place for them. 
      
      %p
        Now is a good time to think about the location of this shelf too. Is it in a prime location? Does it see a lot of traffic? The most often used and easiest to reach shelves are what we call prime location and these are the locations for holding the items that are most in demand in your life. Ask yourself what would be the best items to store here to make your life easier. Try thinking about waving that magic wand again. What would you really like this shelf to be used for? What would really help you out? Any items that fit into this new plan can go back on the shelf and for any items that don’t, well it’s time to find them a new location. Ask yourself where they should really be. 

    .article-image
      -image_url = image_path("blog/messy-shelves/square-shelves-baskets.jpg")
      =image_tag(image_url, alt: "Four square shelves each with a well-fitting woven basket hiding its contents.")
      %figcaption
        Photo by 
        =link_to('Tatiana Syrikova', 'https://www.pexels.com/photo/interior-of-children-bedroom-with-wooden-furniture-and-toys-and-globe-placed-on-shelves-in-room-3932930')
        on Pexels

  .article-section
    .quick-guide-container.quick-guide-scarves
      .quick-guide.quick-guide-wide
        %h4.quick-guide-title
          A new shelf – key questions to ask to start over
        %ul
          %li
            What is the location of this shelf?
          %li
            What would be the best types of items to store here?
          %li
            How many of these items do I actually need?
          %li
            Do need to store other types of items here too?
          %li
            Should I use a storage container to help keep items separate?
            

  .article-section.article-section-right-image.text-first.article-section-with-quote
    .article-text
      %h3 
        Final stages – a new order

      %p
        Anything that does not belong on the new shelf might be in the wrong place and now is a good time to think about relocating them.
        If this is really the best place for it and maybe think about your items located on other shelves too.
        Are they all in the right place too? Do they give you easy access at all times?
        Less used items do not have to be in easy reach at all times.
        This should help you decide what you need to hand and what you don’t.
        To help you decide on the best location it is a good idea to really understand how often you need any item and which room you need it in.
        If you can find the best place for things now it will help you save lots of time in the future and you may never have to deal with quite as messy shelves again.
        Your shelves should really be working for you and not against you. You want easy access to your most used items and be able to keep them in good order.
        This way you will be less likely to make a mess looking through things you don’t need to find the things you really do.
        Once you have all your items worked out on your new shelf there is one last thing that you will need to do.
        Maintaining your new shelf order is going to be key to ensuring that you do not return to your old habits and that your shelves do not return to the old mess you had before.
        For everything that does not make it back onto the shelf ask yourself the following questions:

    .article-image
      -image_url = image_path("blog/messy-shelves/shelf-nirvana.jpg")
      =image_tag(image_url, alt: "The neatest shelves you will ever see. Three shelves with a pile of evenly folded clothes in each, arranged by colour.")
      %figcaption
        Photo by 
        =link_to('Jan Zinnbauer', 'https://unsplash.com/photos/N3RfBXKTKQ4')
        on Unsplash

  .article-section
    .quick-guide-container.quick-guide-scarves
      .quick-guide.quick-guide-wide
        %h4.quick-guide-title
          Key questions to ask when relocating things
        %ul
          %li
            How often do I need this item?
          %li
            In which room do I need it?
          %li
            Do I have others like it that I use more?
          %li
            Do I really need to keep it?

  .article-footer

    %p
      If you liked this article we would love to hear from you.
    %p
      Send us a before and after shot and show us how well you did.
      You can send it to
      =link_to('info@neverbeenworn.co.uk', 'mailto:info@neverbeenworn.co.uk?subject=Messy Shelves')
      and make sure you add ‘Messy Shelves in the subject bar.

    %p
      If there is anything you would love to read about, we would be happy to consider your request too
  