-# - content_for :extra_javascript do
-#   =javascript_include_tag "//assets.pinterest.com/js/pinit.js", defer: true, "data-pin-hover": true
-#   =render :partial => "blog/components/update_pinterest_button_text",
-#     :locals => { :"pin_button_ids" => ["pinit-6-basic-needs"] }


.blog-article.quick-sections
  %h2.article-title="Buying guide: Long coats"
  %p.published-date
    March 2024

  .article-section

    .article-text
      %p.opening-paragraph
        The top 5 long coat styles for spring

      %p.opening-paragraph
        Smart is back in business this spring and long coats have just what we need.
        They are perfect for keeping warm and venturing out in the fresh new spring air.
        Here are the top five styles you can expect to see this season.


      %h2.centred
        1. Smart And Tailored

      .article-image.article-image-centred.aspect-3-4
        -image_url = image_path("blog/long-coats/fitted-long-black-coat.jpg")
        =image_tag(image_url, alt: "Woman in a long black fitted coat holding a briefcase, newspaper, and coffee to go.")
        %figcaption
          Photo by
          =link_to('cottonbro studio', 'https://www.pexels.com/photo/woman-in-black-coat-holding-newspaper-and-coffee-to-go-6531738')
          on Pexels

      %p
        Black is definitely a favourite for the long fitted coat.
        It’s already been spotted on a number of catwalks this year.
        The best styles are already on online and in some high street establishments.


  .article-section

    .article-text

      %h2.centred
        2. Oversized coats

      .article-image.article-image-centred.aspect-3-4
        -image_url = image_path("blog/long-coats/oversized-black-coat.jpg")
        =image_tag(image_url, alt: "A lady in an oversized but fairly formal long black coat, a pastel orange polo neck and black jeans stands near an old building in a park.")
        %figcaption
          Photo by
          =link_to('garetsvisual', 'https://www.freepik.com/free-photo/beautiful-serious-stylish-girl-confidently-posing-camera-beautiful-city-street_23880507.htm')
          on Freepik

      %p
        Oversized and baggy is still a great look.
        So, pairing it with a long coat style is an absolute perfect match.
        Go big and go oversized for great style and extra warmth this spring.
        

  .article-section

    .article-text

      %h2.centred
        3. Greys, browns and olives

      .article-image.article-image-centred.aspect-3-4
        -image_url = image_path("blog/long-coats/grey-olive-long-coats.jpg")
        =image_tag(image_url, alt: "Two women outside their office. One in a long olive coat and black shirt with rounded pearl buttons, the other in a long grey coat with black lapel detail over a high-necked frilly shirt.")
        %figcaption
          Photo by
          =link_to('cottonbro studio', 'https://www.pexels.com/photo/women-wearing-eyeglasses-6532346')
          on Pexels

      %p
        If going all black is not quite your thing this season or you simply prefer something with a touch more softness, then take a good look at a warm olive, soft grey or a gentle brown.
        Softer shades can work well with a touch of black or when paired with other warm colours.
        So I can’t recommend these shades enough. 


  .article-section

    .article-text

      %h2.centred
        4. Comfort coats

      .article-image.article-image-centred.aspect-3-4
        -image_url = image_path("blog/long-coats/long-baggy-coat.jpg")
        =image_tag(image_url, alt: "A lady stylishly dressed in baggy comfortable but tailored wear. She wears a long charcoal coat, tailored baggy charcoal trousers, a grey t-shirt, and white trainers.")
        %figcaption
          Photo by
          =link_to('Jay Randhawa', 'https://www.pexels.com/photo/woman-in-coat-walking-in-town-19099715')
          on Pexels

      %p
        Our love affair with the more relaxed and more comfort is still going strong, so the new baggy long coat is going to give you just that.
        It has enough edges to celebrate the new style, but with the hidden joy of a more relaxed fit.
        So, you don’t have to give up your comfort to get that tailored look and this is why it’s  fast becoming a favourite. 


  .article-section
    .article-text

      %h2.centred
        5. Light coats

      .article-image.article-image-centred.aspect-3-4
        -image_url = image_path("blog/long-coats/light-grey-trench-coat.jpg")
        =image_tag(image_url, alt: "A woman smartly dressed in a light grey trench coat over colour-matched light grey suit trousers and a white shirt.")
        %figcaption
          Photo by
          =link_to('Mikhail Nilov', 'https://www.pexels.com/photo/woman-in-brown-coat-standing-on-sidewalk-7682024')
          on Pexels

      %p
        If you are not so sure about the heavy, smart coat or the baggy comfort coat then how about something altogether different?
        How about gentle tailoring?
        It’s lighter in style and fabric, so it is great for when the weather starts to get a bit warmer.
        The gentle coat now is a great new addition for your wardrobe.
        Invest in a lighter look now and you will probably get the benefit in both spring and summer.

  .article-section
    .article-text

      %h2.centred
        Bonus Tips And Tricks

      %p
        5 tops tips and tricks to help you find your perfect long coat for spring

      .article-image.article-image-centred.aspect-3-4
        -image_url = image_path("blog/long-coats/black-coat-briefcase.jpg")
        =image_tag(image_url, alt: "A woman in a fitted black long coat over a grey-beige shirt which is in turn over a black high-necked polo neck, carrying a briefcase.")
        %figcaption
          Photo by
          =link_to('cottonbro studio', 'https://www.pexels.com/photo/a-woman-in-black-coat-carrying-a-black-briefcase-6535730')
          on Pexels

      %p
        %span.strong
          Tip 1:
        Building your look.
        If you want to add a long coat into your current style much quicker then take your top 5 favourite looks, or ‘key items’ from your wardrobe and use them as your guide to help you find the perfect match.

      %p
        %span.strong
          Tip 2:
        The long coat style. It’s all about smart cut or soft tailoring, but it’s up to you which one you choose. So go for the crisp cut or casual comfort, whichever matches you best and works for your own personal and current style. 

      %p
        %span.strong
          Tip 3:
        Colour contrasts – All back, neutral shades or contrasting tones. They all work well together, so don’t be afraid to mix it up and get more out of your wardrobe by creating great new looks this Spring.

      %p
        %span.strong
          Tip 4:
        Clean and cared for – keep your long coat clean and in perfect condition to ensure you maintain the crisp tailored look. This is an investment piece and a staple item for your wardrobe, so you want longevity no matter what your price range. 

      %p
        %span.strong
          Tip 5:
        Shirts: These go amazingly well with long tailored coats and can elevate and complete the spring look to perfection.
      %p
        The crisp
        =link_to('white shirt', article_path(id='white_shirts'))
        is back this spring and a perfect fit for long coats this spring coat. 
      %p
        Check out my
        =link_to('buying guide', article_path(id='white_shirt_how_to_wear_it'))
        on white shirts. I have added some great with bonus tips to help you get it right first time.



  .article-section.article-footer.anthracite
    .article-text

      %h2.centred
        Never been worn - Building a better wardrobe series

      %p
        This article is part of a series on how to build a better wardrobe.
        The series is designed to help you build a cost effective brand new wardrobe that works for you, not against you. 

      %p
        It’s about saving time and living more effortlessly and it’s about buying the right things that last and save money.
        If you want to know more about building a better wardrobe, take a look at the guides below. 

  -# .article-footer.orange
  -#   %h2
  -#     Don’t miss a fashion tip
  -#   %p
  -#     Stay connected and ahead of fashion with our ‘Newsflash’. [will be a link to the newsflash promotional page]
  -#     If there is something on the fashion high street, a must have essential for the season, then we will bring you the breaking news and how to wear it.

  .article-section

  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }

  -# .article-section.pin-for-later
  -#   .article-text
  -#     %h2
  -#       Pin this article for later!

  -#     %a.pin-for-later-image.pinit#perfect-beach-bag{ :"data-pin-do" => "buttonPin",
  -#               :"data-pin-media" => image_url("blog/white-trainers/5-reasons-white-trainers-hires.jpg"),
  -#               :"data-pin-description" => "5 reasons why we still love white trainers",
  -#               :title => "Pin This Article",
  -#               :class => "pin-it-button",
  -#               :href => "http://pinterest.com/pin/create/button/",
  -#               :rel => "nofollow",
  -#               :target => "_blank",
  -#               "count-layout" => "horizontal",
  -#               :"data-pin-custom" => "true",
  -#               :"to-be-replaced" => "true"}
  -#       -image_url = image_path("blog/white-trainers/5-reasons-white-trainers.jpg")
  -#       =image_tag(image_url, alt: "Pin this article with the image: 5 reasons why we still love our white trainers.")
