-# - content_for :extra_javascript do
-#   =javascript_include_tag "//assets.pinterest.com/js/pinit.js", defer: true
-#   =render :partial => "blog/components/update_pinterest_button_text",
-#     :locals => { :"pin_button_ids" => ["pinit-4-easy-tricks"] }

.blog-article
  %h2.article-title="My wardrobe nightmare"
  %p.published-date
    May 2023
  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated

    .article-text
      .article-image.aspect-1
        -image_url = image_path("blog/my-wardrobe-challenge/messy-wardrobe-rail.jpg")
        =image_tag(image_url, alt: "A crowded hanging rail in a wardrobe, crammed with dresses, shirts and assorted tops.")
        %figcaption
          Photo by NeverBeenWorn

      %p
        My wardrobe has always been a mess The rail was literally full from one end to the other.
        It would take me far too long to find something to wear, and when I tried to put anything back it was even worse.
        This always turned into a big battle, because there were no gaps anywhere.
        Sometimes I would open up both doors and stand there staring in at all the mess.
        Occasionally I would even think about sorting it out, but usually I would just stare in at the enormity of my hoard.
        Then after about a minute I would be completely overwhelmed and quickly shut the doors.
        I even developed a habit of only opening one of my wardrobe doors at a time, because then I only saw half the mess.
        This became my never ending wardrobe nightmare.

  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated
    .article-text
      %h3
        The breaking point

      .article-image.aspect-1
        -image_url = image_path("blog/my-wardrobe-challenge/messy-wardrobe-drawers.jpg")
        =image_tag(image_url, alt: "Messy wardrobe drawers with shoes on top of them and clothes rammed into the drawers.")
        %figcaption
          Photo by NeverBeenWorn

      %p
        Like most things that are  often avoided, eventually there comes a point of no return.
        One day I opened just one of my wardrobe doors, to find something unexpected going on in there.
        There was a gap at one end of the rail.
        I didn’t notice it right away as I was too busy wondering which part of my wardrobe to wrestle for an outfit, so I just expected to see the usual amount of mess.
        When the gap eventually caught my eye I froze and stared at it.
        To this day I am not entirely sure that my brain was able to accept the site of a gap in my cluttered wardrobe so I almost blanked it completely again.
        Actually, it looked quite nice and  for one little second I had such a lovely thought.
        I had space in my wardrobe? At first I wondered if the tidy fairies had finally paid me a visit and then I decided that my mess couldn’t possibly have been that messy after all.
        At this point, I grabbed what I was looking for without another curious thought to the sight of that wonderful gap on my rail and shut the door behind me.


  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        Finally facing the problem

      .article-image.aspect-1
        -image_url = image_path("blog/my-wardrobe-challenge/messy-wardrobe-shelves.jpg")
        =image_tag(image_url, alt: "Messy shelves full of clothes in heaps with a hanging rail crammed full below it.")
        %figcaption
          Photo by NeverBeenWorn

    .article-text
      %p
        ​The next day the gap was much bigger. I am not sure why, but again I refused to believe it was there at all.
        However, day three was a completely different matter. On day three my wardrobe looked a bit of a funny shape.
        It was  a little wonky at the top and the doors didn’t quite meet anymore.
        Reluctantly, I decided to investigate further and opened both wardrobe doors.
        There I came face to face with the shocking reality.
        There had been no visit from the tidy fairies in the night and it wasn’t that I had turned into an effortless tidy queen in my sleep.
        No, I was still the owner of my own ginormous sad mess and  the mysterious gap was down to one thing only.
        My wardrobe rail had started to bend.
        The bend started right in the middle and went almost all the way along and this was the cause of my lovely gap.
        So, now I really had a problem.

      %p
        The thought of my wardrobe caving in was quite terrifying really.
        It could happen at any moment.
        I had no idea how long it would hold like this, but I would absolutely have to do something and it would have to be very soon.

      %p
        There was another problem too: I had no idea where to start or how to fix it.
        What I needed was a strong cup of tea and a nice sit down to come up with a fast plan.
        Actually, any plan would do, it didn’t need to be a good one, just a plan would be more than enough to calm my nerves right now.
        I just hoped it would be one that was not going to be too painful and that I could easily manage.
        At this point I just sat there sipping very strong tea and feeling utterly overwhelmed.

      %h3 
        A new life and a new beginning
      
      %p
        Fast forward to today and I now have an amazing wardrobe and it works great too.
      
      %p
        It works for me and not against me.
        It is well organized and not nearly so full.
        I am not even afraid to open both doors now! I have all the clothes I need and I can find whatever I am looking for and in much less time too, but most of all I make less mess doing it.
        I can also see gaps in there now, which is amazing.
        There is no more daily battle to put anything away anymore.

      %p
        My new wardrobe looks lovely, my rail remains straight and I never want to go back to that old mess of a wardrobe ever again.
        I feel like I took on my wardrobe and I won!

      %p
        There was one last thing that really needed some urgent attention though.
        I had all these clothes that I no longer needed.
        Most of them I had never even worn and I didn’t even realise I had so many.
        Now that I could see them all, I knew I definitely didn’t need them any more and there was no way that I was putting them back in my lovely tidy wardrobe.

      %p
        With the help on another cup of tea I sat wondering what I should do with them all.
        I actually had many suggestions to sell them online as maybe worn items, but that didn’t seem to be right.
        These were good clothes, almost brand new and I had looked after them all that time, so they still looked great.
        I wanted to find somewhere to sell them that would appreciate the good condition they were still in.

      %p
        This is how NeverBeenWorn was born.

    .article-text
      %h3
        Take the wardrobe challenge
      
      %p
        My wardrobe challenge completely changed how I viewed my clothes and it’s made that very part of my life much easier to manage.
        I realised that I had so many things I didn’t wear and that I was just keeping them for no reason other than hopefully not to waste the money I had spent.
        I have taken back so much time that I now spend my new found freedom doing other things, like this website, which I love doing.

      %p
        I hope that by sharing my story, it will help others and prove that anyone can do the
        =link_to('wardrobe challenge', '/blog/the_wardrobe_challenge')
        and banish that all that mess for good.

      %p
        It’s really about setting yourself free from mess and making your wardrobe work for you, not the other way around.
        It’s time to work on elevating your life and making it better.

      %p
        My story doesn’t end here, so neither should yours.
        You can take the wardrobe challenge and start right away - take a look at the
        = succeed "." do
          =link_to('full guide to my wardrobe challenge', '/blog/the_wardrobe_challenge')
        

  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }
  

  .article-footer.purple

    %p
      If you read this and tried the wardrobe challenge, well done.
      I love selecting star stories to share with our community, they love it.
      Send in your before and after shots if you want to share your success.
    %p
      Send it to 
      =link_to('info@neverbeenworn.co.uk', 'mailto:info@neverbeenworn.co.uk?subject=My Wardrobe Challenge')
      and add ‘My Wardrobe Challenge’ in the title.

    %p
      I love to get the community involved, so if there is anything you would like to read about, send a request in.
      It’s no bother.

    %p
      Email me at 
      =link_to('info@neverbeenworn.co.uk', 'mailto:info@neverbeenworn.co.uk?subject=Request article')
      and add ‘Request article’ in the title.

    %p
      I also have loads more helpful stuff ready to read on the
      =link_to('blog.', '/blog')
      Take a look and elevate your life.
  