-# - content_for :extra_javascript do
-#   =javascript_include_tag "//assets.pinterest.com/js/pinit.js", defer: true, "data-pin-hover": true
-#   =render :partial => "blog/components/update_pinterest_button_text",
-#     :locals => { :"pin_button_ids" => ["pinit-6-basic-needs"] }


.blog-article
  %h2.article-title="How to buy a padded winter jacket"
  %p.published-date
    November 2023
  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        How to buy a padded winter jacket and avoid spending too much money

      .article-image.aspect-2-3
        -image_url = image_path("blog/padded-jackets/grey-padded-jacket-high-street.jpg")
        =image_tag(image_url, alt: "A lady on a snowy shopping street wearing a long grey padded jacket, below-knee tan leather boots and a warm wollen hat matching the jacket.")
        %figcaption
          Photo by
          =link_to('Евгения Карпова', 'https://www.pexels.com/photo/lady-in-jacket-on-street-at-winter-10933784')
          on Pexels

      %p
        When winter is on the horizon you know it’s time to think about your survival.

      %p
        Suddenly, staying warm and dry and surviving the cold air outside becomes a key priority.

      %p
        Your winter jacket is going to be one of the most important items in your winter care kit.
        A good strong winter jacket is going to be vital for going outside, especially once the bad weather kicks in.

      %p
        It’s always a good idea to check your jacket is going to be up to the job of keeping you warm and dry all winter.
        A quick all over check should be done well in advance to make sure that it is still in good order and that you have everything you need to make it through the harsher winter weather.

      %p
        But what if it's not?
        Do you know how to replace it?
        Maybe you don’t have a good winter jacket you can rely on.
        Do you know what to look for and how to buy one?
        With so many types and styles available, it can get a little overwhelming.
        So how do you know what to look for and how do you know what is worth spending your money on?
        As part of my
        %span.strong
          ‘build a better wardrobe’
        series I decided to take a closer look at padded winter jackets and find out what exactly you need to know when looking for and buying a new one.


      %p
        So, if you are worried about making the wrong decision, completely wasting your money on the wrong item, or even over-buying then this might be the guide for you. Let’s take a look at some of the key factors you need to know to ensure you don’t buy the wrong padded winter jacket.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        The Ultimate Guide to Buying a Women’s Padded Winter Jacket

      .article-image.aspect-2-3
        -image_url = image_path("blog/padded-jackets/fur-trimmed-white-coat-phone-box.jpg")
        =image_tag(image_url, alt: "A lady keeps warm in the snow with a warm fake fur-trimmed coat and a wooly hat with a pom-pom.")
        %figcaption
          Photo by
          =link_to('lookstudio', 'https://www.freepik.com/free-photo/happy-lady-walking-around-winter-sunny-morning-with-smile-fascinating-lady-knitted-hat-looking-shoulder-posing-snowy-street-with-red-telephone-box_10111488.htm')
          on Freepik


      %p
        Buying a padded winter jacket is classed as a ‘high ticket’ item.
        Why?
        Well, a padded winter jacket has a specific purpose and if you want to buy one that is going to be fit for that specific purpose and you want it to last, then as a general rule you usually have to buy better.
        For that, you usually have to go a little higher up the retail chain to get the better and longer lasting quality you want.
        If you can find everything on your current winter jacket wish list from a budget-friendly store then you do not need this guide.
        If you can’t find what you are looking for at the price you want to pay then I call this the ‘cost and quality’ reality check.
        It all depends on what you currently have on your wish list and if it’s realistic for your budget.
        So let's go through my checklist and see how your wish list stacks up.

      %p
        If you are not sure what you should have on your wish list and you don’t have one yet, then stay with me, because we have work to do and it might just save you from making a very costly mistake.
        It is not hard to build the right wish list and it is important because if you go shopping for a padded winter jacket without one, then you are more likely to part with more money than you may have wanted and you may find that you have bought the wrong kind of jacket that is just not suitable for your needs.
        A high-ticket item that is not what you needed is a costly mistake to make.
        So let’s not make any of those.
        We are aiming to make sure that your budget and your wish list are realistic and match.
        Let's take a look at how it’s done.


  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        How to choose the perfect padded winter Jacket – and avoid wasting your money 

      .article-image.aspect-3-4
        -image_url = image_path("blog/padded-jackets/short-padded-jacket-snow.jpg")
        =image_tag(image_url, alt: "A lady stands in a snow-covered park, keeping warm with a layered knitted cream jumper and a short padded jacket with a thick black wollen hat.")
        %figcaption
          Photo by
          =link_to('senivpetro', 'https://www.freepik.com/free-photo/lady-coat-women-winter-beautiful_1126231.htm')
          on Freepik

      %p
        To make it a little easier, I have taken the top 5 key components of most padded winter jackets and broken them down into easy-to-follow guidelines with simple pros and cons where necessary.
        Going through these will help you to build your knowledge and wish list step by step and quickly.
        So let’s get you started on building your wish list for the perfect padded winter jacket before the weather starts to turn.

      %h4
        Lifestyle

      %p
        First, take a look at your lifestyle and make sure that your idea of your initial jacket needs match up with this.
        If you are not an outdoor person and have what I call a city, suburban, or town lifestyle then your padded jacket does not need to have the capabilities of withstanding harsh mountainside exposure or severe weather climates.
        It’s a waste of money.

      %h4
        Weather Type
      %p
        If you are unsure of what to expect or living in a new area then check the local weather forecast for your area.
        Your padded winter jacket needs to last you through the winter season in this area, so you need to know roughly what weather to expect.
        It’s also a key factor in buying the right winter jacket at the right price and can help avoid overspending.

      %p
        So, ask yourself what sort of weather is your padded winter jacket going to be exposed to and how much use is it going to get.
        If you are well acquainted with the local weather conditions, it will make buying the right jacket a lot easier from the start.

      %p
        A padded winter jacket needs to support you and keep you warm and dry above all else.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h4
        Category 1 - Insulation

      .article-image.aspect-3-4
        -image_url = image_path("blog/padded-jackets/warm-red-padded-jacket.jpg")
        =image_tag(image_url, alt: "A lady keeps warm in the snow with a long red padded jacket, a knitted scarf and gloves, knitted hat and a hot chocolate.")
        %figcaption
          Photo by
          =link_to('senivpetro', 'https://www.freepik.com/free-photo/lady-drinking-coffee-outside-winter_3964195.htm')
          on Freepik

      %p
        What do you know about winter jacket insulation? Have you ever thought about it before or maybe not at all?
        There a two basic types of insulation for padded winter jackets.
        If this already sounds like it might be on the verge of getting a bit technical, don’t worry.
        The best way to easily describe this is to get you to think about your duvet.

      %p
        Most people are familiar with the concept of buying a duvet, right?
        And most people who have bought a duvet have probably stood in the duvet section looking at thickness and weight, right?
        So, it's no different for padded winter jackets.
        There are two types of filling and insulation, and both work in slightly different ways.
        So let’s take a look at them both.

      %h5
        Down insulation

      %p
        %ul.no-bullet
          %li
            = succeed " — " do
              %span.strong
                Plus points
            Just like your duvet, a down filling is lightweight, soft, easily compressed, and compactable.
            A down jacket is going to keep you very warm and feel lovely and soft and lighter in weight.
            It’s generally going to be great for keeping you warm in high-wind-chill areas.
          %li
            = succeed " — " do
              %span.strong
                Minus points
            Down is surprisingly not that waterproof.
            It is more likely to get saturated and when this happens it also loses its insulating factors.
            Not great for wet climates.

      %h5
        Synthetic insulation

      %p
        %ul.no-bullet
          %li
            = succeed " — " do
              %span.strong
                Plus points
            A synthetic filling will keep you warm, just like a down filling.
            The main difference is that synthetic fillings stay dryer in wet weather and can be better priced.
          %li
            = succeed " — " do
              %span.strong
                Minus points
            Synthetic insulation is much heavier and therefore not as easily compressed or compacted as down.
      
      %p
        It is good to know the weather in your area to help you decide which type of filling is going to be better suited to keeping you warm and dry.
        Once you know which filling is best for you, you can add it to your wish list.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h4
        Category 2 – Weatherproofing

      .article-image.aspect-3-4
        -image_url = image_path("blog/padded-jackets/white-coat-fur-hood.jpg")
        =image_tag(image_url, alt: "Keeping warm in a thick white padded jacket with fake fur trim around the hood, and a warm knitted beanie.")
        %figcaption
          Photo by
          =link_to('senivpetro', 'https://www.freepik.com/free-photo/lady-charging-red-electro-car-winter-time_14923293.htm')
          on Freepik

      %p
        I think that weatherproofing is the number one most important factor to consider.
        Winter weather can be harsh and unpredictable, so the one thing you don’t want to be is wet and cold inside your padded jacket.
        So, this makes good weatherproofing worth spending your money on.
        You don’t want to shell out on a nice-looking and well-styled coat to find out it is no good when it rains.

      %p
        However, be warned that brands tend to get very creative with weatherproofing wording and there are many slightly exaggerated variations that do not mean they are fully waterproof.
        So, it is important to know exactly what they mean.
        Here are some of the ones I came across in stores and what they actually mean.


  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h5
        Types of waterproof wording and their meanings
      
      %table.winter-article
        %thead
          %tr
            %th
              Type
            %th
              Details and explanation
            %th
              Level of waterproofing
        %tbody
          %tr
            %td
              Waterproof
            %td
              Just as it says ‘waterproof’. It means that no water is getting in. Not always breathable.
            %td
              Full
          %tr
            %td
              Water resistant
            %td
              Considered to be ‘partially water resistant’. It can probably handle a light drizzle for a short period of time but nothing more.
            %td
              Partial
          %tr
            %td
              Water repellent (DWR)
            %td
              Usually a  temporary coating applied to give the same amount of protection as waterproofing, but for a short period of time until the coating wears off.
            %td
              Semi- permanent
          %tr
            %td
              Waterproof / breathable
            %td
              Both waterproof and breathable allowing for a steady body temperature to be maintained when the wearer is more active, ie. it lets your sweat out.
            %td
              Full

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %p
        As you can see it can be easy to misunderstand and think that you are getting waterproofing when you are not.
        The wording also differs from brand to brand.
        Some companies use the words stormproof or something similar, so be careful and make sure that you fully understand the brand's meaning.
        Ask in-store for further clarification if it is not clear.
        This is what I did.

      %h4
        Category 3 – Additional features - hoods, cuffs, pockets, zips and seals

      %p
        Getting the right jacket that works for you and your needs can require more thought than you might have initially realised.
        But, trust me when you find the right jacket and it works like a dream, you will be glad that you took the time to consider everything and your money will be far from wasted.
        Another very important area is thinking about your additional features.
        I like to think of these as all the functional workings of a padded jacket besides the waterproof and warmth aspects.
        These features are what is going to make your jacket really work for you and be adaptable to your needs, and they come in a variety of options.
        I have picked a few of the key ones below for you to think about:

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h5
        Key additional features
      
      %table.winter-article
        %thead
          %tr
            %th
              Feature
            %th
              Options & Extras
            %th
              Details
        %tbody
          %tr
            %td
              Hood
            %td
              Waterproof, fitted, fur lined, with face shield
            %td
              Hoods need to have a good level of protection and waterproofing, in case the weather turns particularly bad
          %tr
            %td
              Pockets
            %td
              Thermal lined, numerous, easy access and secure
            %td
              Pockets need to be well positioned and comfortable.
              Some have extra thermal lining to help keep your hands a little warmer.
              Internal pockets also need to be safe and secure for storing valuables.
              Plenty of pockets is a must.
          %tr
            %td
              Cuffs
            %td
              Good fit, long enough, and good warm material
            %td
              Cuffs are going to keep the cold out so make sure they are well made, long enough to reach all the way to your hands, of a good material, and fairly substantial.
          %tr
            %td
              Zips & seals
            %td
              Long enough, good seal, strong enough, easy of use, good tag
            %td
              Zips and seals are going to help keep you warm and keep the draft out, so do check these when you try a jacket on.
              They also want to be easy to use, with zips of a good quality that look like they can last all the use.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h4
        Category 4 – style and fit

      .article-image.aspect-3-4
        -image_url = image_path("blog/padded-jackets/black-jacket-knitted-dress-snow.jpg")
        =image_tag(image_url, alt: "A lady wears a thick black padded jacket over a knit dress to keep warm in a snow covered park.")
        %figcaption
          Photo by
          =link_to('ASphotofamily', 'https://www.freepik.com/free-photo/beautiful-brunette-girl-winter-warm-clothing-model-winter-jacket-black-hat_26781285.htm')
          on Freepik

      %p
        Once you have decided on all the key important features, then and only then is it okay to look at style and fit.
        If you go for style and fit first, you are more likely to pick how it looks over how it works and this could find you with a padded jacket that does not work quite as well as you wanted it to.
        So leave it until almost last to be on the safe side.
        This way you won’t find yourself attracted to a jacket purely on the way it looks and you know to check that the features stack up well, and it will be fit for winter.
        This is the most important piece of advice I can offer you.

      %p
        However, style is important so think about the colour and fit that you want too, but at the right point.
        Most brands have a good range of colours to suit most tastes and body shapes, so have a good look and try a few on to find the right fit for the look you want.
        I chose a long jacket with a fitted waist and it feels nice and snug and looks great on, but I was also sure to check it had enough features and pockets too.
        Length is also an important factor to consider with style.
        Below is a quick chart on how to identify what length might be right for you.
        The details are based on assuming that a longer jacket is best for longer exposure to the winter weather and that shorter jackets are better suited to mid-exposure.
        But of course if you just like the look of a particular style and it has everything on your wish list, then this might just be the perfect jacket for you.
        
  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h5
        Style, fit, and protection
      
      %table.winter-article
        %thead
          %tr
            %th
              Occasion
            %th
              Weather type capabilities
            %th
              Time frame
            %th
              Fit
            %th
              Time scales
        %tbody
          %tr
            %td
              Waist length
            %td
              Mid
            %td
              Short exposure
            %td
              Fitted or loose
            %td
              5-15 mins
          %tr
            %td
              Mid length
            %td
              Mild to medium
            %td
              Mid exposure
            %td
              Fitted or loose
            %td
              10-20 mins
          %tr
            %td
              Knee length
            %td
              Mild to medium
            %td
              Mid exposure
            %td
              Fitted or loose
            %td
              20-30 mins
          %tr
            %td
              Ankle length
            %td
              Harsh
            %td
              Prolonged exposure
            %td
              Fitted or loose
            %td
              30+ mins

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text

      %h4
        Category 5 – Price

      %p
        I have left the price until the very last for a good reason.
        If you have gone through my categories you should now have your final wish list with all the key aspects and components that you are looking for.
        You are now ready to go find your perfect jacket.
        I would test several brands that have all the items on your wish list, to make sure you find the right one for you.
        If you do find that your budget does not quite match with what’s currently available then it’s okay to up it.
        Because you have done your homework you know what will be worth paying for and what will not and this is why a ‘high ticket’ item is worth doing your research for first.
        I hope you find the perfect padded jacket for this winter.

      %p
        Stay warm and dry ladies!

      %p
        Ciao Ciao


  .article-section

  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }

  -# .article-section.pin-for-later
  -#   .article-text
  -#     %h2
  -#       Pin this article for later!

  -#     %a.pin-for-later-image.pinit#perfect-beach-bag{ :"data-pin-do" => "buttonPin",
  -#               :"data-pin-media" => image_url("blog/white-trainers/5-reasons-white-trainers-hires.jpg"),
  -#               :"data-pin-description" => "5 reasons why we still love white trainers",
  -#               :title => "Pin This Article",
  -#               :class => "pin-it-button",
  -#               :href => "http://pinterest.com/pin/create/button/",
  -#               :rel => "nofollow",
  -#               :target => "_blank",
  -#               "count-layout" => "horizontal",
  -#               :"data-pin-custom" => "true",
  -#               :"to-be-replaced" => "true"}
  -#       -image_url = image_path("blog/white-trainers/5-reasons-white-trainers.jpg")
  -#       =image_tag(image_url, alt: "Pin this article with the image: 5 reasons why we still love our white trainers.")
