-# - content_for :extra_javascript do
-#   =javascript_include_tag "//assets.pinterest.com/js/pinit.js", defer: true, "data-pin-hover": true
-#   =render :partial => "blog/components/update_pinterest_button_text",
-#     :locals => { :"pin_button_ids" => ["pinit-6-basic-needs"] }


.blog-article
  %h2.article-title="How to decide if you need a stylish summer hat"
  %p.published-date
    July 2023
  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated

    .article-text
      .article-image.aspect-1
        -image_url = image_path("blog/summer-hat-for-style/white-sun-hat.jpg")
        =image_tag(image_url, alt: "A stylish woman stands near a swimming pool wearing a white sun hat with a black ribbon and a pale yellow summer halter top.")
        %figcaption
          Photo by
          =link_to('Pixabay', 'https://www.pexels.com/photo/blur-close-up-depth-of-field-female-458649')
          on Pexels

      %p
        It is hard not to get excited when summer comes around.
        There is all that lovely warm weather to look forward to and the prospect of all that outdoor fun.
        Have you checked your summer wardrobe yet?
        Are you sure all your outfits will work perfectly for you whilst you are out enjoying all that lovely summer sun?
      %p
        Getting ready for summer often starts with having your wardrobe in perfect order in plenty of good time.
        So, if you haven’t got around to it yet, you might want to go and check in with your wardrobe and make sure your summer outfits are all good to go. 

      %p
        I believe that checking in with your wardrobe early is an essential pre-summer necessity, especially if you have a vacation or a staycation planned.
        Simply knowing you have everything you need now, will ensure you can spend more of your time enjoying the sun and less time worrying about what you are going to wear or what you might have forgotten.	
  
      %p
        Before you get ready to kick back, or jet off somewhere hot to relax, let’s talk about your key essentials for surviving the hot weather,
        like a summer hat.
        If you have never worn a summer hat before, then you might be the kind of person that always tries to skip them altogether.
        I recently discovered that the most popular reason to stop people from buying an essential item like the summer hat is not really knowing where to start.
        Generally, most people felt a little overwhelmed with too many options and questions and gave up before they even got started.
        Questions like "where do you start?" and "what do you look for?" caused the most confusion.
        With summer fast approaching it’s no wonder most people choose to skip buying a summer hat altogether.
        
      %p
        Here are the top confusing questions that stop people buying a summer hat:

    .quick-guide-container.quick-guide-infographic
      %h3.quick-guide-title
        8 questions we ourselves when picking a summer hat
      %ul
        %li
          %h4
            What style do I choose?
          %p
            What style will suit me?
        %li
          %h4
            What colour do I choose?
          %p
            What colour will suit me?
        %li
          %h4
            What size do I need?
          %p
            What size do I like?
        %li
          %h4
            Will I feel confident in a hat?
          %p
            Will I feel silly wearing it?
      

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        Summer hats - find the perfect one

      .article-image.aspect-2-3
        -image_url = image_path("blog/summer-hat-for-style/sun-hat-yellow-jumpsuit.jpg")
        =image_tag(image_url, alt: "A woman wearing a stylish wide-brimmed summer hat, a yellow jumpsuit, and a white handbag with bold roses pattern.")
        %figcaption
          Photo by
          =link_to('Godisable Jacob', 'https://www.pexels.com/photo/woman-wearing-fascinator-hat-and-yellow-jumpsuit-1270014')
          on Pexels

      %p
        I strongly believe that there is a perfect hat out there for everyone.
        But before you begin to decide otherwise, let me ask you a quick question.
        Have you ever passed someone in a hat and immediately noticed how it suited them?
        Hats suit a lot of people but you have to pick the right one.
        It's the one that suits you, your wardrobe, and your personal taste all in one.
        Seeing someone walk by in a perfect hat is proof that it can work.
        With a little thought and a look at your current summer wardrobe, you can very easily find that perfect hat for you and your wardrobe too. 
        This is the magic of finding your perfect hat.

      %h4
        Your journey to finding your perfect hat starts here

      %p
        Taking the journey to choosing the right hat for you and your summer wardrobe is the key to obtaining that magic confidence you see in others,
        and if you do it right you will be wearing your hat all summer long with confidence.
        Fortunately, I have a really easy way to start.
        Follow these key steps and choosing a hat will become much easier.
        Firstly, it’s important to know what you currently have in your wardrobe and plan to wear with your summer hat.
        This will help you understand two key things: what will work for you and what will not. 

      %h2
        4 Hurdles to get over when choosing the right hat

      %p
        There are four key hurdles to get over when thinking about choosing the right hat for you: confidence, purpose, colour, and style.
        Let's start by looking at the first hurdle:
        
      %h3
        1. Confidence - if you aren’t confident in your hat then you won’t look it

      %p.strong
        Be more comfortable wearing a summer hat.

      %p
        Hats are generally worn throughout the year and for many reasons and occasions, so there are already lots to choose from. 
        
      %p
        You have probably already been to at least one special event where people were wearing hats.
        A wedding, a christening, and let's not forget the lovely races.
        It is usually considered an optional choice to wear a hat at any one of these events,
        but they are still the most popular places to see one or be seen wearing one.
        And let’s face it some are absolutely amazing.

      %p
        If you have ever attended one of these events did you notice at least one great hat?
        Do you remember how it first caught your eye?
        Did you notice the person wearing it too?
        Do you remember how confident they looked? How many times have you seen a hat on someone and thought they looked amazing and extremely confident?
        I have mentioned it once already, but this is the magic of wearing a well-styled hat and I think we can agree that we do think that people look great in hats.
        It’s uplifting, confidence building and ever so stylish, so there is no need to be afraid of them or of wearing one.
        Buying and choosing a hat for an event is much more personal than you think.
        Wearing only the right hat gives that all-day confidence you see in others and choosing a summer hat is no different.

      %p
        Let's move on to the next hurdle.

      %h3
        2. Purpose - Do you want style or protection or both?
      
      %p
        So, let’s start by asking the following important but very simple questions.
        Would you want style as your top priority for your hat, or are you looking for sun protection or maybe even both?
        If you are looking for sun protection then you might want to read my article on
        = succeed "," do
          =link_to('summer hats for protection', article_path(id='summer_hat_for_protection'))
        it details what is available and how to get the right kind of protection for you.
        But, if you are looking for style then there are lots of options to choose from.
        Firstly, we need to consider what you think you might feel most comfortable wearing.
        There is absolutely no point wearing a great big sombrero-style hat if you think you might feel like a bit of an idiot wearing it.
        This is why it’s so important to take the journey to finding your perfect hat and to take it one step at a time, especially if you want the final results to work for you.
        It’s a journey of your own personal taste and everyone is going to think differently along the way and everyone will choose a different hat by the end of it. 

      %p
        Let’s look at the third hurdle.

      %h3
        3. Colour - if don’t like the colour of your hat then you probably won’t wear it

      %p.strong
        How to choose the right colour summer hat for you?

      %p
        Let's start by taking a look at your wardrobe to help you find the perfect colour for your lovely summer hat.
        Your current wardrobe is a good place to start because then you can start to really understand your preferred hat style and colour.
        To get started try thinking about your favourite colours, and your own personal style.
        If you are not sure then it is a good idea to take a good look at just your summer wardrobe.
        This is because these are items you have already chosen to own and wear this summer.
        Try picking out your perfect colour combinations from what you see before you, in your wardrobe.
        If you can’t see anything standing out then try taking some favourite items out and laying them on your bed for a better look.
        Pick out a few key colours that stand out to you, that you know you love and wear often.
        You want to be looking for the main colours you like in your general style and across all your outfits.
        Ask yourself what colour you think you wear the most. If nothing stands out then you can try looking for secondary colours too.
        These are colours that are present in more than a few of your items but not in a bold way, in more of a subtle way.
        These secondary colours are a great option to get you started too.
        
      %p
        If you are still struggling, I have created a quick 4-step process to help you further.
        
      %p
        These are 4 main questions and 4 secondary questions to think about.
        You are looking to identify both your key colour and main style at the end:

  .article-section

    .quick-guide-container.quick-guide-infographic.long-titles
      %h3.quick-guide-title
        8 questions to find your colour and style
      %ul
        %li
          %h4
            Take a good look at your summer wardrobe
          %p
            Note your strongest colours
        %li
          %h4
            Think about one favourite colour
          %p
            Does your wardrobe reflect this one favourite colour?
        %li
          %h4
            What style do you most like?
          %p
            Which items truly reflect your favourite style?
        %li
          %h4
            Do you prefer more smart or more casual?
          %p
            Your style of hat should match this

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      .article-image.aspect-1
        -image_url = image_path("blog/summer-hat-for-style/green-cream-natural-summer-outfit-with-palette.jpg")
        =image_tag(image_url, alt: "A woman walks down the street carrying her sandals and wearing a coordinated green and cream summer outfit with a panama hat. Next to the photo is a palette matching the natural green and creams of the outfit.")
        %figcaption
          Photo by
          =link_to('Apostolos Vamvouras', 'https://unsplash.com/photos/xW56Moj0g3I')
          on Unsplash, palette by neverbeenworn

      %h4
        Using your palette

      %p
        Once you have your key main colours, then choosing the right colour hat becomes much easier.
        Here is how it works.

      %p
        Let's take a look at the outfit in this picture.
        See how it matches with the natural green and cream palette.
        The colour of this hat was chosen from this matching palette so that it would compliment this outfit and this is why it works so well.
        The skirt and shoes both have green and cream in them and the top is either cream or off-white.
        So, a good colour to choose for a summer hat for this outfit would be green or cream.
        Next, the top and the skirt appear to be made of more natural-looking fabrics, so it makes sense to pick a hat that is also made of a natural-looking fabric.
        Do you now see why this hat works so well with this outfit?
        This is how to bring your style, outfit and hat together.

      %p
        Let's look at the final hurdle


  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        4. Style - feel more confident about choosing the perfect summer hat

      .article-image.aspect-1
        -image_url = image_path("blog/summer-hat-for-style/black-summer-hat-red-dress.jpg")
        =image_tag(image_url, alt: "A woman holds the wide brim of her black summer hat and wears a smart red evening dress.")
        %figcaption
          Photo by
          =link_to('Bruno Salvadori', 'https://www.pexels.com/photo/photo-of-woman-wearing-red-dress-2351321')
          on Pexels

    .article-text

      %p.strong
        What style of hat do you like?

      %p
        A few weeks ago, I spent a little time sitting and drinking tea outside while observing people at a popular tourist attraction.
        It was a lovely sunny day and I noticed quite a few people wearing really great hats.
        Did you know just how many great hat styles exist?
        Did you know how many there are to choose from?
        I saw quite a few variations of the straw hats alone.
        I found these were 8 top styles being worn on that day.
        Some were on trend for the current season and some were classics that never go out of style.
        If you are not sure what style to look for just yet, I have provided some helpful short descriptions for each of the styles I saw and how their look was generally being worn.
        This should help you pinpoint a style and look that appeals to you the most and it should help get you started on your path to finding your one true summer hat.

      %p
        The main hats I saw on display were the Fedora, the Bucket hat, a Baseball cap, the Boater, the Panama hat, the Cowboy hat, and the Boonie.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %table.summer-hats-coverage-columns
        %thead
          %tr
            %th
              Name
            %th
              Description
            %th
              Style
        %tbody
          %tr
            %td
              Fedora
            %td
              Effortless and chic
            %td
              Timeless — classic
          %tr
            %td
              Bucket hat
            %td
              Casual and sporty look
            %td
              On trend — sporty
          %tr
            %td
              Baseball
            %td
              Classic sporty look
            %td
              Classic — sporty
          %tr
            %td
              Boater
            %td
              Traditional English summer vibe
            %td
              Timeless — classic
          %tr
            %td
              Kettle brim
            %td
              Very feminine look
            %td
              Casual — feminine vibe
          %tr
            %td
              Panama
            %td
              Timeless and chic, goes with most outfits
            %td
              Timeless classic
          %tr
            %td
              Cowboy
            %td
              Stands out, casual look
            %td
              On trend — favourite at festivals
          %tr
            %td
              Boonie
            %td
              Casual adventure vibe
            %td
              Casual — outdoor vibe
              
  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %p
        It was clear to see that many people are choosing to wear hats of all types in the sun these days and there are more than enough styles to choose from.
        There were also a couple of visors being worn on the day, but I have not included them here.

      %p
        There was something else I noticed that day too: all the hats looked great and they all seemed to be working very well for the wearer.
        So the best thing you can do now is to go and start trying some hats on right away.
        See how they look, but more importantly, see how you feel wearing them.
        If you don’t feel right then move on and try another style.
        If you don’t find the right one then take your time.

      %p
        Pick the right style and the right colour for you and your wardrobe,
        you will feel so confident wearing it that you may find yourself wearing it all summer long and you will wonder why you ever went anywhere without it.
        The right one will almost speak to you when you find it and you will know it is yours.

  .article-footer.orange
    %h2
      Share the joy
    %p
      Have you found the perfect summer hat for your style? Share the joy! Send in a picture for my
      %span.strong
        summer wall of happiness.

    %p
      Label your email ‘Summer hat joy’ and send it in to
      =link_to('info@neverbeenworn.co.uk', 'mailto:info@neverbeenworn.co.uk?subject=Summer hat joy')

    %p
      %span.strong
        I hope you and your summer hat have a fun and safe summer together, wherever you go and whatever you do!

  .article-section

  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }

  -# .article-section.pin-for-later
  -#   .article-text
  -#     %h2
  -#       Pin this article for later!

  -#     %a.pin-for-later-image.pinit#perfect-beach-bag{ :"data-pin-do" => "buttonPin",
  -#               :"data-pin-media" => image_url("blog/white-trainers/5-reasons-white-trainers-hires.jpg"),
  -#               :"data-pin-description" => "5 reasons why we still love white trainers",
  -#               :title => "Pin This Article",
  -#               :class => "pin-it-button",
  -#               :href => "http://pinterest.com/pin/create/button/",
  -#               :rel => "nofollow",
  -#               :target => "_blank",
  -#               "count-layout" => "horizontal",
  -#               :"data-pin-custom" => "true",
  -#               :"to-be-replaced" => "true"}
  -#       -image_url = image_path("blog/white-trainers/5-reasons-white-trainers.jpg")
  -#       =image_tag(image_url, alt: "Pin this article with the image: 5 reasons why we still love our white trainers.")
