.blog-article
  %h2.article-title="Sustainability in autumn"
  %p.published-date
    October 2022
  .row
    .col-4
      .col-12
        -first_url = image_path("blog/autumn-leaves-sunlight.jpg")
        =image_tag(first_url, class: 'article_col6_image', alt: "Bright afternoon sun shines through the autumn leaves of a young maple tree.")
    .col-8
      %h3 A change of season
      %p
        As NeverBeenWorn goes into its first autumn, we are taking a quick moment to reflect on how far we have come.
        It's a proud moment for us to be here today and you are part of that journey too.
        We thank all the lovely ladies that have joined us and come to support NeverBeenWorn on its little journey so far.
        We have further to go and much to do, but for now we are simply enjoying the journey and all the good it brings.
        There will always be things to deal with in life, and there will always be testing times along the way.
        However, we hope you will find more than clothes to resell and buy at NeverBeenWorn,
        we hope you will find somewhere to belong and when the world feels upside-down,
        we hope you will find a good community to be part of.

      %h3 Reflecting on the year so far
      %p
        As we go into autumn and begin to feel the changes of the season upon us,
        many of us will reach for comfort and warmth around us and especially in what we wear.
        The crisp fresh air and deep warm colours can also encourage a little reflection on the time that has passed.
        Now is a good time to remind yourself how far you have come this year and that you have done well.
        We know life is not always perfect and if something didn’t go quite right for you or just how you planned,
        let it be a time to be kind to yourself and a reminder to yourself that you are strong and you can try again,
        or even be resilient and change course.
        One thing we have definitely learnt this year, is never to give up.


  .row 
    .col-8
      %h3 Looking forward in autumn
      %p
        Autumn brings the comfort of accessories and we find ourselves reaching for soft scarves,
        warm hats and good gloves to keep us warm in the fresh crisp air.
        About this time of year I like to have a good rummage through my autumn accessories and see what I have and what I will need.
        I will be looking much more closely at what I have and what I will wear.
        This year I want to really support sustainability.
        I will be looking for anything I have not managed to wear, so I can find it a new home.
        It is great to think that it can be enjoyed by someone else.
        I will also be looking for sustainable sources for anything I might need to add to my wardrobe.
        If any of you are still new to the idea of sustainability in fashion then do not fear,
        there are definitely more and more opportunities for us to make more sustainable choices in fashion and without losing your sense of style.
        By choosing sustainable fashion more often we can make sure it becomes the easy choice and it becomes the
        best choice for the benefit of all animals, plants and humans in the world.
        It’s a choice that we really need to keep making to ensure that it sticks around now and for a long time in the future.
        Let’s make the right choices this autumn. Let’s make the right choice together. 
        %p
          The fashion team
          %br
          =link_to('neverbeenworn.co.uk', s_path)
    .col-4 
      .col-12
        -second_url = image_path("blog/lady-autumn-blue-coat.jpg")
        =image_tag(second_url, class: 'article_col6_image', alt: "A lady takes a walk in a forest in autumn.")

  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }
  

  %p
    Thanks to Marcel Strauss and Raychan Tobu @ Unsplash for images