-# Set these fields for SEO purposes. They will be included in the header
-# TODO: Do this in a more elegant way to aviod duplication with controller and view
- content_for :meta_article_id, 'the_wardrobe_challenge'
- content_for :meta_article_headline, 'The Wardrobe Challenge'
- content_for :meta_article_image_1, image_path("blog/wardrobe-challenge/full-wardrobe.jpg")
- content_for :meta_article_image_2, image_path("blog/wardrobe-challenge/clock.jpg")
- content_for :meta_article_image_3, image_path("blog/wardrobe-challenge/choosing-clothes.jpg")
- content_for :meta_article_image_4, image_path("blog/wardrobe-challenge/bin-bags.jpg")
- content_for :meta_article_image_5, image_path("blog/wardrobe-challenge/fizz.jpg")
- content_for :meta_article_image_6, image_path("blog/wardrobe-challenge/globe.jpg")
- content_for :meta_article_date_published, '2022-11-18T08:00:00+01:00'
- content_for :meta_article_date_modified, '2022-11-18T08:00:00+01:00'

.blog-article
  %h2.article-title="The Wardrobe Challenge"
  %p.published-date
    November 2022
  .article-section.article-section-right-image
    .article-text
      %h3 What is the wardrobe challenge – and why you should do it too
      %p
        Life is busy and sometimes it can be difficult to find the time to tackle things you know you really should.
        Like wardrobes. My wardrobe was always a nightmare.
        It was full of so much stuff and it was just so hard to get to things and I no longer knew exactly what I had.
        The wardrobe challenge is something I did a few years ago and it really helped me sort my wardrobe nightmare out, once and for all.
        It had such a positive impact on me that it literally changed the way I now live for the better.
        I saved so much time getting ready every day and I spend less time tidying up.
        Which is something we would all love to do.
        After this life-changing moment I began to wonder if the wardrobe challenge could help others too and with a little persuasion I made the decision to share my story.
        Let’s start off with a quick guide to give you an idea of how I did it:
    .quick-guide
      %p
        Quick guide - Preparing for my wardrobe challenge
        %ul
          %li 
            Step 1 - How to get started
          %li
            Step 2 - Assess the size of the problem
          %li
            Step 3 - A good plan – how it helped me to succeed
          %li
            Step 4 - Getting ready – why it was so important
          %li
            Step 5 – Final Prep – Declutter day was finally here

  .article-section.article-section-right-image
    .article-text
      %h3 1 - How to get started
      %p
        I originally came up with the wardrobe challenge to help me win back my wardrobe space and make it more manageable.
        Ultimately, I wanted to declutter and make it work for me and not the other way around.
        My ultimate goal was to find what I needed quickly and for it not to be a nightmare to put things back. 
        The aim was to make it easy to use my wardrobe every day with no hassles Here is how it all began.
      %p
        To start I needed a few nice and simple steps.
        Nothing too challenging at first and something that I could be sure I could complete.
        One important thing I learnt early on was that if I wanted to win this battle with my wardrobe, then I had to get into the right mindset from the start.
        Thinking about attacking the whole wardrobe in one go would have often left me feeling overwhelmed so many times and it was probably the main reason I let it get in this state for so long. 

  .article-section.article-section-right-image
    .article-image
      -first_url = image_path("blog/wardrobe-challenge/full-wardrobe.jpg")
      =image_tag(first_url, alt: "A wardrobe rail packed pull of clothes.")

    .article-text
      %h3 2 - Assessing the size of the problem
      %p
        The first step I took was to find a few minutes to think about my wardrobe and the state it was in right now.
        Next I thought about what state I would like it to be in. Putting it into words really helped me to focus in the right way from the beginning.
        If you are struggling or don’t know where to start.
        The following quick and easy questions are great to focus on and a good place to start when thinking about your wardrobe challenge:
      %ul
        %li
          Is your wardrobe overfull?
        %li
          Does it need a declutter?
        %li
          Does it need reorganizing?
        %li
          Or is it all of these?
      %p
        Unfortunately, I had to go with the last statement, but maybe yours isn’t quite so bad.
        My wardrobe was full I full and I could no longer deny it. It needed a full declutter and it needed totally reorganizing.
        The next thing I made myself think about was the size and area I wanted to tackle first.
        Wardrobes come in many different sizes and some can have multiple different sections.
      %p
        Think about the size and the components that make up your wardrobe layout and ask yourself the following quick questions to help you get to the next step:
      %ul
        %li
          Do you have a small, medium or large wardrobe?
        %li
          Do you have any other components?
        %li
          Do you have things stored in the bottom too?
      %p
        Looking at my own wardrobe layout I quickly noted the following: it had a long rail, some shelves, some drawers, and a base which were all full and needed tackling.

  .article-section.article-section-right-image
    .article-text
      %h3 3 - A good plan - how it will help you succeed
      %p
        You may not have the time to tackle the whole wardrobe in one go, so break it down into smaller manageable chunks.
        This will ensure you are not overwhelmed the moment you get started.
        For my plan I choose to tackle the rail first, mainly because this was the biggest area and needed the most attention,
        but it’s important that you start where you feel most comfortable and ready to tackle. 

  .article-section.article-section-right-image
    .article-image
      -first_url = image_path("blog/wardrobe-challenge/clock.jpg")
      =image_tag(first_url, alt: "An office clock against a blue-painted wall.")

    .article-text
      %h3 4 - Getting ready – why it’s important
      %p
        Getting ready and being in the right mindset is really going to help you with your first steps and it will help you achieve success early on.
        If you spend a little time thinking about your chosen area and what you want to achieve, it will help you focus.
      %p
        The next step is to decide how much time you think you will need and how much time you think you can manage to complete your first goal.
        Try to match these two things realistically. Manageability is key at this point, so don’t take on too much in your first steps.
        It is important to match your time and your first task well.
        If you decide that you want to do the whole thing in one go but only have half the time needed then you might be setting yourself up for too much too soon.
        Being realistic from the start will ensure you have a greater chance of succeeding.
      %p
        Here are some suggestions to help you match your goal.
        These are based on my first task which was sorting out my wardrobe rail:
      %ul
        %li
          %span.li-heading
            Level 1 - Easy steps –
          remove all items past their best, a bit of a tidy up –
          %span.challenge-time
            approx. 45 mins - 1 hr
        %li
          %span.li-heading
            Level 2 - A bit of a challenge - 
          remove all items past their best and any items you have stopped wearing altogether and a bit of a tidy up –
          %span.challenge-time
            approx. 1hr - 1.5 hrs
        %li
          %span.li-heading
            Level 3 - Professional – 
          remove any items that are past their best, any items that you have stopped wearing altogether, go through any items you have never worn and have a bit of a tidy up –
          %span.challenge-time
            approx. 1.5 - 2 hours
      %p
        In the end I decided to go for Level 3 and tackle my full rail all in one go.
        I was also attempting this in autumn so as an added bonus, I chose to put my summer clothes away all in one go.
        I also wanted to make sure I completed the task in full so I could see a noticeable difference.
        For this I estimated that I would need around 1-2 hours and that this would be enough for a first attempt.

  .article-section.article-section-right-image
    .article-image
      -first_url = image_path("blog/wardrobe-challenge/choosing-clothes.jpg")
      =image_tag(first_url, alt: "Choosing between a plain white shirt and a white and green striped top.")

    .article-text
      %h3 5- Final Prep – almost ready
      %p
        Because I was decluttering I had to decide exactly how I was going to be doing this.
        If you end up making nothing more than an uncontrolled mess then you’re more likely to get overwhelmed at the sight of it all and less likely to finish in time.
        So, it’s a good idea to be a little organized from the start and have a clear idea of your goal and your process.
      %p
        I knew I wanted to get rid of quite a few things, so I decided to have three categories to start with.
        My three categories would be items that had been worn but no longer wearable and therefore past their best,
        items that were still wearable but that I no longer wanted,
        and items that had never been worn and that I no longer needed.
      %p
        I then bought a selection of bin bags in three different colours, one for each of my categories.
        I wanted to make sure that I filled these bags with all the items I no longer wanted as they came out of the wardrobe.
        The bin bags would keep everything separated and ensure that there was less chance of me making a further mess.
        Having this strategy from the start guaranteed that I worked through my rail swiftly and in the time I had allocated.
        To help you make a plan I have listed my categories below:
      %ul
        %li
          %span.li-heading
            Orange bin bag –
          for items that are no longer wearable and past their best
        %li
          %span.li-heading
            Blue bin bag –
          for items still wearable but you no longer want
        %li
          %span.li-heading
            Grey bin bag –
          for items that have never been worn and you are never going to.
      %p
        The last thing left to do now was to pick a time.
        I chose a Saturday afternoon because the house was usually quiet and there was less chance of me being disturbed.
        I also put a big note on the fridge door warning people that I would not be available on my declutter day at the specified time.
        Then I went and had a sit down and a nice cup of tea.

  .article-section.article-section-right-image
    .article-image
      -first_url = image_path("blog/wardrobe-challenge/bin-bags.jpg")
      =image_tag(first_url, alt: "A selection of bin bags tied with either orange or blue handles.")

    .article-text
      %h3 Declutter day – Let's begin
      %p
        On the day make sure you have good size clean and clear space to work from.
        I used my bed and the floor to make sure I had enough space and I could keep on top of everything.
        I would also advise starting at a nice steady pace and remember this is a challenge so make sure you have plenty of water on the day to keep hydrated whilst you work your magic.

      %h4 Your first decision
      %p
        The quickest way I began was by taking 5 items from my rail and putting them on the bed in front of me.
        Next I took each item one by one and decided which of the following categories best described its current state:
      %ul
        %li
          Still wearing 
        %li
          Unwearable
        %li
          No longer wear
        %li
          Never been worn 

      %p
        I treated each category accordingly:
      %ul
        %li
          %span.li-heading
            Still wearing -
          these items were ‘keep and use’ and went back into the wardrobe, but separated from all the items still in there.
        %li
          %span.li-heading
            Unwearables -
          these items went straight into the orange bin bag on the floor
        %li
          %span.li-heading
            No longer wear –
          these items went in the blue bin bag on the floor
        %li
          %span.li-heading
            Never been worn -
          these items either went back in the wardrobe as ‘keep and use’ or they went straight into the grey bin bag on the floor if I thought they were never going to be worn at all.

      %p
        If I was not sure about wearing something, I quickly tried it on to help me decide.
        The trick is to really be honest with yourself or it won’t work.
        If it doesn’t fit then you are probably not going to wear it and telling yourself you should hold onto it won’t help you declutter at all.
      %p
        Once you have completed your first 5 items you are now ready to take the next five items out of the wardrobe and repeat the process again.
      %p
        When you have been through everything you planned to in your wardrobe it should look much better and you should be left with 2 or 3 bags of unwanted clothes on the floor depending on your categories.
        If you have done it right, your wardrobe should look decluttered and fabulous and contains only the clothes you still wear and intend to wear.
      %p
        For the unwearables in the black bin bag and the wearables in the blue bin bag.
        I took both these to the charity shop because they can get cash for the unwearables by fabric weight and they can sell the wearables in the shop,
        or you can sell the wearables online yourself, it’s up to you.
        For the never been worn items in the grey bin bag, that you won’t be wearing, we will get to those shortly.

  .article-section.article-section-right-image
    .article-image
      -first_url = image_path("blog/wardrobe-challenge/fizz.jpg")
      =image_tag(first_url, alt: "Two glasses of fizz sit on a sunny wall with blue sea in the background.")

    .article-text
      %h4 Taking back my life

      %p
        This was my story and this was how I took on my wardrobe and won. Now you are ready to take on yours.
        I wish you good luck on your declutter day.
        Remember, preparing yourself and having a solid plan will help you succeed.
        We all live slightly different lives and slightly different routines, so start in a way that best suits you.
      %p{style: 'background: yellow;'}
        I also have a quick guide cheat sheet to help you get started super fast.
        I found this so helpful to read on my declutter day.
        It really helped me get focused and in the mindset to succeed.
        Sign up to get the cheat sheet emailed to you.

      %h4
        How this changed my life – being free of mess
      %p
        My wardrobe is always tidy and I can always find what I am looking for with no hassle.
        I no longer have that stress feeling every time I open my wardrobe to get something out and I have plenty of room too.
        It almost takes care of itself now.
        It’s completely hassle free and I love it!

        The time I save now is unbelievable too.
        I no longer have to look at mess and I no longer have to tidy up over and over again, because I no longer make any.
        The best thing of all is that as well as reclaiming my wardrobe back I reclaimed so much personal time back.
        I found that I had more free time to myself, which I was really not expecting.

  .article-section.article-section-right-image
    .article-image
      -first_url = image_path("blog/wardrobe-challenge/globe.jpg")
      =image_tag(first_url, alt: "A brightly-coloured school globe.")

    .article-text
      %h3 Sustainability - Changing the world one wardrobe at a time
      %p
        There is just one last thing. They grey bag. It was full of  items of clothing that had never been worn. I didn’t realise I had so many. Now that I could see them all in the grey bag it shocked me. I knew I definitely didn’t need them anymore and there was no way I was putting them back in my lovely tidy wardrobe now. I really didn’t know what to do with them all and when I looked at all the price tags I knew how much money I had spent. This one grey bin bag was now worth a lot of money. Many people suggested that I just sell them online as a bag full of worn items, but that didn’t seem right. These were good clothes, almost brand new. I had clearly spent a lot of money and they had been  looked after  in my wardrobe all that time, so they still looked great. I did want them to go to someone else, someone that would appreciate the good condition they were still in and I wanted to see if I could sell them for a good price too. This is how neverbeenworn was born. If you take the wardrobe challenge and you find that you also have great clothes that have never been worn. Take some photos and pop them on the website for sale. I  took some really nice photos and uploaded them in a about a minute using the quick post it tool. They can go back out into the world to be worn by others who will appreciate them You will also be supporting sustainable fashion which we all need to support right now. I also found the extra cash useful too. That really helped me.

      %p
        Good luck with your wardrobe challenge and starting your new hassle free life.

  .article-footer
    %p
      If you take the
      %span.strong
        wardrobe challenge
      , we would love to hear from you.
    %p
      Send us a before and after shot and show us how well you did. 

      You can send it to
      =link_to('info@neverbeenworn.co.uk', 'mailto:info@neverbeenworn.co.uk?subject=Wardrobe Challenge')
      and make sure you add ‘Wardrobe Challenge’ in the subject bar.

    %p
      If there is anything you would love to read about, we would be happy to consider your request too

    %p.image-credit
      Thanks to Burgess Milner, wilsan u, Loren Biser, and Anthony Delanoix @ Unsplash,
      and Liza Summer and Nothing Ahead @ Pexels for images