.blog-article
  %h2.article-title="Too Many Scarves"
  %p.published-date
    December 2022
  .article-section.article-section-with-quote
    .article-text
      %h3 My scarf hoard – why I have one and why I am getting rid of it
      %p
        I have often wondered how I ended up with so many scarves.
        At the last count I had a total of 18 and I am not even sure how this happened.
        What I am really wondering is, why I got to a stage in life were I thought I needed 18 of them?
        I am aware I have only one neck and like most people I am accustomed to wearing only one scarf around it at any one time.
        So the big question here is:
        %span.big-question
          Why do we feel we need more than we actually do?

  .article-section
    .article-text.followed-by-image
      %p
        The need for 18 scarves has been on my mind for a little while now.
        I am still wondering what led me to this number.
        As a person of habit I know that I have only one favorite scarf for Autumn and winter and I am also aware that 9 times out of 10, this is the one that I reach for and without even thinking about it.
        This scarf serves me very well whenever I am in need of reliable neck warmth.
        So, if this is indeed the case then I am wondering why do I have 17 more?
        It was time to take a closer look at my scarf collection and make more sense of it all.
    .article-image.article-image-centred
      -image_url = image_path("blog/too-many-scarves/scarves-white-green-grey.jpg")
      =image_tag(image_url, alt: "Three wool scarves piled up on a wooden table. One is loosely knitted, one is tighly machine knit in green and the other is a soft cable-knit grey.")
      %figcaption
        Photo by Stocksnap on Pixabay

  .article-section
    .article-text
      %h4
        Scarf collecting – when did it start?

      %p
        What is it about scarf collecting?
        We all do a bit of it, but I seem to do do more of it and without thinking.
        Is it this semi-conscious act of hoarding scarves that is my main problem?
        I don’t actually recall signing up to any scarf collecting membership.
        I have not attended any meetings either. I really don’t think there is a group in my area.
        But it’s clear to see that I have at some point taken it upon myself to start my own reasonably sized scarf collection.
        I am quite sure that others have more and some have less, but I have 18 of the messy things and that is more than enough.
        I always want to say messy when referring to my collection because it always seems to be in one.
        Scarves are, and have always been, a funny sort of shape to try and keep in good order.
        They don’t much like to be folded and they definitely don’t like to stay folded for very long.
        I know this because I seem to be forever folding and refolding them and when I do reach for one they all seem come along for the ride like it was some kind of group outing.
        The reality I have to face is that in my world, my scarves are always, always in a mess.

      %h4
        The truth behind my scarf hoard
      %p
        It turns out that out of my 18 scarves, I had 14 for autumn and winter and 4 for spring summer.
        Of my autumn/winter collection I had three that I considered my back-ups to my one ‘favourite, wear it all the time’ scarf.
        These back-ups are apparently ‘just in case’ my one favourite scarf was not available, or in case something disastrous had happened to it.
        I had 4 other spare back-up scarves, one each for my other spare back-up jackets.
        Then I had 3 dressy scarves for special occasions in autumn, spring, and summer when an evening or event required a little more effort.
        After that I had three other scarves, one of which has great sentimental value and then the last two scarves, well I don’t even know why I have these last two.
        They went with jackets that I no longer have and I probably parted company with some time ago.
        If they no longer have a pairing jacket then they are both destined to never make it off the scarf shelf ever again.
        So I can’t even say why I continued to hold on to these two lonely scarves any more.
        They had both been shelved for so long that I cannot remember the last time I wore either of them.
        I seriously have no recollection.

    .quick-guide-container.quick-guide-decluttering
      .quick-guide
        %h4.quick-guide-title
          My scarf collection and categories
        %p.quick-guide-intro
          My hoard:
        %ul
          %li 
            1x Main scarf – worn every day
          %li
            3x back-up main scarves – just in case
          %li
            4x spare back-up scarves – one for each spare back up jacket
          %li
            3x dressy scarves – special events and occasions
          %li
            1x sentimental scarf – gift from relative
          %li
            2x random scarves. Went with an old jacket I no longer have
          %li
            4x spring summer scarves
        %p
          Total = 18 scarves

  .article-section
    .article-text
      %h3
        Let the fun begin. Decluttering your scarf collection – why it will save you time and space forever
      %p
        It was clear that either way my scarf hoard had got out of hand.
        I am not sure how but it had.
        So, what do you do once you realise you have this problem?
        How do you change your scarf hoarding habits and how do you create something more manageable in its place?
        This was a very good question.
        Below you will find the next steps I took in my decluttering journey.

    .quick-guide-container.quick-guide-decluttering
      .quick-guide
        %h4.quick-guide-title
          Quick guide - preparing to reduce my scarf hoard
        %ul
          %li 
            =link_to "#step-1" do
              Step 1 – How to get started
          %li
            =link_to "#step-2" do
              Step 2 – Assess the size of your hoard
          %li
            =link_to "#step-3" do
              Step 3 – Creating better scarf categories
          %li
            =link_to "#step-4" do
              Step 4 – Finally seeing the clutter
          %li
            =link_to "#step-5" do
              Step 5 – What to do with it all
          %li
            =link_to "#step-6" do
              Step 6 – Final steps


  .article-section

    .article-text.followed-by-image
      %h3#step-1 Step 1 – How I got started
      %p
        If you can’t do it right away pick a time when you can give this task your full attention.
        You want a nice quiet piece of time with no disturbances.
        This is so you can complete the task in full, once you have started.
        Leaving a task unfinished can have a negative affect and be a constant reminder that it is unfinished.
        This annoyance will build until you eventually and reluctantly return to the task and complete it,
        so save yourself the headache and make a start when you know you can also make enough time to finish it.
        You also want a nice free space to help you work quickly.
        I used my dining table as I also know I would have to have it cleared before the next sitting.

    .article-image.article-image-centred
      -image_url = image_path("blog/too-many-scarves/knitted-cosy-scarves.jpg")
      =image_tag(image_url, alt: "Three cozy and soft woolen scarves in a pile.")
      %figcaption
        Photo by
        =link_to('pvproductions', 'https://www.freepik.com/free-photo/cozy-winter-composition-with-knitted-items-blurred-background-with-bokeh_11568685.htm')
        on Freepik

    .article-text.following-image
      %h3#step-2 Step 2 – Assess the size of your hoard
      %p
        When you are ready, take out your entire hoard of scarves and place them all out on your clear space.
        Don’t be overwhelmed if it turns out to be quite a lot.
        To successfully clear your excess clutter, you want take a really good look at them all.
        Start to think about how much space you have in total for all of your accessories and how much of this space you really want to be giving up to what will be your new and reduced scarf collection. 

      %h3#step-3 Step 3 – Creating our new categories
      %p
        Now it’s time to start afresh.
        Create some new categories.
        You want to create no more than 4 new categories.
        Think about the purpose and occasions you most have need of a scarf.
        I chose autumn/winter - day to day or special occasions, sentimental, and spring/summer.

      %p
        Next sort your scarves out into your new categories and then take a good look at each one.
        Ask yourself how many of the scarves in each new category you actually wear on a regular basis and rely on.
        You want to have at least one reliable scarf in each of your categories.
        By reliable I mean in good condition, you love it and you already know it goes with the majority of what you wear.
        These scarves are the ones that will go in the new space you have designated for your reduced scarf collection so think honestly.
        Here are my new categories, but feel free to make up some of your own:

    .quick-guide-container.quick-guide-decluttering
      .quick-guide
        %h4.quick-guide-title
          Declutter prep – know your new scarf categories
        %ul
          %li
            =link_to "#scarf-category-winter" do
              Category 1 – Cosy Winter Warmer
          %li
            =link_to "#scarf-category-autumn-spring" do
              Category 2 – Autumn/Spring
          %li
            =link_to "#scarf-category-summer" do
              Category 3 - Summer
          %li
            =link_to "#scarf-category-special-occasions" do
              Category 4 - Special Occasions

  .article-section
    .article-text.indented
      %h4.scarf-category#scarf-category-winter Category 1 – Cosy Winter Warmer
      %p
        The right scarf in this category requires no effort when choosing it.
        It is warm and feels nice and it matches the majority of your winter day-to-day casual wardrobe.
        It literally goes with everything you wear and is in really good condition.
        You can reach for it without even thinking about it and you save valuable time getting ready and out the door.
        This scarf can go in the keep pile and the rest you should setting aside.

      %h4.scarf-category#scarf-category-autumn-spring Category 2 - Autumn/Spring
      %p
        These seasons can often be of similar temperatures so there is no need to have separate scarves for these two seasons.
        This scarf works well when it is not freezing cold outside but there is still a little chill. 

      %h4.scarf-category#scarf-category-summer Category 3 - Summer
      %p
        As a general rule there is usually no great need for a summer day scarf, but when the sun goes down the temperature does drop.
        It is useful to have a nice light wrap around to keep the night chill off your shoulders.

      %h4.scarf-category#scarf-category-special-occasions Category 4 - Special Occasions
      %p
        You want a really nice scarf in this category.
        It should be of good quality.
        You take good care of it, so it is always clean, it is always in perfect condition and always ready to wear.
        You can rely on this scarf to add the finishing touches to any special outfit.
        This one can definitely go in the keep pile. The rest you should set aside.

  .article-section
    .article-text
      %p
        If you have any sentimental scarves then these are always a keeper.
        It has a life-long free pass.
        So, it’s really up to you what happens with any scarf in this category.
        I can’t tell anyone to get rid of a scarf in this category, not even myself.
        No questions asked.

      %p
        If you are doing this in autumn then you can either put all your summer scarves away until it gets a little warmer and you are ready to go through them,
        or take them through the same process now. The same goes for your autumn and spring scarves if you are doing this in summer.

      %p
        Now you are done sorting out your hoard you should have a nice small collection of reliable scarves.
        They should all be in good condition and of a good quality.
        If you have done it right, you should be able to grab one and know it is the right choice no matter where you are going or what the occasion is.
        You should not have to second-guess your choice either.
        I say good quality because you want this scarf to last, so the cost should be a reflection of the time you expect it to last.

      %h3#step-4 Step 4 – Seeing the clutter
      %p
        Whatever is left aside in your collection is what you should consider getting rid of.
        These will probably fall into items past their best, items that you no longer wear or even consider to be spares, and maybe items that have never been worn.
        Basically these should be scarves that you really don’t need and might never wear.
        These are the ones that have been taking up valuable space and costing you time when you come to choosing a scarf to wear.
        These are your clutter and these are the items that are not supporting you and your wardrobe.
        These are the items that you get little benefit from keeping and ensure you have less space.

      %h3#step-5 Step 5 – What to do with it all
      %p
        Any Scarf that is past its best can go to a charity shop for weigh in as scrap material.
        Any scarf that you no longer wear, but is still in good condition can also go to a charity or second-hand shop to be resold and to support sustainable fashion.
        Any items that have never been worn you can add to this website, sell and get the cash. 

      %h3#step-6 Step 6 – Final steps
      %p
        One last thing.
        All the autumn/ winter scarves that you will be keeping can now go in your new designated space for scarves.
        If you have decluttered your hoard correctly, they should fit in nicely.
        You can also think about how to store them in their new space, maybe think about folding a certain way or placing them in a storage container if you have the room.
        It can be much easier to pull a container down, take what you need and put it back quickly and neatly, so you are less likely make a mess and less likely to pull them all out at once.
        This will always save you lots of time.

  .article-section
    .article-image.article-image-centred.portrait
      -image_url = image_path("blog/too-many-scarves/scarf-hoard.png")
      =image_tag(image_url, alt: "The breakdown of my scarf hoard into different categories and showing which scarves I kept. I started with 18 scarves and kept 4: one for winter, one dressy, one for spring/summer and one for sentimental reasons.")

  .article-footer
    %p
      We would love to hear from you if you found this article useful
    %p
      Send us a before and after shot and show us how well you did.
      You can send it to
      =link_to('info@neverbeenworn.co.uk', 'mailto:info@neverbeenworn.co.uk?subject=Too Many Scarves')
      and make sure you add ‘Too Many Scarves’ in the subject bar

    %p
      If there is anything you would love to read about, we would be happy to consider your request too.
      Please just add a few details and why you would find it helpful.

  