-# - content_for :extra_javascript do
-#   =javascript_include_tag "//assets.pinterest.com/js/pinit.js", defer: true, "data-pin-hover": true
-#   =render :partial => "blog/components/update_pinterest_button_text",
-#     :locals => { :"pin_button_ids" => ["pinit-6-basic-needs"] }


.blog-article.quick-sections
  %h2.article-title="Top 5 fixes for autumn"
  %p.published-date
    September 2023

  .article-section

    .article-text

      %h2.centred
        1. Dresses and skirts

      .article-image.article-image-centred.aspect-2-3
        -image_url = image_path("blog/top-5-fixes-for-autumn/red-jumper-shopping.jpg")
        =image_tag(image_url, alt: "A woman wearing a long red jumper accessorised with a black belt and carrying a few bags from the high-end stores in the street behind her.")
        %figcaption
          Photo by
          =link_to('garetsvisual', 'https://www.freepik.com/free-photo/pretty-stylish-blond-girl-knitted-sweater-with-shopping-bags-happily-looking-camera-walking-through-city-street_23329604.htm')
          on Freepik

      %p
        Separate your summer dresses and skirts into the following two categories:

        %ol
          %li
            Only for summer 
          %li
            Still okay to wear
        
      %p
        Category 1 - These are the dresses and skirts that you only wear on holiday or when it’s really hot at home.
        You can put these away now until it gets warm again.
        Category 2 - These are the dresses and skirts that you could easily wear if you simply add a pair of tights or a jumper. 
        These are the summer items you can keep in your wardrobe for autumn.


  .article-section

    .article-text

      %h2.centred
        2. Footwear

      .article-image.article-image-centred.aspect-2-3
        -image_url = image_path("blog/top-5-fixes-for-autumn/brown-chelsea-boots.jpg")
        =image_tag(image_url, alt: "Closeup of a woman wearing brown Chelsea boots and carrying an oversized cream leather handbag.")
        %figcaption
          Photo by
          =link_to('senivpetro', 'https://www.freepik.com/free-photo/woman-s-bag-close-up_3964786.htm')
          on Freepik

      %p
        It’s time for your autumn/winter shoes.
        Check what you currently have and that they are in good order for the change in season.
        If you are not sure what style to wear this autumn or fancy a change.

      %p
        Check out my guide to
        =link_to('big boots', article_path(id='big_boots_how_to_wear_them'))
        because they are definitely back in season. 

  .article-section
    .article-text

      %h2.centred
        3. Accessories

      .article-image.article-image-centred.aspect-2-3
        -image_url = image_path("blog/top-5-fixes-for-autumn/scarf-coat-stripy-top.jpg")
        =image_tag(image_url, alt: "A woman wears a blue-spotted scarf with a cream background, a breton-style blue and white striped top under a trench coat.")
        %figcaption
          Photo by
          =link_to('senivpetro', 'https://www.freepik.com/free-photo/young-beautiful-woman-walking-sunny-day_10705009.htm')
          on Freepik

      %p
        Getting your accessories in order and ready to go is key.
        As soon as the weather changes, you will be glad you did.
        Here are my top 4 key autumn accessories, so you don’t get caught out.
        
      %p
        Top 4 checklist to get you started:

        %ul
          %li
            Scarf
          %li
            Gloves
          %li
            Hat
          %li
            Warmer socks


  .article-section
    .article-text

      %h2.centred
        4. Knitted Tops

      .article-image.article-image-centred.aspect-2-3
        -image_url = image_path("blog/top-5-fixes-for-autumn/knitted-top-in-city.jpg")
        =image_tag(image_url, alt: "A woman leans against a city office wall in the autumn sun wearing a loose fitting high-necked knitted jumper, black denim skirt and sunglasses.")
        %figcaption
          Photo by
          =link_to('standret', 'https://www.freepik.com/free-photo/silence-calm-young-beautiful-girl-warm-clothes-have-walk-city-her-weekends-time_9819595.htm')
          on Freepik

      %p
        Next is the time to take a look at your knitted tops and see what you have.
        You want a good selection of reliable warm tops that feel lovely to wear and are ready for when the weather change comes.
        Make sure that they are in good order with no signs of bobbling and replace any that are worn or past their best.


  .article-section

    .article-text

      %h2.centred
        5. Jackets

      .article-image.article-image-centred.aspect-2-3
        -image_url = image_path("blog/top-5-fixes-for-autumn/long-coat-boots-in-park.jpg")
        =image_tag(image_url, alt: "A woman walks in the park on a sunny autumn day, wearing a pale calf-length coat, tight-knit white woolen jumper with flared sleeves, slim dark indigo jeans tucked into knee-high brown leather boots, and carrying an oversized leather handbag.")
        %figcaption
          Photo by
          =link_to('senivpetro', 'https://www.freepik.com/free-photo/young-woman-autumn-park_3389776.htm')
          on Freepik

      %p
        Finally check your autumn jacket is ready and waiting to keep you all wrapped up.
        Autumn jackets are usually longer and of more substantial material to keep you warm in the fresh autumn air.
        Checking now means you will be all ready for autumn in no time.

  .article-section
    .article-text
      %p
        If you have not checked your Autumn wardrobe yet, then it’s not too late.
        Take these top 5 steps and your autumn wardrobe will be ready to go in no time at all.


  .article-footer.orange
    %h2
      Stay connected
    %p
      Stay connected and ahead of fashion with our ‘Newsflash’. [will be a link to the newsflash promotional page]
      If there is something on the fashion high street, a must have essential for the season, then we will bring you the breaking news and how to wear it.

  .article-section

  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }

  -# .article-section.pin-for-later
  -#   .article-text
  -#     %h2
  -#       Pin this article for later!

  -#     %a.pin-for-later-image.pinit#perfect-beach-bag{ :"data-pin-do" => "buttonPin",
  -#               :"data-pin-media" => image_url("blog/white-trainers/5-reasons-white-trainers-hires.jpg"),
  -#               :"data-pin-description" => "5 reasons why we still love white trainers",
  -#               :title => "Pin This Article",
  -#               :class => "pin-it-button",
  -#               :href => "http://pinterest.com/pin/create/button/",
  -#               :rel => "nofollow",
  -#               :target => "_blank",
  -#               "count-layout" => "horizontal",
  -#               :"data-pin-custom" => "true",
  -#               :"to-be-replaced" => "true"}
  -#       -image_url = image_path("blog/white-trainers/5-reasons-white-trainers.jpg")
  -#       =image_tag(image_url, alt: "Pin this article with the image: 5 reasons why we still love our white trainers.")
