-# - content_for :extra_javascript do
-#   =javascript_include_tag "//assets.pinterest.com/js/pinit.js", defer: true, "data-pin-hover": true
-#   =render :partial => "blog/components/update_pinterest_button_text",
-#     :locals => { :"pin_button_ids" => ["pinit-6-basic-needs"] }


.blog-article.quick-sections
  %h2.article-title="THE WHITE SHIRT – HOW TO WEAR IT"
  %p.published-date
    OCtober 2023

  .article-section

    .article-text
      %p.opening-paragraph
        Buying the perfect white shirt can add that something special to your wardrobe, but what if you are not sure how to wear it?

      %p.opening-paragraph
        As part of my
        %span.strong
          ‘build a better wardrobe’
        series, I have created a quick ‘how to wear’ it guide to help you get the white shirt look right.
        The key is to make it look effortlessly polished.
        This is what it is all about.
        Let’s take a look at how it’s done with one simple but perfect look.


      %h2.centred
        1. Styling

      .article-image.article-image-centred.aspect-2-3
        -image_url = image_path("blog/white-shirts-quick-guide/white-shirt-styling.jpg")
        =image_tag(image_url, alt: "A lady wearing a crisp white shirt and fitted black trousers.")
        %figcaption
          Photo by
          =link_to('user15285612', 'https://www.freepik.com/free-photo/picture-handsome-caucasian-woman-with-long-dark-wavy-hair-white-shirt-black-pants-heels-posing-camera_16869605.htm')
          on Freepik

      %p
        A crisp
        =link_to('white shirt', article_path(id='white_shirts'))
        is considered a ‘classic item’.
        This means that it falls under the ‘less is more’ category.
        You want to create a simple outfit that will let your perfect white shirt really stand out, just like this one.

      %p
        So how you achieve this? One way is to pair your white shirt with some clean cut trousers.
        Try some fitted ones like the ones above.
        This will give you the perfect outfit and a more effortless style.

      %p
        For a more casual look go for a loose fitting pair of trouser to get that comfortable relaxed style.


  .article-section

    .article-text

      %h2.centred
        2. Accessories

      .article-image.article-image-centred.aspect-2-3
        -image_url = image_path("blog/white-shirts-quick-guide/white-shirt-accessories.jpg")
        =image_tag(image_url, alt: "A lady wearing a crisp white shirt and fitted black trousers, accessorised with a medium width black leather belt with a metal buckle in an understated symmetrical geometric pattern.")
        %figcaption
          Photo by
          =link_to('user15285612', 'https://www.freepik.com/free-photo/picture-handsome-caucasian-woman-with-long-dark-wavy-hair-white-shirt-black-pants-heels-posing-camera_16869587.htm')
          on Freepik

      %p
        Accessories can make or break your overall white shirt look, so don’t overdo it.
        If you do want to add a few, then make sure they are just little touches and of the same quality and standard as your white shirt.

      %p
        The key is not to overshadow your perfect white shirt, but to complement it.
        Just like the belt above.
        A simple belt with a small amount of interesting details on the buckle is going fit much better than a great big attention grabbing buckle.

      %p
        Stay understated.
        

  .article-section

    .article-text

      %h2.centred
        3. How to wear your shirt

      .article-image.article-image-centred.aspect-2-3
        -image_url = image_path("blog/white-shirts-quick-guide/white-shirt-how-to-wear.jpg")
        =image_tag(image_url, alt: "A lady wearing a crisp white shirt and fitted black trousers, stands with her hands on her hips and her back to the camera.")
        %figcaption
          Photo by
          =link_to('user15285612', 'https://www.freepik.com/free-photo/picture-handsome-caucasian-woman-with-long-dark-wavy-hair-white-shirt-black-pants-heels-looks-high-building_10201862.htm')
          on Freepik

      %p
        Knowing whether to tuck your shirt in or leave it hanging out is going to depend on you, your personal style, and the type of occasion you are wearing it for.
        If it’s quite a relaxed affair and there is definitely no dress code, then you might be okay with leaving it tucked out.

      %p
        But my thoughts are as follows: if you have gone to the trouble of buying a quality item, then you should wear it in a ‘quality manner’.

      %p
        In the image above the shirt and the trousers come together neatly, so you can see that tucked in will generally give you a better silhouette.
        Tucked in will also give a better finish to your outfit.
        However, it is best to go with the overall look and finish that each individual occasion demands.


  .article-section

    .article-text

      %h2.centred
        4. Final look

      .article-image.article-image-centred.aspect-2-3
        -image_url = image_path("blog/white-shirts-quick-guide/white-shirt-final-look.jpg")
        =image_tag(image_url, alt: "A lady wearing a crisp white shirt, fitted black trousers and stilletos, stands in a power pose at an angle to the camera with her hands on her pockets.")
        %figcaption
          Photo by
          =link_to('user15285612', 'https://www.freepik.com/free-photo/picture-handsome-caucasian-woman-with-long-dark-wavy-hair-white-shirt-black-pants-heels-posing-camera_10201855.htm')
          on Freepik

      %p
        Paying attention to your shoes is key to finishing your final look.

      %p
        Your shoes need to match up to the rest of your outfit if you want to really complete this kind of look.
        It doesn’t matter if you go for heels or flats, as long as they complement the overall look you are going for.
        Make sure that your shoes are in good order, clean and free from signs of damage.
        Scuffed toes will do nothing but ruin your look and attract attention to them.

      %p
        It would be a shame to get this far and fall at the final furlong.
        You are looking for head to toe pressed and polished perfection. 


  .article-section
    .article-text

      %h2.centred
        5. Hair style

      .article-image.article-image-centred.aspect-2-3
        -image_url = image_path("blog/white-shirts-quick-guide/white-shirt-hair.jpg")
        =image_tag(image_url, alt: "AA lady wearing a crisp white shirt and fitted black trousers stands with one hand in her pocket. Her hair is long and neatly brushed, matching the businesslike look of her outfit.")
        %figcaption
          Photo by
          =link_to('user15285612', 'https://www.freepik.com/free-photo/picture-handsome-caucasian-woman-with-long-dark-wavy-hair-white-shirt-black-pants-heels-posing-camera_10201858.htm')
          on Freepik

      %p
        You might be wondering what your hair has to do with your wearing a perfect white shirt.
        Well it could be a lot actually.

      %p
        If your shirt is crisp and neat and so is the rest of your outfit, then why not your hair?
        A polished outfit can be ruined by not paying enough due attention to your hair.

      %p
        The polished look requires a natural and effortless hair style to match, so don’t go crazy.
        Think about a natural style for your own hair type.
        Complicated hair styles covered in product are not the right look here.
        You want something that is simple and naturel, that will last all day and stay looking good.
        This will help bring your effortless and polished look together in one. 

  .article-section
    .article-text

      %h2.centred
        Never been worn - Building a better wardrobe series


  -# .article-footer.orange
  -#   %h2
  -#     Stay connected
  -#   %p
  -#     Stay connected and ahead of fashion with our ‘Newsflash’. [will be a link to the newsflash promotional page]
  -#     If there is something on the fashion high street, a must have essential for the season, then we will bring you the breaking news and how to wear it.

  .article-section

  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }

  -# .article-section.pin-for-later
  -#   .article-text
  -#     %h2
  -#       Pin this article for later!

  -#     %a.pin-for-later-image.pinit#perfect-beach-bag{ :"data-pin-do" => "buttonPin",
  -#               :"data-pin-media" => image_url("blog/white-trainers/5-reasons-white-trainers-hires.jpg"),
  -#               :"data-pin-description" => "5 reasons why we still love white trainers",
  -#               :title => "Pin This Article",
  -#               :class => "pin-it-button",
  -#               :href => "http://pinterest.com/pin/create/button/",
  -#               :rel => "nofollow",
  -#               :target => "_blank",
  -#               "count-layout" => "horizontal",
  -#               :"data-pin-custom" => "true",
  -#               :"to-be-replaced" => "true"}
  -#       -image_url = image_path("blog/white-trainers/5-reasons-white-trainers.jpg")
  -#       =image_tag(image_url, alt: "Pin this article with the image: 5 reasons why we still love our white trainers.")
