- content_for :extra_javascript do
  =javascript_include_tag "//assets.pinterest.com/js/pinit.js", defer: true, "data-pin-hover": true
  =render :partial => "blog/components/update_pinterest_button_text",
    :locals => { :"pin_button_ids" => ["pinit-6-basic-needs"] }

.blog-article
  %h2.article-title="Why I am still wearing white trainers"
  %p.published-date
    June 2023
  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated

    .article-text
      .article-image.aspect-1
        -image_url = image_path("blog/white-trainers/white-trainers-tying-laces.jpg")
        =image_tag(image_url, alt: "A woman in a white hoodie, black leggings, and white trainers ties her shoe lace.")
        %figcaption
          Photo by
          =link_to('Holiak', 'https://www.freepik.com/free-photo/young-woman-doing-fitness-outdoor_26164623.htm')
          on Freepik

      %p
        I love my white trainers.
        This is an absolute true fact.

      %p
        The day I bought my first pair was the day they secretly changed my life and I was totally unaware this was going to happen.
        If you own a pair you might know what I am talking about.
        Or maybe you haven’t realised yet.
        If you are still wondering what I am talking about then let me tell you.

      %p
        There is something that feels great about owning a perfect pair of clean and crisp white trainers.
        Do you know what I mean now?
        I knew it the moment I realised I wanted a pair, and the moment I got them I knew I had made the right choice.
        I am into my third pair now and nothing has changed.
      %p
        But what I have come to ask is: why have we been secretly falling in love with white trainers?
        What is the true impact that this lovely piece of footwear has been having on our day-to-day mindset?
        Do we even know?

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        The secret revolution — positive mind health

      .article-image.aspect-1
        -image_url = image_path("blog/white-trainers/white-trainers-jeans.jpg")
        =image_tag(image_url, alt: "A pair of cropped slim-fit blue jeans accessorised with white trainers.")
        %figcaption
          Photo by
          =link_to('rawpixel.com', 'https://www.freepik.com/free-photo/white-canvas-sneakers-women-s-shoes-apparel-shoot_15438413.htm')
          on Freepik

      %p
        White trainers have been around for decades and have always had a positive vibe about them.
        How many sports do you associate them with?
        How about tennis or yachting?
        White trainers have actually had their time in many other sports.

      %p
        Maybe it’s this positive active vibe that has spilled out onto the high street and is the reason why we have really grown to love them so much?
        There is something uplifting that happens when you step outside wearing a pair of crisp white trainers and it doesn’t matter what style you choose either.

      %p
        So what is the white trainer effect?

      %p
        If you own a pair have you ever noticed how you feel when you look down and see those bright white trainers looking so nice and clean?
        I don’t know about you, but I feel just lovely. I feel I am well dressed and I feel I am good to go.
        It is almost always the case, no matter what I am doing.
        And that is not all.

      %p
        How many times have you spotted someone wearing a really nice pair of white trainers and have tried to get a little closer to see what brand they are wearing?
        I cannot tell you how often I have passed another lady in the street and thought ooh those trainers look really great with that dress or those jeans.
        Have you ever had that thought too? Have you ever gone and asked them where they got them from?
        No, because nobody wants to be a trainer stalker, right?


  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        White trainers — why we love them so much

      .article-image.aspect-3-4
        -image_url = image_path("blog/white-trainers/sitting-on-steps-white-trainers.jpg")
        =image_tag(image_url, alt: "A lady sits casually on some concrete steps, wearing a white baseball hat, casual top and jeans, and a pair of white trainers.")
        %figcaption
          Photo by
          =link_to('user18526052', 'https://www.freepik.com/free-photo/attractive-female-wearing-stylish-jeans_14475067.htm')
          on Freepik

    .article-text
      %p
        How many items do you have in your wardrobe that you truly love?

      %p
        By love I mean you love to wear those items, you rely on those items a lot, and you love knowing they are there for you whenever you might need them.
        You absolutely love how they fit and you love how you look wearing them even more.
        These are the most loyal items of clothing in your wardrobe that you own.
        In most cases they are also the most hard working items in your wardrobe.

      %p
        Why?
        Because these clothes make us feel good, we feel that they make us look our best and we feel the most confident and comfortable when we wear them.
        When we go to face the outside world wearing them we are ready.

      %p
        How many clothes in your wardrobe do you have that fit into this category?

      %p
        How many items do you own that make you feel ready when you go to face the world?
        How many items do you own that make you feel that confident?
        It doesn’t matter if it is to go to work on a WFO (working from office day), or if we are on a meet-up, or even an evening out.
        It doesn’t even matter if we are just going to the supermarket.
        We feel good in these trainers and it’s the same effect every time.
        This is the true power of the white trainer.

      %p
        It has an everlasting effect from the day we buy them through to the first time we wear them and all the days that follow in between.
        This feeling is what we love about them the most.

      %p
        So am I ready to give up my love of white trainers yet?
        No I am not!


  .article-section
    .quick-guide-container.quick-guide-beach
      .quick-guide.quick-guide-wide
        %h4.quick-guide-title
          6 great reasons we love to wear white trainers
        %ol
          %li
            %span.strong
              Clean  and crisp 
            \– they just look good. It’s that simple
          %li
            %span.strong
              Smart or casual
            \– they just go with everything
          %li
            %span.strong
              Summer
            \– they are just perfect for any summer outfit
          %li
            %span.strong
              Day or night
            \– you can wear them at any time of day
          %li
            %span.strong
              Timeless chic
            \– they guarantee you look your best every time
          %li
            %span.strong
              Effortless style
            \– they match with everything. It really is that easy!

  
  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3 
        Summer outfits and holidays

      .article-image.aspect-1
        -image_url = image_path("blog/white-trainers/walking-by-river-white-trainers.jpg")
        =image_tag(image_url, alt: "Walking on a river or canal bank, wearing white athleisure and white trainers.")
        %figcaption
          Photo by
          =link_to('azerbaijan_stockers', 'https://www.freepik.com/free-photo/female-walking-park-high-quality-photo_25906798.htm')
          on Freepik

    .article-text
      %p
        I recently went on holiday and before I left, I decided to set myself a little holiday challenge.
        This was my challenge: I was going away for 1 week and I was only going to take one backpack.
        That's right, just one.
        Do you think this was too much?
      %p
        Now I need to make this clear, I was not going travelling, I was going to the Mediterranean for some much anticipated sun, sea, and sand in great company.
        This was all I wanted and it was what I was most looking forward to.
      %p
        The issue with setting myself such a target for such a holiday was that I was female.
        Most ladies do not travel on holiday light.
        Do they?
        Are you thinking what I was thinking?
        I was thinking that I would probably be needing at least one set of shoes for each outfit, and I would probably need a new outfit for each day.
        So as you can see, the challenge was a big one!
      %p
        Do you think this was too much now?
        Not only that but then there were the multitude of body, face and hair products that I would be needing for every minute and every hour of every day and time zone too.
      %p
        At this point I thought it was definitely too much and I was close to reaching for my suitcase and being done with the challenge.
        But instead I took a good look at my white trainers for a second and guess what happened?
            

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3 
        White trainers to the rescue!

      .article-image.aspect-3-4
        -image_url = image_path("blog/white-trainers/leaning-on-railing.jpg")
        =image_tag(image_url, alt: "Leaning on a railing at the bottom of some wide cobbled steps in a European street, wearing a cool summery outfit with a straw hat and white trainers.")
        %figcaption
          Photo by
          =link_to('diana.grytsku', 'https://www.freepik.com/free-photo/pretty-young-girl-hat-walks-stair-outdoors-summer-street_10367483.htm')
          on Freepik

    .article-text
      %p
        A few days later I find myself sat in the airport staring at the departure board.
        I am waiting for my gate to appear.
        There is less than one hour left until my flight departs and hopefully it will take me with it.
        I am longing to be jetting me off to a lovely 28 degrees of sun and some cool blue sea.
        I couldn’t wait!

      %p
        It was not long before my gate number appeared on the board and I set off to board my flight and quickly picked up my rucksack to head to the boarding desk.

      %p
        Yes that’s right, I picked up my small rucksack for 1 week by the beach.
        I did it and guess what? It was all thanks to my white trainers.
        So, this is how it happened.

      %p
        I realised that my white trainers were the key to packing less.
        They went with anything and everything went with them.

      %p
        My day outfits they all matched.

      %p
        My beach dress, it matched too.

      %p
        My departure outfit, my return flight outfit, they all matched.

      %p
        I also took one pair of flip flops for the beach, but that was it.
        All I really needed was just one pair of trainers for 7 days and I wore them throughout my entire holiday.
        The most interesting thing to come out of this experiment is that I never felt underdressed once.
        In fact, my lovely white trainers went with absolutely everything I packed and I wore it all.
        I had a great time and without any wardrobe fuss at all.
        It was that simple.


  .article-section
    .quick-guide-container.quick-guide-beach
      .quick-guide.quick-guide-wide
        %h4.quick-guide-title
          5 Summer styles to perfectly match your white trainers
        %ol
          %li
            %span.strong
              Dresses 
            \– try fitted or flowing. They all work
          %li
            %span.strong
              Cropped leggings
            \– A little bit of cool 50s vibe
          %li
            %span.strong
              Jeans
            \– fitted or flared, both are a perfect match
          %li
            %span.strong
              Shorts
            \– Try loose or tailored. You can’t go wrong
          %li
            %span.strong
              Skirts
            \– try a pencil or a flowing style. For simple chic


  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        Summer outfits and holidays – final thought

      .article-image.aspect-1
        -image_url = image_path("blog/white-trainers/white-trainers.jpg")
        =image_tag(image_url, alt: "A pair of clean, new, unworn, white tennis shoes.")
        %figcaption
          Photo by
          =link_to('rawpixel.com', 'https://www.freepik.com/free-photo/white-canvas-sneakers-unisex-footwear-fashion_15850233.htm')
          on Freepik

      %p
        After my week away I realised one thing: I was not ready to give up my white trainers.
        Why would I?
        They are amazing.
        They make my life so much easier.
        They always make my outfits look even better than I imagined.
        They are perfect for summer!

      %p
        Do you see where this is going?
        If you own a pair, do you feel ready to give them up yet?
        My advice is to wear your white trainers all summer if you want to.
        Wherever you go and whatever you do, take them with you.

      %p
        If you still love them?
        Then wear them.
        Wear them all day and all night if you want to, because honestly these lovely little babies just became a true classic and they will be around for longer than you might think.


  .article-footer.blue
    %h2
      Share the joy
    %p
      Do you own and a pair of white trainers? If they have never let you down, then share the joy! Send in a picture for my
      %span.strong
        summer wall of happiness.

    %p
      Label your email ‘Trainer joy’ and send it in to
      =link_to('info@neverbeenworn.co.uk', 'mailto:info@neverbeenworn.co.uk?subject=Trainer joy')

    %p
      %span.strong
        I hope you and your white trainers have an amazing summer together, wherever you go and whatever you do!

  .article-section
  

  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }

  -# .article-section.pin-for-later
  -#   .article-text
  -#     %h2
  -#       Pin this article for later!

  -#     %a.pin-for-later-image.pinit#perfect-beach-bag{ :"data-pin-do" => "buttonPin",
  -#               :"data-pin-media" => image_url("blog/summer-beach-bag/perfect-beach-bag-pin.jpg"),
  -#               :"data-pin-description" => "6 top requirements for the perfect no hassle beach bag",
  -#               :title => "Pin This Article",
  -#               :class => "pin-it-button",
  -#               :href => "http://pinterest.com/pin/create/button/",
  -#               :rel => "nofollow",
  -#               :target => "_blank",
  -#               "count-layout" => "horizontal",
  -#               :"data-pin-custom" => "true",
  -#               :"to-be-replaced" => "true"}
  -#       -image_url = image_path("blog/summer-beach-bag/perfect-beach-bag-pin.jpg")
  -#       =image_tag(image_url, alt: "Pin this article with the image: 6 top requirements for the perfect no hassle beach bag.")

  -#     %a.pin-for-later-image.pinit#perfect-beach-bag{ :"data-pin-do" => "buttonPin",
  -#               :"data-pin-media" => image_url("blog/summer-beach-bag/drawstring-bag-tip-pin.jpg"),
  -#               :"data-pin-description" => "Tip: take a light drawstring bag to separate your wet or sandy beach towel from everything else in your beach bag",
  -#               :title => "Pin This Article",
  -#               :class => "pin-it-button",
  -#               :href => "http://pinterest.com/pin/create/button/",
  -#               :rel => "nofollow",
  -#               :target => "_blank",
  -#               "count-layout" => "horizontal",
  -#               :"data-pin-custom" => "true",
  -#               :"to-be-replaced" => "true"}
  -#       -image_url = image_path("blog/summer-beach-bag/drawstring-bag-tip-pin.jpg")
  -#       =image_tag(image_url, alt: "Pin this article with the image: Tip for the beach: take a drawstring shoe bag to keep your wet or sandy towel separate from everything else.")

  -#     %a.pin-for-later-image#perfect-packing{ :"data-pin-do" => "buttonPin",
  -#               :"data-pin-media" => image_url("blog/summer-beach-bag/perfect-packing-pin.jpg"),
  -#               :"data-pin-description" => "Perfect packing for a no-hassle day at the beach",
  -#               :title => "Pin This Article",
  -#               :class => "pin-it-button",
  -#               :href => "http://pinterest.com/pin/create/button/",
  -#               :rel => "nofollow",
  -#               :target => "_blank",
  -#               "count-layout" => "horizontal",
  -#               :"data-pin-custom" => "true",
  -#               :"to-be-replaced" => "true"}
  -#       -image_url = image_path("blog/summer-beach-bag/perfect-packing-pin.jpg")
  -#       =image_tag(image_url, alt: "Pin this article with the image: Perfect packing for a no-hassle day at the beach.")

  -#     %figcaption
  -#       Pin photos by
  -#       =link_to('macrovector', 'https://www.freepik.com/free-vector/three-colored-realistic-drawstring-bags-with-print-white-background-isolated-vector-illustration_31977502.htm')
  -#       and
  -#       =link_to('awesomecontent', 'https://www.freepik.com/author/awesomecontent')
  -#       on Freepik
