- content_for :extra_javascript do
  =javascript_include_tag "//assets.pinterest.com/js/pinit.js", defer: true, "data-pin-hover": true
  =render :partial => "blog/components/update_pinterest_button_text",
    :locals => { :"pin_button_ids" => ["pinit-6-basic-needs"] }

.blog-article
  %h2.article-title="Should you still be wearing your white trainers?"
  %p.published-date
    June 2023
  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated

    .article-text
      .article-image.aspect-1
        -image_url = image_path("blog/white-trainers/white-trainers-tying-laces.jpg")
        =image_tag(image_url, alt: "A woman in a white hoodie, black leggings, and white trainers ties her shoe lace.")
        %figcaption
          Photo by
          =link_to('Holiak', 'https://www.freepik.com/free-photo/young-woman-doing-fitness-outdoor_26164623.htm')
          on Freepik

      %p
        If you own a pair of white trainers you might be wondering if they are still in fashion. 

      %p
        The world has fallen in love with white trainers.
        But where is it going and what happens now?

      %h3
        Are people still wearing white trainers?

      %p
        There is something that feels great about owning a perfect pair of clean and crisp white trainers.
        I knew it the moment I bought a pair, that I had made the right choice.
        If you own a pair you might know what I am talking about.
        So why have we secretly fallen in love with them?

      %p
        I recently stopped a couple of people in the street and asked them why they wore white trainers and here is what they both said.

      %p
        Answer 1 — “They always look good and they go with everything I wear”

      %p
        Answer 2 — “I always feel good wearing them”

      %p
        We have also become a bit more of a smart/casual world now and maybe these trainers fit right in with that.

      %p
        Overall I got the general feeling that wearing white trainers was definitely still in and that it really worked for the people I talked to,
        so has their really time run out?

      %p
        Here are the top 6 reasons why people are still wearing white trainers:

  .article-section
    .quick-guide-container.quick-guide-beach
      .quick-guide.quick-guide-wide
        %h4.quick-guide-title
          6 great reasons we are still wearing white trainers
        %ol
          %li
            %span.strong
              They look good 
            \– clean and crisp every time
          %li
            %span.strong
              They go with everything
            \– smart or casual
          %li
            %span.strong
              Perfect for summer
            \– they go with all my summer outfits
          %li
            %span.strong
              Day or night
            \– you can wear them at any time of day or night
          %li
            %span.strong
              Classic
            \– they support you in looking your best
          %li
            %span.strong
              Easy style
            \– they match with everything. It’s really easy!

  

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        Are white trainers still in fashion then?

      .article-image.aspect-1
        -image_url = image_path("blog/white-trainers/white-trainers-jeans.jpg")
        =image_tag(image_url, alt: "A pair of cropped slim-fit blue jeans accessorised with white trainers.")
        %figcaption
          Photo by
          =link_to('rawpixel.com', 'https://www.freepik.com/free-photo/white-canvas-sneakers-women-s-shoes-apparel-shoot_15438413.htm')
          on Freepik

      %p
        White trainers in general have been around for decades and have always had a positive vibe about them.
        You only need to mention tennis and everyone knows that effortless look I am talking about.

      %p
        So, I don’t think they have ever been out of fashion, it’s just been ramped up a bit recently.
        The other day I sat outside a café and watched how many people went past in white trainers and honestly, there were tonnes.

      %p
        Maybe it’s this positive and active vibe that has spilled out onto the high street.
        There is also another reason why we have grown to love them so much.
        They are easy to deal with.
        You just have to keep them clean.
        They will always match and they will always look good.
        Generally they are less hassle and one less thing to worry about, as long as you keep them clean.
        White trainers are 100% reliable and I don’t think it matters what style you choose either.
        They just work.


  .article-section
    .article-text
      %p
        I looked at how people were wearing them and these were the top 5 styles that I saw:

    .quick-guide-container.quick-guide-beach
      .quick-guide.quick-guide-wide
        %h4.quick-guide-title
          5 most popular summer looks for white trainers
        %ol
          %li
            %span.strong
              Maxi dress 
            \– summer comfort
          %li
            %span.strong
              Cropped jeans
            \– casual summer chic
          %li
            %span.strong
              Leggings
            \– casual and sporty
          %li
            %span.strong
              T-shirt dress
            \– summer, sporty
          %li
            %span.strong
              Linen trousers
            \– relaxed casual

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h2
        White trainers on holiday

      .article-image.aspect-3-4
        -image_url = image_path("blog/white-trainers/leaning-on-railing.jpg")
        =image_tag(image_url, alt: "Leaning on a railing at the bottom of some wide cobbled steps in a European street, wearing a cool summery outfit with a straw hat and white trainers.")
        %figcaption
          Photo by
          =link_to('diana.grytsku', 'https://www.freepik.com/free-photo/pretty-young-girl-hat-walks-stair-outdoors-summer-street_10367483.htm')
          on Freepik

    .article-text
      %p
        I recently went on holiday and took only two pairs of shoes with me.
        Yes, you read that right.
        I went away for 7 days with only two pairs of shoes.
        It was more of an experiment really.
        My theory was that if white trainers really do go with everything then technically all I needed was one pair, right?
        I also wanted to see what happened to my luggage weight if had a lot less footwear with me.

      %p
        Would I end up needing a smaller case?
        Would I run out of footwear?
        Well the answer is that I had easily enough footwear options!
        I wore my white trainers with everything.
        It actually made getting ready easier and much less hassle in the heat.
        I always felt well dressed day or night.
        So, I will still be wearing my white trainers all summer, day or night.

      %p
        Just in case you wondered, my second pair of shoes were flip flops and I was on an all inclusive, relaxing by the pool kind of holiday.

      %h3 
        Less was definitely more

      %p
        My white trainers became the key to packing less for my holiday.
        They also saved me a lot of time when getting ready.
        I think I spent less time deciding what to wear and more time at the pool because of that. 

      %p
        Here is how I generally wore them on holiday and how long it took me to choose my outfit.

      %h4
        Holiday outfits - time to get ready and match rate

      %ol
        %li
          %span.strong
            Departure outfit (white trainers)
          \– 100% match – time taken: 10 minutes
        %li
          %span.strong
            Poolside (flip flops)
          \– 100% match – time taken: 2 minutes
        %li
          %span.strong
            Night outfits (white trainers)
          \– 100% match – time taken: 15 minutes
        %li
          %span.strong
            Return outfit (white trainers)
          \– 100% match - time taken: 10 minutes



  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h2
        Money and happiness - the white trainer effect?

      .article-image.aspect-1
        -image_url = image_path("blog/white-trainers/white-trainers.jpg")
        =image_tag(image_url, alt: "A pair of clean, new, unworn, white tennis shoes.")
        %figcaption
          Photo by
          =link_to('rawpixel.com', 'https://www.freepik.com/free-photo/white-canvas-sneakers-unisex-footwear-fashion_15850233.htm')
          on Freepik

      %p
        Have you ever noticed how you feel when you look down and see those bright white trainers looking so nice and clean?
        I don’t know about you, but I feel just lovely.
        I feel I am well dressed and I feel I am good to go.
        It is always the case no matter what I am doing, but that is not all. 

      %p
        There is definitely something uplifting that happens when you step outside wearing a pair of crisp white trainers
        and a few people have mentioned it but that is not all.

      %p
        There is one other lovely aspect to these beauties.
        Have you ever considered how they might be saving you money?
        If they work so well with everything in your wardrobe, then surely they are a good investment.
        If you only need one pair, then again it’s a really good investment, right?
        It’s all about looking your best and feeling your best at the right price for you.
        Are white trainers bringing more into our lives than we think?
        I wonder if white trainers could be the perfect footwear for a date?
        What would happen if we suddenly gave all that up?

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h2
        Are you ready to give up your white trainers? 

      %p
        It’s time to ask the important questions.
        If you own a pair of white trainers, what do they bring into your life?
        Are they great to wear and are they easy to match to your clothes?
        Do you feel they have saved you money on buying other shoes?
        Do you have less wardrobe stress?
        Do you feel ready to give all that up now?

      %p
        After my little holiday experiment I did some further digging and it turns out that 1 in 5 trainers bought globally are still white,
        and we spend around $15 billion on them around the world.
        My advice is to wear your white trainers all summer if you want to.
        You won't be on your own.
        Wear them all day and all night if they work for you because honestly they still look great.
        So if you still love them, wear them.

  
      %figcaption
        Stats:
        Global white trainer market size from 
        =link_to('Future Market Insights', 'https://www.futuremarketinsights.com/reports/white-sneakers-market')
        and total trainer sales from 
        =link_to('Statista', 'https://www.statista.com/outlook/cmo/footwear/sneakers/worldwide')



  .article-footer.blue
    %h2
      Share the joy
    %p
      Do you own and love a pair of white trainers? If they have never let you down, then share the joy! Send in a picture for my
      %span.strong
        summer wall of happiness.

    %p
      Label your email ‘Trainer joy’ and send it in to
      =link_to('info@neverbeenworn.co.uk', 'mailto:info@neverbeenworn.co.uk?subject=Trainer joy')

    %p
      %span.strong
        I hope you and your white trainers have an amazing summer together, wherever you go and whatever you do!

  .article-section
  

  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }

  -# .article-section.pin-for-later
  -#   .article-text
  -#     %h2
  -#       Pin this article for later!

  -#     %a.pin-for-later-image.pinit#perfect-beach-bag{ :"data-pin-do" => "buttonPin",
  -#               :"data-pin-media" => image_url("blog/white-trainers/5-reasons-white-trainers-hires.jpg"),
  -#               :"data-pin-description" => "5 reasons why we still love white trainers",
  -#               :title => "Pin This Article",
  -#               :class => "pin-it-button",
  -#               :href => "http://pinterest.com/pin/create/button/",
  -#               :rel => "nofollow",
  -#               :target => "_blank",
  -#               "count-layout" => "horizontal",
  -#               :"data-pin-custom" => "true",
  -#               :"to-be-replaced" => "true"}
  -#       -image_url = image_path("blog/white-trainers/5-reasons-white-trainers.jpg")
  -#       =image_tag(image_url, alt: "Pin this article with the image: 5 reasons why we still love our white trainers.")
