-# - content_for :extra_javascript do
-#   =javascript_include_tag "//assets.pinterest.com/js/pinit.js", defer: true, "data-pin-hover": true
-#   =render :partial => "blog/components/update_pinterest_button_text",
-#     :locals => { :"pin_button_ids" => ["pinit-6-basic-needs"] }


.blog-article
  %h2.article-title="The Perfect White Shirt"
  %p.published-date
    October 2023
  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        How to buy the right white shirt for you

      .article-image.aspect-2-3
        -image_url = image_path("blog/white-shirts/white-shirt-on-stool.jpg")
        =image_tag(image_url, alt: "A lady sits on a high stool wearing a balloon-sleeved white shirt and skinny brown trousers.")
        %figcaption
          Photo by
          =link_to('Alina Matveycheva', 'https://www.pexels.com/photo/model-in-white-shirt-and-brown-pants-16821849')
          on Pexels

      %p
        Finding the perfect white shirt can be a real step forward in building your dream wardrobe.
        It can lift an outfit up a level and add that something that is just
        %span.strong
          ‘extra special’
        and it can do it in a way that is simply effortless.
        So why are so many of us so afraid of buying one?

      %h3
        The effortless white shirt?

      %p
        Have you ever seen a white shirt on someone and thought it was just perfect?
        Did you find yourself wondering where they bought it and why it looks so good on them?
        I bet you noticed how well it fit them and how it looked so effortless.
        As part of my
        %span.strong
          ‘build a better wardrobe’
        series, I am taking a deeper look into how you can actually find that perfect white shirt to add to your wardrobe and how you can make it work for you.
        Getting to know the key aspects of buying a timeless classic white shirt will help you find the right one for you and with a little help from my guide, you might find it’s not quite as hard as you thought.
        White shirts are far more versatile than you might think.

      %h3
        The classic white shirt — What you need to know

      %p
        Buying  a crisp white shirt usually means buying better.
        Buying better means it should be a higher quality and therefore a much more considered purchase than normal.
        This is to ensure that you find the right item in the right quality and keep it working for you for longer.
        It’s important to start by thinking about a number of the key aspects like your buying habits and budget.
        Thinking about these now and being honest about them is important, so you don’t waste your money or overspend on the wrong type of shirt.

      %h3
        How to start — Where to wear a white shirt

      %p
        There are many categories to buying a white shirt and you could probably spend the rest of your days thinking about all of them,
        so let’s see if I can help save you some time.
        I have chosen the top 4 categories that will help you get started and get you on the right path a little quicker.
        Remember - take your time through each category, to ensure that you get it right.
        Your perfect white shirt is already out there and waiting for you.
        So let’s get started.


  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        1 — Occasions and purpose

      .article-image.aspect-2-3
        -image_url = image_path("blog/white-shirts/white-shirt-beige-trenchcoat.jpg")
        =image_tag(image_url, alt: "A woman wears a formal white shirt, made less formal by unbuttoning the neck and knotting the shirt at the waistline. She has one hand in the pocket of her tailored pin-striped brown trousers, and finishes the look with a beige trenchcoat.")
        %figcaption
          Photo by
          =link_to('Volodymyr Baranetskyi', 'https://www.pexels.com/photo/woman-in-white-long-sleeve-shirt-and-beige-trench-coat-11675248')
          on Pexels

      %p
        The white shirt comes in all shapes and sizes, so there are plenty to choose from.
        They can be worn for many and most occasions.
        This is why
        %span.italic
          occasion and purpose
        is one of the most important categories to look at first.
        Let’s get a few questions in to really understand what you are looking for.
        Firstly, do you know what type of shirt you have in mind?
        Have you thought about its purpose yet?

      %p
        To try to better understand why you want to buy a white shirt, ask yourself the following two questions:

      %h4
        2 Key questions

      %p
        %ul.no-bullet
          %li
            = succeed " — " do
              %span.strong
                Events
            What type of events do you intend to wear your white shirt to?
          %li
            = succeed " — " do
              %span.strong
                Categories
            How formal are the events?

      %h4
        Events
      %p
        It is important to check that the type of occasions and type of events you intend to wear your shirt to.
        You need to know if this does in fact match with the type of shirt you think you want to buy.
        This will confirm if you are on the right path from the start, especially if you already have a shirt type or style in mind.
        Don’t be worried if you got it slightly wrong, checking now is the best time to correct any miscalculations that you might have made.

      %h4
        Categories
      %p
        Listed below are roughly 4 main categories of events that most people tend to buy white shirts for.
        Take a good look at each and decide which event type best matched your initial reason for wanting to buy a white shirt.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h4
        4 main categories of events vs types of white shirt
      
      %table.summer-hats-coverage-columns
        %thead
          %tr
            %th
              Occasion
            %th
              Category
            %th
              Event Classification
            %th
              Type of event
            %th
              Type of shirt
        %tbody
          %tr
            %td
              Events
            %td
              Formal event
            %td
              Evening events and special occasions
            %td
              Weddings, dinners, etc
            %td
              Fully Tailored
          %tr
            %td
              Work
            %td
              Semi-formal
            %td
              Professional events
            %td
              Meetings, etc
            %td
              Semi tailored 
          %tr
            %td
              Social
            %td
              Smart-casual
            %td
              Social engagements
            %td
              Lunch, days out
            %td
              Soft fit
          %tr
            %td
              Casual
            %td
              Relaxed
            %td
              Personal time
            %td
              Holidays and day trips
            %td
              Loose fit

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        2 — Fabric and fit

      .article-image.aspect-2-3
        -image_url = image_path("blog/white-shirts/white-shirt-business.jpg")
        =image_tag(image_url, alt: "A smartly dressed woman in a formal white shirt buttoned to the neck, hair in a neat pony tail, black glasses and a black pencil skirt.")
        %figcaption
          Photo by
          =link_to('senivpetro', 'https://www.freepik.com/free-photo/business-woman_1368798.htm')
          on Freepik

      %p
        Fabric and fit are the make or break of how your white shirt will look on you.
        If you have bought a shirt once or twice before, do you remember how it fitted you?
        Do you remember what the fabric was like? Do you remember if you had to re-adjust it often?

      %p
        The key to finding the perfect white shirt is also finding the right fabric, fit and finally the right shape for you.
        The perfect fabric is the best quality you can afford and it should not be see-through. So do check this.
        The fabric is made for longevity so it will remain looking good for longer. The perfect fit is going to move with you and not against you.
        This is how you achieve that effortless look.

      %p
        There is no point spending your money on a shirt that is too tight or too loose or that you are constantly readjusting and messing about with all the time.
        This is not the way to get that effortless look.

      %p
        Effortless is all about comfort.

      %p
        You want the fit to match the type of comfort you expect from wearing your shirt.
        Having clothes that fit you in all the right ways and in all the right places in the way that they should. This is the key to the effortless look.

      %p
        Below is my guide to styles and fit with some extra details on suggested fabric types too.
        Your shape should match the style and fit and give you the actual level of comfort you seek.
        
  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %p
        Take a look:
      
      %table.summer-hats-coverage-columns
        %thead
          %tr
            %th
              Body Shape
            %th
              Style
            %th
              Fabric Options
            %th
              Tailoring
        %tbody
          %tr
            %td
              Slim fit
            %td
              Fitted
            %td
              Cotton, silk
            %td
              Fully tailored
          %tr
            %td
              Regular fit
            %td
              Semi-fitted
            %td
              Cotton, cotton-mix or blended
            %td
              Semi tailored
          %tr
            %td
              Large fit
            %td
              Loose fit
            %td
              Linen, cotton, mix or blended
            %td
              Soft or loose tailoring
          %tr
            %td
              Long & large fit
            %td
              Long & loose fit
            %td
              Linen, cotton, mix or blended
            %td
              Soft or loose tailoring

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %p
        There are also some great blended and mixed fabrics available which can give a few more available options and styles and a higher level of comfort.
        Not every retailer has the same sizing guide and measurements though.
        So, it is also a good idea to try on a few different brands and get a good feel for their size guides and true fit.
        Your perfect size may not be your current favourite brand so do check a few others out as well.


  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text

      %h3
        3 — Detail and finish

      .article-image.aspect-2-3
        -image_url = image_path("blog/white-shirts/white-shirt-stitching-details.jpg")
        =image_tag(image_url, alt: "A woman in a tailored collarless white shirt with dynamic stitching details sits looking into the camera with a questioning expression.")
        %figcaption
          Photo by
          =link_to('Dziana Hasanbekava', 'https://www.pexels.com/photo/elegant-asian-woman-touching-face-on-white-background-7626615')
          on Pexels

      %p
        There are many types of details and many different types of finishes available to choose from for your white shirt.
        These range from various button down styles, detailed cuffs and different collar types to final stitching and finishes.
        What details you choose and prefer on your shirt is entirely up to your own taste, preferences and occasion.

      %p
        If you have a preference for interesting detail, then keep it that way, as detail.
        Over-styling or choosing a trend based design on a white shirt can shorten its shelf life as it may go out of style as quickly as it came in.
        You are more likely to get bored of it sooner than you think and so it won’t be part of your main wardrobe for very long, so choose wisely and for the long game.

      %p
        A white shirt is a classic item, it does not date or go out of fashion because it remains stylish and understated and therefore it does not age.
        What does that mean?
        Well it means it will always look good and it can therefore be relied upon at any moment and for any event or occasion.
        Remember, a white shirt is there to support you and your wardrobe and your life, as a pillar or staple item and it’s supposed to be there for you for the long game.


  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text

      %h3
        4 — Cost and care

      .article-image.aspect-2-3
        -image_url = image_path("blog/white-shirts/holding-collar.jpg")
        =image_tag(image_url, alt: "A woman strikes a pose, holding the collar of her tailored white shirt, accessorised by cream chino-style trousers and a thin dark leather belt.")
        %figcaption
          Photo by
          =link_to('Карина Каржавина', 'https://www.pexels.com/photo/confident-woman-in-white-shirt-standing-with-closed-eyes-7945660')
          on Pexels

      %p
        The way to look at cost is to think about how long you would like the shirt to last and what you consider affordable to you.
        Setting a ceiling price might be the best option, especially if you are managing other costs in your life too.
        Think about the lowest price you would like your shirt to cost and the top price you think you should sensibly pay for good quality.
        Next think of the brands you are most likely to look at and buy from that fit these category. 

      %p
        Try a new brand that you might not have thought of before, just to see what their sizing guide and fit it like.
        You never know, you might be surprised and find just what you were looking for. 

      %p
        Once you think you have found your perfect shirt you want it to last and be a part of your wardrobe for as long as possible.
        So taking care of your shirt is a big part of making this happen, so checking the washing instructions before you make your purchase is a good idea.
        Make sure you can handle the caring, washing and ironing guidelines.
        There is no point buying a shirt that needs dry cleaning or hand washing after each use,
        if your budget or schedule does not allow for regular trips to the dry cleaners, or you don’t have the time or inclination to do a regular hand wash.
        There is just no point, so check the label carefully and be sure you can care for your shirt.
        If you can keep it looking good in your wardrobe, it will always look good when you put it on.

      %p
        If you consider all the points above carefully then you are more likely to get it right and if you get it right, your white shirt is more likely to become a staple item in your wardrobe.
        If you own more staple items in your wardrobe them you have more items that work for you and that you can finally rely on.
        Getting ready just became a whole lot easier.
        This is where you really start to save time and look effortlessly amazing every time and this ladies, is how it’s done.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text

      %h2
        How to wear a perfect white shirt

      %p
        Buying the perfect white shirt can add that something special to your wardrobe, but what if you are not sure how to wear it?
        Read my
        =link_to('quick guide on how to wear a white shirt', article_path(id='white_shirt_how_to_wear_it'))
        and find out how to wear your new white shirt with effortless confidence.


  .article-section

  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }

  -# .article-section.pin-for-later
  -#   .article-text
  -#     %h2
  -#       Pin this article for later!

  -#     %a.pin-for-later-image.pinit#perfect-beach-bag{ :"data-pin-do" => "buttonPin",
  -#               :"data-pin-media" => image_url("blog/white-trainers/5-reasons-white-trainers-hires.jpg"),
  -#               :"data-pin-description" => "5 reasons why we still love white trainers",
  -#               :title => "Pin This Article",
  -#               :class => "pin-it-button",
  -#               :href => "http://pinterest.com/pin/create/button/",
  -#               :rel => "nofollow",
  -#               :target => "_blank",
  -#               "count-layout" => "horizontal",
  -#               :"data-pin-custom" => "true",
  -#               :"to-be-replaced" => "true"}
  -#       -image_url = image_path("blog/white-trainers/5-reasons-white-trainers.jpg")
  -#       =image_tag(image_url, alt: "Pin this article with the image: 5 reasons why we still love our white trainers.")
