- content_for :extra_javascript do
  =javascript_include_tag "//assets.pinterest.com/js/pinit.js", defer: true, "data-pin-hover": true
  =render :partial => "blog/components/update_pinterest_button_text",
    :locals => { :"pin_button_ids" => ["pinit-6-basic-needs"] }

.blog-article
  %h2.article-title="Should you still be wearing your white trainers?"
  %p.published-date
    June 2023
  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated

    .article-text
      .article-image.aspect-1
        -image_url = image_path("blog/white-trainers/white-trainers-tying-laces.jpg")
        =image_tag(image_url, alt: "A woman in a white hoodie, black leggings, and white trainers ties her shoe lace.")
        %figcaption
          Photo by
          =link_to('Holiak', 'https://www.freepik.com/free-photo/young-woman-doing-fitness-outdoor_26164623.htm')
          on Freepik

      %p
        If you own a pair of white trainers  you might be wondering if they are still in fashion. 

      %p
        There is something great about wearing a pair of these perfectly clean white trainers, but has their time run out?

      %h3
        Are people still wearing white trainers?

      %p
        I recently stopped a couple of people in the street and asked them why they wore white trainers and here is what they both said.

      %p
        Answer 1 — ‘They always look good and they go with everything I wear’

      %p
        Answer 2 — ‘I just feel good wearing them’

      %p
        I wonder if in our new more balanced life, we have grown to be more smart/casual than we were before and these trainers just fit right in with that.

      %p
        Overall I got the general feeling that wearing white trainers was definitely still in and that it really worked for the people I talked to.

      %p
        Here are the top 6 reasons why people are still wearing white trainers:

  .article-section
    .quick-guide-container.quick-guide-beach
      .quick-guide.quick-guide-wide
        %h4.quick-guide-title
          6 great reasons we are still wearing white trainers
        %ol
          %li
            %span.strong
              They look good 
            \– clean and crisp every time
          %li
            %span.strong
              They go with everything
            \– smart and casual
          %li
            %span.strong
              Perfect for summer
            \– they go with all my summer outfits
          %li
            %span.strong
              Day or night
            \– you can wear them at any time of day or night
          %li
            %span.strong
              Classic
            \– they support you in looking your best
          %li
            %span.strong
              Easy style
            \– they match with everything. It really is that easy!

  

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        Are white trainers still in fashion then?

      .article-image.aspect-1
        -image_url = image_path("blog/white-trainers/white-trainers-jeans.jpg")
        =image_tag(image_url, alt: "A pair of cropped slim-fit blue jeans accessorised with white trainers.")
        %figcaption
          Photo by
          =link_to('rawpixel.com', 'https://www.freepik.com/free-photo/white-canvas-sneakers-women-s-shoes-apparel-shoot_15438413.htm')
          on Freepik

      %p
        White trainers in general have been around for decades and have always had a positive vibe about them.
        How many sports can you associate with them?
        How about tennis or basketball?

      %p
        So, I don’t think they have ever been out of fashion, it’s just gone up a bit these days.
        The other day I sat outside a café and watched how many people went past in white trainers and how they were wearing them.
        Honestly, there were tonnes.


  .article-section
    .article-text
      %p
        These were the top 5 styles that I saw and loved:

    .quick-guide-container.quick-guide-beach
      .quick-guide.quick-guide-wide
        %h4.quick-guide-title
          5 most popular summer looks for white trainers
        %ol
          %li
            %span.strong
              Maxi dress 
            \– casual with a touch of summer comfort
          %li
            %span.strong
              Cropped jeans
            \– casual summer chic
          %li
            %span.strong
              Leggings
            \– casual and sporty
          %li
            %span.strong
              T-shirt dress
            \– fitted or loose, both work
          %li
            %span.strong
              Pencil skirts 
            \– sporty look

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %p
        Maybe it’s this positive and active vibe that we like and has spilled out onto the high street.
        There is possibly another reason why we have grown to love them so much.
        They are easy to deal with. You just have to keep them clean.
        They will always match and they will always look good.
        They are just less hassle and one less thing to think or worry about.
        They are reliable 100% and I don’t think it matters what style you choose either.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h2
        White trainers on holiday

      .article-image.aspect-3-4
        -image_url = image_path("blog/white-trainers/leaning-on-railing.jpg")
        =image_tag(image_url, alt: "Leaning on a railing at the bottom of some wide cobbled steps in a European street, wearing a cool summery outfit with a straw hat and white trainers.")
        %figcaption
          Photo by
          =link_to('diana.grytsku', 'https://www.freepik.com/free-photo/pretty-young-girl-hat-walks-stair-outdoors-summer-street_10367483.htm')
          on Freepik

    .article-text
      %p
        I recently went on holiday and took only two pairs of shoes with me.
        Yes, you just read that right.
        I went away for 7 days and took only two pairs of shoes in my luggage.
        It was more of an experiment really.
        My theory was that if white trainers really do go with everything then technically all I needed was one pair, right?
        I also wanted to see what happened to my luggage if had only one type of footwear with me.
      %p
        Would I end up taking less luggage?
        Would I have enough shoes?
        Well the answer is yes to both!
        I wore my white trainers with everything.
        It made getting ready much easier and I always felt well dressed in the day and at night.
        So, I will still be wearing my white trainers all summer, day or night and I can highly recommend it on holiday too.

      %p
        Just in case you wondered, my second pair of shoes were flip flops.

      %h3 
        Less was definitely more

      %p
        My white trainers became the key to packing less for my holiday.
        They literally went with everything.
        They also saved me a lot of time when getting ready.
        I think I spent less time deciding what to wear each day and more time at the beach because of that. 

      %p
        Here is how I generally wore them on holiday and how long it took me to choose my outfit.

      %h4
        Holiday outfits - match or no match

      %ol
        %li
          %span.strong
            Departure outfit
          \– 100% match – time taken: 10 minutes
        %li
          %span.strong
            Beach dress
          \– 100% match – 5 minutes
        %li
          %span.strong
            Night outfits
          \– 100% match – 15 minutes
        %li
          %span.strong
            Return outfit
          \– 100% match - 10 minutes



  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h2
        White trainers  - the secret happiness shoes

      .article-image.aspect-1
        -image_url = image_path("blog/white-trainers/white-trainers.jpg")
        =image_tag(image_url, alt: "A pair of clean, new, unworn, white tennis shoes.")
        %figcaption
          Photo by
          =link_to('rawpixel.com', 'https://www.freepik.com/free-photo/white-canvas-sneakers-unisex-footwear-fashion_15850233.htm')
          on Freepik

      %p
        There is something uplifting that happens when you step outside wearing a pair of crisp white trainers
        and a few people have mentioned before that they think it doesn’t really matter what style you wear.

      %h3
        So what is the white trainer effect?

      %p
        If you own a pair have you ever noticed how you feel when you look down and see those bright white trainers looking so nice and clean?
        I don’t know about you, but I feel just lovely.
        I feel I am well dressed and I feel I am good to go.
        It is always the case no matter what I am doing, but that is not all.

      %p
        How many times have you spotted someone wearing a really nice pair of white trainers and tried to make a mental note of their outfit too?
        It’s all about looking your best and feeling your best.
        I wonder if white trainers could be the perfect footwear for a date?
        There is enough stress in trying to present your best self on a date at the best of times, so one less stress must be a good thing.
        White trainers might just be giving up more positivity in our lives than we think.
        What would happen if we suddenly gave all that up?

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h2
        Are you ready to give up your white trainers? 

      %p
        If you own a pair of white trainers, do they bring joy into your life?
        Are they great to wear and they are easy to match to your clothes?
        Do you feel ready to give all that up yet?
        Do you know what you would wear instead?
        Would the change bring you more joy?

      %p
        After my little holiday experiment and given that 1 in 5 trainers bought globally are still white, and we spend around $15 billion on them around the world,
        my advice is to wear your white trainers all summer if you want to.
        You won't be on your own.
        Wear them all day and all night if they bring you joy because honestly they still look great.
        They always do, so if you still love them, then wear them.

  
      %figcaption
        Stats:
        Global white trainer market size from 
        =link_to('Future Market Insights', 'https://www.futuremarketinsights.com/reports/white-sneakers-market')
        and total trainer sales from 
        =link_to('Statista', 'https://www.statista.com/outlook/cmo/footwear/sneakers/worldwide')



  .article-footer.blue
    %h2
      Share the joy
    %p
      Do you own and love a pair of white trainers? If they have never let you down, then share the joy! Send in a picture for my
      %span.strong
        summer wall of happiness.

    %p
      Label your email ‘Trainer joy’ and send it in to
      =link_to('info@neverbeenworn.co.uk', 'mailto:info@neverbeenworn.co.uk?subject=Trainer joy')

    %p
      %span.strong
        I hope you and your white trainers have an amazing summer together, wherever you go and whatever you do!

  .article-section
  

  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }

  -# .article-section.pin-for-later
  -#   .article-text
  -#     %h2
  -#       Pin this article for later!

  -#     %a.pin-for-later-image.pinit#perfect-beach-bag{ :"data-pin-do" => "buttonPin",
  -#               :"data-pin-media" => image_url("blog/white-trainers/5-reasons-white-trainers-hires.jpg"),
  -#               :"data-pin-description" => "5 reasons why we still love white trainers",
  -#               :title => "Pin This Article",
  -#               :class => "pin-it-button",
  -#               :href => "http://pinterest.com/pin/create/button/",
  -#               :rel => "nofollow",
  -#               :target => "_blank",
  -#               "count-layout" => "horizontal",
  -#               :"data-pin-custom" => "true",
  -#               :"to-be-replaced" => "true"}
  -#       -image_url = image_path("blog/white-trainers/5-reasons-white-trainers.jpg")
  -#       =image_tag(image_url, alt: "Pin this article with the image: 5 reasons why we still love our white trainers.")
