-# - content_for :extra_javascript do
-#   =javascript_include_tag "//assets.pinterest.com/js/pinit.js", defer: true, "data-pin-hover": true
-#   =render :partial => "blog/components/update_pinterest_button_text",
-#     :locals => { :"pin_button_ids" => ["pinit-6-basic-needs"] }


.blog-article
  %h2.article-title="Jumpers: A Winter Wardrobe Essential"
  %p.published-date
    October 2023
  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        Buying a winter jumper that will last until spring

      .article-image.aspect-2-3
        -image_url = image_path("blog/winter-jumpers/red-jumper.jpg")
        =image_tag(image_url, alt: "A lady relaxes on a low stool in a dark red jumper.")
        %figcaption
          Photo by
          =link_to('Racool_studio', 'https://www.freepik.com/free-photo/beautiful-girl-red-sweater_10012768.htm')
          on Freepik

      %p
        The moment you know it’s winter is the moment you realise just how much you need a winter jumper.
        It starts to creep up on you over a few weeks and before you know it, you are reaching for an extra layer to keep that chill off your shoulders.

      %p
        But have you checked your winter jumper collection yet?
        What did you find?
        Are last year’s winter jumpers looking a little more Sunday couch day than stylish chic?
        Are you trying to convince yourself that most of them are still okay, when you know they are not?
        If this is you then read on.

      %p
        As part of my
        %span.strong
          winter wardrobe essentials
        I am getting cozy and stylish with buying winter jumpers.
        I am here to help guide you on how to buy the right one for you and how to keep it in good shape all winter long.

      %h3
        Top tips and essentials for warm and stylish jumpers

      %p
        Adding a new winter jumper to your current wardrobe is something you need to get right well before the winter weather kicks in.
        Do you know why?
        Because the right jumper will support you and your wardrobe all the way through to spring.
        So, it’s important to give yourself the time to make the right choice now and be sure that any jumper that catches your eye is really up to the job.

      %p
        So how do you know if a new jumper is going to work for you and your wardrobe and not let you down mid-winter?
        Where do you start and what do you look for? 

      %h3
        How to select the best winter jumper

      %p
        Keeping you warm throughout the colder months is just the start of any jumper-buying process.
        So when should you really begin to think about your jumper collection?
        Jumpers should become your new focus as soon as you see the weather starting to change.
        Or as soon as you feel that first chill and reach for one.
        Checking on your jumper collection at this point will give you enough time to truly get ready for winter and keep you ahead of the game.
        A jumper has a lot to live up to.
        As well as keeping you warm, it has to look good and lift your mood when it's dark and cold outside.
        It has to keep you feeling cozy and comforted whilst you wait for all that winter weather to pass.

      %p
        It’s a good idea to start early.
        Because if you pick the right one, you can enjoy lots of cozy months together and you know you will feel lovely and warm all winter.
        Let's take a look at the most important feature to get you started.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        FABRIC AND KNIT - KNOW YOUR WOOLS

      .article-image.aspect-4-5
        -image_url = image_path("blog/winter-jumpers/cream-jumper-cross-legged.jpg")
        =image_tag(image_url, alt: "A lady sits cross-legged on an armchair. She wears a cream cashmere jumper with a high loose neck and sits on a warm knitted throw.")
        %figcaption
          Photo by
          =link_to('ArthurHidden', 'https://www.freepik.com/free-photo/smiling-lady-smart-trendy-wear-is-sitting-armchair-smiling-sitting-relaxing-atmosphere-indoors_13085112.htm')
          on Freepik

      %p
        There is one main reason why winter jumpers are made of wool.
        It keeps you warm.
        That is literally it!
        Wool’s natural construction is designed with this one main purpose in mind.
        To trap in heat.
        Take a look at sheep, just before they are shorn they look pretty snug and this is what it is all about.

      %p
        Wool is so warm naturally, but it is then woven in such a way that it traps even more heat and this is basically why we love it in winter.
        Did you know that there are different grades of wool too?
        Did you know that there are even different weights of wool?
        These attributes all go to define the quality of the jumper you will end up with.

      %p
        So, do you know what wool to look for and what to avoid?
        Do you know your loose knits from your tight weaves, or your chunky knits from your fine ones?
        What about those soft and luxurious knits that we all love the feel of?
        Do you know which fine animal they came from?

      %p
        Well, to help you understand a little more about the different types of wool, I have added a simple chart below.
        This covers the top and most sought-after wool, as well as the most popular ones and the standards that most of these wools are graded by.

      %p
        So, let's take a look at what type of wools to look out for.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text

      %h4
        Types of wool used in jumpers

      %table.winter-article
        %thead
          %tr
            %th
              Type of jumper
            %th
              Animal type
            %th
              Grade
            %th
              Quality
            %th
              Price range
        %tbody
          %tr
            %td
              Merino
            %td
              Australian sheep
            %td
              Extremely soft
            %td
              Finest
            %td
              Luxury
          %tr
            %td
              Mohair
            %td
              Angora goat
            %td
              Very soft
            %td
              Fine
            %td
              Mid-range
          %tr
            %td
              Angora
            %td
              Angora rabbit
            %td
              Extremely soft
            %td
              Finest
            %td
              Luxury
          %tr
            %td
              Lamb’s wool
            %td
              Young lambs
            %td
              Soft
            %td
              Fine
            %td
              Mid-range
          %tr
            %td
              Pashmina
            %td
              Goat
            %td
              Extremely soft
            %td
              Finest
            %td
              Mid-range
          %tr
            %td
              Vicuna
            %td
              Wild vicuna
            %td
              Extremely soft
            %td
              Finest
            %td
              Luxury
          %tr
            %td
              Sheep’s wool
            %td
              Adult sheep
            %td
              Slightly coarse
            %td
              Fine
            %td
              Mid-range
          %tr
            %td
              Cashmere
            %td
              Changra goat
            %td
              Very soft
            %td
              Finest
            %td
              Luxury

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        SIZE AND COMFORT - HOW TO GET THE FIT RIGHT

      .article-image.aspect-2-3
        -image_url = image_path("blog/winter-jumpers/big-cream-jumper-snow.jpg")
        =image_tag(image_url, alt: "A lady sits on a blanket on the snow-covered steps outside her house. She wears a warm oversized cream jumper with a high neck, long socks to match and warm suede house shoes.")
        %figcaption
          Photo by
          =link_to('prostooleh', 'https://www.freepik.com/free-photo/close-up-portrait-lady-white-sweater-sitting-by-home-terrace_13181721.htm')
          on Freepik

      %p
        Jumpers are no longer in the one size fits all category.
        They have not been for quite some time, so there is no excuse for still trying to get some wear out of that ill-fitting, overstretched one you still have in your wardrobe.
        Unless it is for Sunday couch day, right?
        Jumpers now come in all shapes and flattering sizes and there are many levels of comfort too.
        So it’s important to build your knowledge to save you buying the wrong type of wool for you.
        If anything, quality has not been reduced in the process, and affordability has improved greatly across the board.
        So it’s a win-win for everyone.

      %p
        It’s time to ask a good question.
        How do you use your current favourite jumper?
        It's important to know how you view it.
        Do you use it as more of a reason to cover up and hide in winter?
        Do you think of it as more of an opportunity to be comfortable than stylish?
        A good jumper in the right size will give you heaps of confidence and comfort all in one.
        The key is to know what style to go for and how to wear it.
        Do you think you are wearing the right size jumper?
        Are your jumpers the right size to complement your frame best?
        I have created a mini guide so you can check how you are doing.

      %p
        So, here are my quick tips on jumpers and shaping:

      %h4
        Wearing the right size jumper for your shape - a quick guide

      %p
        %ul
          %li
            Small frames - go for more fitted and shorter knits.
            These will even out your proportions and elongate legs from the waist down.
            Wear them with jeans or shorter length skirts.
          %li
            Medium frames – mid lengths can really work for medium frames and comfortably cover a mid-size waist, if you prefer to.
            Wear knee length boots and leggings or mid length skirts for a good balance to your overall frame.
          %li
            Larger frames – longer lengths will elongate the upper frame proportionally and give more overall balance.
            One option is to wear them as dresses with tights.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        COLOUR AND SHAPE - KNOWING WHAT SUITS YOU AND WHY 

      .article-image.aspect-2-3
        -image_url = image_path("blog/winter-jumpers/city-knitwear.jpg")
        =image_tag(image_url, alt: "A lady wears a loose cream jumper with texture coming from the contoured lines of the knit. It is a sunny autumn day so she wears sunglasses and carries her long trenchcoat.")
        %figcaption
          Photo by
          =link_to('standret', 'https://www.freepik.com/free-photo/holds-coat-hand-young-beautiful-girl-warm-clothes-have-walk-city-her-weekends-time_9819579.htm')
          on Freepik

      %p
        When it comes to colour we all have a favourite that we go for.
        I call it the 'safe colour’, and every wardrobe has one.
        Do you know what your safe colour is?
        Maybe you have never thought about it, or are not really sure.
        Most people choose darker colours, because they are more camouflaging.
        Try this test out on your wardrobe, to find out what your safe colour is.  

      %p
        Take a look in your wardrobe and tell me what you see.
        You are looking for the most evident colour in your wardrobe.
        The colour that stands out the most is probably your safe colour.
        Black is the most popular safe colour, for obvious reasons.
        It goes with everything and it's flattering and kind to any shape or size.
        But, in the midst of winter, you might feel like you want something a little uplifting, something a little brighter in colour, or with a touch more elegance and style.
        Something to give you that soft warm hug that only a good winter jumper can give.
        Maybe you have always thought that winter colours need to be darker or a bit solemn, but there are quite a few brighter winter colours to choose from.
        Try this simple exercise.

      %p
        What colours come to mind, when you think of warmth?
        Is it a nice yellow sun or a cozy warm burgundy?
        Maybe it’s a nice red hot fire or a soft grey blanket?
        What about a nice hot bath with lots of bubbles?
        How many different colours did you see?

      %p
        How we see colour is important to how it makes us feel.
        There is burgundy, grey, black, purple, red, pink, cream, blue, green, white and all the different shades in between and they all connect to a certain emotion for us personally.
        So think about the connection to colour that you have in winter.
        How do you view colours for winter jumpers now?
        Will you think about finding a lovely new colour to try now?

      %p
        If you try a new colour, the key is to still make sure that it does still match up with the rest of your wardrobe.
        There is no point in buying a new colour that does not complement anything you plan on wearing over the winter months.
        It will just sit at the back of your wardrobe because you don’t know what to wear it with.
        So, use your current wardrobe as a base and foundation.
        Start with what you know, and build from there.

      %h4
        What shape is going to be right for you?

      %p
        Jumpers are not exactly considered fine tailoring are they?
        But there is a craft involved so you may as well go for some level of quality.
        It may appear that shape and size are often an afterthought when it comes to jumpers.
        You might also think that most people go for something big and baggy and leave it at that.
        But, let me ask you a quick question.
        How often have you seen a well-shaped jumper on someone you passed by and you wondered where they bought it?

      %p
        Some wools are so fine and soft that they deserve nothing less than a perfect fit.
        Some wools are so chunky that it doesn’t matter what shape they are.
        So how do you decide if fine and fitted is for you?
        The best way to look at this is to think about the type of occasions you often wear a nice top for.
        A fine jumper is no different.

      %p
        You might not want to go out all night in a fine knit, but
        a special occasion like a nice family dinner is a perfect setting for one.
        Have you ever considered that before?
        A special occasion in the wintertime is also a perfectly uplifting treat and therefore very deserving of a lovely soft knit.

      %p
        Thinking about occasions and purpose a little more will guide you to understand when and where you might wear a nice fine jumper
        and will help you understand if you should start to invest in finding one.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text

      %h3
        CUFFS, NECKLINE AND OTHER EMBELLISHMENTS

      .article-image.aspect-4-5
        -image_url = image_path("blog/winter-jumpers/grey-knit-sleeves.jpg")
        =image_tag(image_url, alt: "A lady wears a chunky pale grey woolen jumper with an open-knit jersey texture in the body and richly textured sleeves looking like interlocking tubes of yarn.")
        %figcaption
          Photo by
          =link_to('ansiia', 'https://www.freepik.com/free-photo/inside-portrait-adorable-lovely-lady-with-blond-hair-wearing-knitted-pullover-is-posing-isolated-background-with-romantic-smile-beautiful-lady-is-posing-during-photoshoot_26503032.htm')
          on Freepik


      %p
        Details on jumpers are not to be sniffed at.
        The skill required to coiffure any type of wool into a stylish cuff, or sleeve is something to be appreciated.
        I have seen sleeves that were such a work of art that you would never imagine they were made out of a simple ball of wool.
        So, how do you know what is considered a good amount of detail and what is not?

      %p
        It's time to talk about realistic embellishment now.
        Have you ever taken the time to think about the subject before?
        Unrealistic embellishment has been the root cause of many wasted purchases for quite some time.
        Why is this?
        The specific locations of any embellishment on a jumper can determine the level of comfort you have in wearing it and the reality of how often you will actually wear it.
        Does this make sense?

      %p
        A high level of embellishment may look amazing on first sight, but in reality if it is in inconvenient places, then it may not be that comfortable to wear.
        This is a common mistake and many have made it.
        What an uncomfortable jumper does is limit the amount of use it gets and the value you get from buying it in the first place.
        So, my advice would be to buy with caution if you're not used to wearing a heavily embellished jumper and don’t be enamoured by over-embellishment or instantly fall in love with something because it that looks like nothing you have ever seen before.

      %p
        If you do want a highly embellished knit to wear, then make sure that it is comfortable enough so you can wear it for a number of hours and be sure that you can keep the embellishment looking as lovely as it did when you first saw it in the store.
        A safe choice would be to start with a good simple and well-made jumper that has little or no embellishment at all and see how you go.
        But in case you do see something that you instantly fall in love with, then thoroughly check on the type of embellishment or detail and how intricate it appears to be.
        You could also look for embellishment that is a little more subtle.
        Like an embellished cuff area or a nice styled neckline.
        Less is definitely more here.
        It’s more manageable for sure.
        So choose wisely ladies.

      %h4
        1-2-3 step guide on buying with embellishment

      %p
        It's always hard not to be impressed by fine elaborate details, but I would always advise to err on the side of caution here.
        Why?
        Because what might look delightful in the store might not fit quite so well in your life.
        What does this mean exactly?
        Well, let me explain.
        The level of detail comes partly down to three things: your day to day taste, your expected frequency of wear, and your ability to care.
        Highly embellished jumpers may look pretty in the store, but may not be quite as practical as you think for everyday wear.
        To help you understand in a little more detail I have a 1-2-3 step guide that breaks down the key areas to consider and explains why they are so important.

      %p
        Lets go through the three points in more detail.

      %h5
        1.Your day to day comfort

      %p
        It is better to be realistic about your comfort.
        Do you think you will wear a highly embellished jumper every week?
        Is this going to be practical for you and comfortable in your daily tasks?
        Or are the embellishments going to be uncomfortable or get in the way?

      %h5
        2.Your expected frequency of wear

      %p
        This is where you have to be really honest about what you expect.
        High expectations can lead to a bad purchase and even wasted money.
        If you expect to wear a jumper weekly, then it might be better to go for something that will stand up to a frequent wearing schedule.
        Delicate embellishments don’t usually keep so well in heavy wear situations.
        So be careful and make sure that your expected wear schedule matches with the delicacy of your jumper’s embellishment.

      %h5
        3.Your ability to care
      
      %p
        This is your ability and willingness to care for your jumper on a regular basis.
        Most delicate or highly embellished jumpers need special care.
        They made need hand washing and delicate air drying or even a dry cleaning.
        So, be realistic about what you are prepared to do to care for your delicate jumper.
        Are you going to be able to keep good and regular care of it whilst you wear it weekly or very often?
        Are you really likely to hand wash it or take it to the dry cleaners and go get it again every week?
        Do you have the time or budget for either of these options?

      %p
        So to recap, do be realistic and think about your expected frequency of use and wear and also the level of care that you can offer to your jumper during use. 

      %p
        To understand more on care take a look at my cost of care section below. 

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text

      %h3
        COST OF CARE – KNOW YOUR CARE CAPABILITIES AND LIMITS

      .article-image.aspect-2-3
        -image_url = image_path("blog/winter-jumpers/brown-wool-jumper.jpg")
        =image_tag(image_url, alt: "A lady stands on a pebble beach wearing a pale brown waffled woolen jumper.")
        %figcaption
          Photo by
          =link_to('Holiak', 'https://www.freepik.com/free-photo/pretty-young-lady-cozy-wear-near-sea_27685821.htm')
          on Freepik

      %p
        Caring for wool can be a little bit different.
        It’s quite a delicate and a natural fibre at the end of the day, so it sometimes needs a little more care and consideration than a standard 60-degree wash followed by a fast spin cycle and speed dry.
        Do you have a jumper that is a bit bothersome when it comes to washing it?
        Do you find it usually spends anything up to six months at the bottom of the washing basket waiting to be washed and only a month in the wardrobe waiting to be worn?

      %h4
        Money guilt cycle

      %p
        The true cost of care is not just about your money, it's about your time too.
        If you already find yourself putting in more time to keep a jumper clean than time spent wearing it, then this is not the right jumper for you and your lifestyle.

      %p
        But what about the original cost?
        Have you reconsidered that side as well?
        I would like to ask you a few questions about it.
        Did you overspend on this jumper?
        Did you fall in love with it as soon as you saw it?
        Was it more than you usually pay for a winter jumper?
        Then you may have found yourself stuck in what I call a ‘money guilt cycle’.

      %p
        Did you buy a jumper that fits this description?
        Do you still have this jumper?
        Do you wash it, only when you can be bothered?
        Do you wear it less and less now?
        Has the cost of care lessened the enjoyment of wearing this item?
        Because you may have spent more money on it than you normally would have done, you might be keeping it because of the money guilt.
        Are you reminded of that money guilt every time you see your jumper sat at the bottom of the washing basket, waiting to be washed again?
        This is the money guilt reminder setting in.

      %p
        My advice would be to sell it, learn from the lesson and buy better next time, and don’t be fooled by fabulous-looking knitwear that costs the earth but has no realistic way of cleaning and caring for it.

      %p
        Buying better should always include being able to easily care for an item.
        Always check the washing instructions before you part with any cash.
        %span.strong
          This is my golden rule.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text

      %h3
        BRANDS AND BUDGETS- HOW MUCH TO SPEND AND WHEN IT’S REALLY WORTH IT

      .article-image.aspect-4-5
        -image_url = image_path("blog/winter-jumpers/mustard-jumper-fashion.jpg")
        =image_tag(image_url, alt: "A lady wears a slim fitted mustard jumper under a zipped jacket with a pencil skirt.")
        %figcaption
          Photo by
          =link_to('javi_indy', 'https://www.freepik.com/free-photo/portrait-fashion-girl-cute-outdoors_1069659.htm')
          on Freepik

      %p
        I have left this section until last for a very good reason.
        Do you know what that reason might be?
        I felt it was important to cover the ‘cost of care’ before covering the subject of ‘brands and budget’.
        Why? Because care and ‘cost of care’, can determine which brands you might go for.

      %p
        So how does this work?
        Some brands always sell ‘easy care’ items and some brands may sell delicate items that you know are going to require more time, money, and effort to keep clean.
        So, understanding the cost of care first was important to help you understand your brand choices and budgeting for extra care if needed.
        Do you already have a favourite brand? How often do you check the care label before you buy an item from them?
        It is with every purchase?
        Is it occasionally or is it never?
        Or do you already know and trust the care requirements of the brand?

      %p
        We already know now that not checking the care label before you buy a higher priced wool jumper could cost you dearly later on.
        Do you remember the item I mentioned in cost of care?
        The one that is always sat at the bottom of the wash basket waiting to be washed because it needs extra care?

      %p
        This is what can happen when you don't check the wash label first or you don't know the general care guide of your favourite brand.
        To stop this happening, I like to use the following checklist against a brand, so I don’t get carried away and make a bad high-maintenance choice.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h4
        Checklist when choosing a jumper

      %table.winter-article
        %thead
          %tr
            %th
              Category
            %th
              What to look for
            %th
              What to avoid
        %tbody
          %tr
            %td
              Cost
            %td
              A comfortable price to pay
            %td
              Overpaying
          %tr
            %td
              Shape
            %td
              Good for your body shape
            %td
              Uncomfortable fits
          %tr
            %td
              Care
            %td
              Easy to clean and care for
            %td
              Dry clean only
          %tr
            %td
              Styling
            %td
              The right amount for you
            %td
              Over styled
          %tr
            %td
              Identity
            %td
              Fits with your current style
            %td
              One off or short lived trends
          %tr
            %td
              Sizing
            %td
              Good fit on body and arms
            %td
              Too large, or small
          %tr
            %td
              Colour
            %td
              Matches well with your clothes
            %td
              Experimental combinations
          %tr
            %td
              Quality
            %td
              Will last more than one season
            %td
              Poor quality that won’t last

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %p
        Life is constantly changing and so are brands.

      %p
        Your brand loyalty is down to your own personal taste and style.
        Budgets are also going to vary.
        So, how do you determine where to look?
        I would stick with your brand loyalty, if it constantly serves you well.
        But I would also never pass up the chance to take a look at what others have to offer.

      %p
        Brand styles can constantly change to keep up with trends.
        Designers also move on, as they carve out their designing career and build on their experience.
        So, don’t get stuck in a rut and always assume that a brand still stacks up for both you and your current needs.

      %p
        Every now and then it’s a good idea is to check on how your favourite brand measures up against other brands and what they are offering in a particular season.
        If you see something you like elsewhere, there is no harm in taking a closer look.

      %p
        Remember you are investing in yourself and your wardrobe first, and the brand second. 


  .article-section

  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }

  -# .article-section.pin-for-later
  -#   .article-text
  -#     %h2
  -#       Pin this article for later!

  -#     %a.pin-for-later-image.pinit#perfect-beach-bag{ :"data-pin-do" => "buttonPin",
  -#               :"data-pin-media" => image_url("blog/white-trainers/5-reasons-white-trainers-hires.jpg"),
  -#               :"data-pin-description" => "5 reasons why we still love white trainers",
  -#               :title => "Pin This Article",
  -#               :class => "pin-it-button",
  -#               :href => "http://pinterest.com/pin/create/button/",
  -#               :rel => "nofollow",
  -#               :target => "_blank",
  -#               "count-layout" => "horizontal",
  -#               :"data-pin-custom" => "true",
  -#               :"to-be-replaced" => "true"}
  -#       -image_url = image_path("blog/white-trainers/5-reasons-white-trainers.jpg")
  -#       =image_tag(image_url, alt: "Pin this article with the image: 5 reasons why we still love our white trainers.")
