-# - content_for :extra_javascript do
-#   =javascript_include_tag "//assets.pinterest.com/js/pinit.js", defer: true, "data-pin-hover": true
-#   =render :partial => "blog/components/update_pinterest_button_text",
-#     :locals => { :"pin_button_ids" => ["pinit-6-basic-needs"] }


.blog-article
  %h2.article-title="Your Perfect Winter Scarf"
  %p.published-date
    October 2023
  .article-section.article-section-right-image.text-first.article-section-with-quote.article-half-page-image-floated

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        Top 5 key features of buying the perfect scarf to get you through winter

      %p
        To help you save time this winter and help you buy the right essentials.
        I am bringing you my guide to buying a winter scarf the right way.

      %h3
        Winter wardrobe essentials

      .article-image.aspect-2-3
        -image_url = image_path("blog/winter-scarves/pale-pink-matching-knits.jpg")
        =image_tag(image_url, alt: "A lady smiles in her chunky soft cable-knit jumper, scarf and hat combo.")
        %figcaption
          Photo by
          =link_to('Freepik', 'https://www.freepik.com/free-ai-image/person-holding-cup-coffee_59583824.htm')

      %p
        Getting winter-ready is a huge part of surviving the cold season.
        The moment October ends, you know winter is well on its way.

      %h3
        Wrapping up in style and comfort

      %p
        So are you ready to face the sudden drop in temperature?
        Do you feel prepared for the winter chill?
        If not, then here is one sure way to get ready and that is with a nice warm winter scarf.

      %p
        A good chunky women’s winter scarf is going to be there for you when you have to go outside.
        It’s going to keep warm and it’s going to help get you from A to B in bad weather.

      %p
        A good cold weather scarf will keep you wrapped up and cozy all the way home.
        But it has to be the right one.

      %p
        The right scarf needs to serve you well and keep you warm no matter what the weather.
        So, if last year’s scarf looks a bit more dragged through a hedge than ready to protect you then maybe it’s time to think about finding a new one.
        So, how do you go about looking for a new winter scarf one and how do you find the right one for you, that will last and is a stylish winter scarf designed to match you and your wardrobe, all the way through to spring?

      %p
        As part of my
        %span.strong
          ‘build a better wardrobe’
        series I am here to help you find that perfect scarf just in time and before the bad weather really kicks in.
        If you want to get through the winter months in soft and cozy warmth and style, even if you are looking for something affordable, fashionable, and long-lasting then stay with me and keep reading.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        Winter scarves — the basics of buying and bonding with a new scarf

      .article-image.aspect-4-5
        -image_url = image_path("blog/winter-scarves/teal-jacket-mustard-scarf.jpg")
        =image_tag(image_url, alt: "Keeping warm in snowfall with a thick teal padded jacket, mustard tight-knit scarf, a chunk knit pale grey hat and gloves.")
        %figcaption
          Photo by
          =link_to('Thirdman', 'https://www.pexels.com/photo/photo-of-lady-wearing-winter-clothing-6500170')
          on Pexels


      %p
        Buying a winter scarf does not have to be complicated and letting an old one go does not have to be traumatic either.
        Yes, there are several things you should think about, but it’s not that hard to work through them.
        By the end of this article, you should feel more confident about knowing exactly what to look for.
        If you haven’t ever put much thought into your scarf-buying process then starting with my basics of
        %span.strong
          buying a good scarf
        is the right place to start.
        It could save you from making a bad purchase as well as saving you time and money.
        So, let’s get started.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        1. Key features: how we bond with scarves

      .article-image.aspect-2-3
        -image_url = image_path("blog/winter-scarves/long-cream-scarf.jpg")
        =image_tag(image_url, alt: "Standing in front of a cafe on a clear autumn day, wearing a cosy long cable knit scarf, coordinating with a tight knit cream sweater and chunky knitted hat.")
        %figcaption
          Photo by
          =link_to('ansiia', 'https://www.freepik.com/free-photo/happy-lovable-lady-white-winter-outfit-walking-street-with-happy-smile-background-with-christmas-lights-high-quality-photo_11355837.htm')
          on Freepik

      %p
        Let’s start by thinking about your last scarf.
        If you still have it but want to replace it, then try to identify what it is that you liked about it most.
        Was it that it was affordable, trendy, or was it a fashionable winter scarf?
        Was it that it was cozy, a chunky good knit or a nice long winter scarf?
        Most scarves that do go the distance have a favourite thing about them.
        A much-loved feature that bonded you to your scarf.
        I call it a
        = succeed "." do
          %span.strong
            ‘key bonding feature’
        Do you know what that key bonding feature is?
        Maybe it’s the size of your scarf, or maybe it’s the material it is made of.
        Maybe it was bought from a new shop and you weren’t that sure about it when you bought it, but it turned out to be the best scarf ever.
        Either way, it’s important that you try to identify this much loved feature and that you at least match it in your next purchase.
        If you try to use this as your benchmark then anything else will turn out to be a bonus.
        After all your scarf is going to be there for you when you need it most.
        You will come to rely on it throughout winter, so it’s a good idea to find that key bonding feature right from the start.
        Otherwise, you are not going to bond with your new scarf.
        You won’t grow to rely on it once you have bought it and that is just a waste of your time and your money.
        So take a moment and think about what makes a scarf really great for you.

      %h3
        2. Materials: understanding what you need

      %p
        Materials is probably the most important feature of any of the best winter scarves.
        It doesn’t matter if it’s an affordable winter scarf or a designer one. Material counts.
        So, it is important to know the key groups.
        Do you know what materials you like best?
        Do you know what materials are the best ones for scarves and which ones are not so great?
        To save you time, I have condensed them into three straightforward and easy groups.
        Not only will it save you time but it will also make it easy to assess what material you are faced with when you are out looking.
        These three groups are synthetic, natural fibre and mixed fibre.
        Synthetic and mixed fibres can last longer, if well cared for.
        As a general rule, they are supposed to need less maintenance, but some differ.
        Natural fibres may also need a bit more care and attention but can also last much longer if well cared for.
        Some natural fibres can be a bit more expensive due to the costly treatment process and the amount of extra skill required to make it into a nice lovely scarf.
        
      %p
        Take a look at my handy chart below to help you decide:

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h4
        3 scarf materials
      
      %table.summer-hats-coverage-columns
        %thead
          %tr
            %th
              Material
            %th
              Care
            %th
              Longevity
            %th
              Price range
        %tbody
          %tr
            %td
              Synthetic
            %td
              Easy care
            %td
              Mid
            %td
              Low-Mid
          %tr
            %td
              Natural fibre
            %td
              Extra care
            %td
              Long
            %td
              High-Mid
          %tr
            %td
              Mixed fibre
            %td
              Easy care
            %td
              Mid-Long
            %td
              Mid-Low

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        3. know what you like and what you don’t like
      
      %p
        Everyone has a different style and colour preference, so it is really up to you.
        However, knowing what you do like is as important as knowing what you don’t.
        I asked several people on the high street if they knew what their must-have feature was for a winter scarf.
        Most people had to stop and think for a minute before answering. So, it’s clear that a lot of people don’t think about it.
        Sometimes we can just hope that what we are looking for just appears, or we accidentally come across it purely by chance.
        Some even said that they just hoped that what they bought was what they wanted, but they were not really sure until they had worn it out a few times.
        So, why take the risk?
        A little thought can get you much closer to finding and buying a scarf that will suit you, your preferences and your budget all in one.
        If I asked you what your favourite features would you be able to say right away?
        To help you out I have added the main features that people wanted in a winter scarf.
        So take a look and give it a little thought.

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h4
        The most desirable and must-have key features of a winter scarf
      
      %table.summer-hats-coverage-columns
        %thead
          %tr
            %th
              Key Feature
            %th
              Key Reason
        %tbody
          %tr
            %td
              Softness
            %td
              Softness was important because of the skin contact
          %tr
            %td
              Colour
            %td
              Colour and matching was also important
          %tr
            %td
              Length
            %td
              A good scarf should wrap around one complete turn or more
          %tr
            %td
              Quality
            %td
              Quality was important for longevity and the weather
          %tr
            %td
              Branding
            %td
              Some felt that branding was important for quality assurance
          %tr
            %td
              Thickness
            %td
              Feeling snug and warm when outside is important


  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        4. Care and maintenance: do you know how to care for a soft winter scarf?               

      %p
        Most people offer their winter scarf almost no care at all.
        At best, a scarf usually gets hung up behind a pile of coats, shoved in a cupboard or a shelf in the hall somewhere and that’s about it.
        But we do expect a great deal of service from our scarves.
        So why don’t we ever reciprocate with a little care and attention?
        Have you ever taken a little extra care of your winter scarf?
        Do you remember doing that ever?
        Nine times out of ten, the most we offer is a quick check to make sure it is clean and presentable and nothing more.
        If you are going to go to the trouble of searching for and buying a quality scarf that you expect to last and keep you warm and comfortable when you go outside then maybe it's time to rethink about how you treat your new scarf once you find it.
        Most scarves do have a care label, but how many times have you ever read one? 

      %h4
        Storing a scarf

      %p
        I think that this is not good for a scarf.
        It tends to weigh it down and stretch the thickness out around the back of the neck area.
        I like to keep this area as thick and fluffy as possible to retain that snug feeling.
        Think about how you store your scarf when you are not wearing it.
        Is it causing it any damage?
        Will it shorten its life and ensure it ends up looking tatty in no time at all? 

      %h4
        Wearing it with care

      %p
        It’s not only how you store a scarf that affects how long it lasts, but also how you wear it.
        Taking a little care to apply your scarf to your neck can also help enormously.
        Have you ever thought about how you wear your scarf?
        Do you know if you are gentle or if you vigorously wrap your scarf around you like a tightly coiled spring?
        It's worth taking a minute to think about this now, so when you find your new winter scarf you take good care of it, so it will continue to take good care of you. 

  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        Beyond the basics: Bonus feature
      
      %p
        There are a number of different types of natural materials.
        Some are luxuriously soft and some are more hard wearing.
        I have added a bonus section below outlining some of the key features of softness, caring, and the quality of the most popular natural materials available and often associated with winter scarves:

      %table.summer-hats-coverage-columns
        %thead
          %tr
            %th
              Type of scarf
            %th
              Texture and feel
            %th
              Quality
            %th
              Price range
            %th
              Care & attention
        %tbody
          %tr
            %td
              Merino
            %td
              Extremely soft
            %td
              Finest
            %td
              Luxury
            %td
              Some care
          %tr
            %td
              Mohair
            %td
              Very soft
            %td
              Fine
            %td
              Mid-range
            %td
              Extra care
          %tr
            %td
              Angora
            %td
              Extremely soft
            %td
              Finest
            %td
              Luxury
            %td
              Some care
          %tr
            %td
              Lamb’s wool
            %td
              Soft
            %td
              Fine
            %td
              Mid-range
            %td
              Extra care
          %tr
            %td
              Pashmina
            %td
              Extremely soft
            %td
              Finest
            %td
              Mid-range
            %td
              Delicate
          %tr
            %td
              Vicuna
            %td
              Extremely soft
            %td
              Finest
            %td
              Luxury
            %td
              Extra care
          %tr
            %td
              Sheep’s wool
            %td
              Slightly coarse
            %td
              Fine
            %td
              Mid-range
            %td
              Some care
          %tr
            %td
              Cashmere
            %td
              Very soft
            %td
              Finest
            %td
              Luxury
            %td
              Extra care
              
  .article-section.article-section-right-image.text-first.article-half-page-image-floated
    .article-text
      %h3
        5. Branding and budget: staying cozy and stylish at the right price

      .article-image.aspect-4-5
        -image_url = image_path("blog/winter-scarves/chunky-white-scarf-tan-jacket.jpg")
        =image_tag(image_url, alt: "Keeping warm and stylish with a chunky white cable knit scarf over a slim cut ribbed baby blue jumper, tan trousers and a heavy dark tan woolen coat.")
        %figcaption
          Photo by
          =link_to('Jeff Denlea', 'https://www.pexels.com/photo/selective-focus-photography-of-lady-standing-on-road-2922264')
          on Pexels

      %p
        Quality and budget are going to be your key deciding factors in finding your perfect winter scarf.
        When you are finally ready to make that purchase, it does include being at the right price for you.
        So, how do you get the best quality you can, at the best price for you?
        Do you remember what were the deciding factors when you bought your last scarf?
        Was it more than you usually like to pay? Was it worth the price in the end or did it fall out of favour after a few trips out? Getting the price and quality right can be the difference between bonding with your scarf the moment you first wear it versus knowing you made a bad purchase from the start and seeing it hanging up unworn all winter.
        Branding can play a key factor.
        If you know and regularly use a brand already and are happy with their pricing, then it would make sense to see what they have available.
        But, if you are testing your brand loyalty and looking a little further afield then start with caution.
        My advice would be to avoid any top-end retailer until you are more comfortable with their pricing versus quality and longevity before you buy a high-ticket item from them.
        Buying trendy scarves or items from high end stores that you don’t usually shop at is usually where most people go wrong.
        My advice is to test a new brand out first and buy a low ticket item.
        See if it fits in with you and your current wardrobe.
        Another thing to look out for is your longevity expectations versus your budget.
        A high ticket item that only lasts a short season, or goes off trend quickly might not be the right product and price for you.
        So, choose wisely and for the long game and  be 100% sure before you commit.
        

  .article-section

  =render :partial => "blog/components/related_articles",
    :locals => { :"article_id" => article_id }

  -# .article-section.pin-for-later
  -#   .article-text
  -#     %h2
  -#       Pin this article for later!

  -#     %a.pin-for-later-image.pinit#perfect-beach-bag{ :"data-pin-do" => "buttonPin",
  -#               :"data-pin-media" => image_url("blog/white-trainers/5-reasons-white-trainers-hires.jpg"),
  -#               :"data-pin-description" => "5 reasons why we still love white trainers",
  -#               :title => "Pin This Article",
  -#               :class => "pin-it-button",
  -#               :href => "http://pinterest.com/pin/create/button/",
  -#               :rel => "nofollow",
  -#               :target => "_blank",
  -#               "count-layout" => "horizontal",
  -#               :"data-pin-custom" => "true",
  -#               :"to-be-replaced" => "true"}
  -#       -image_url = image_path("blog/white-trainers/5-reasons-white-trainers.jpg")
  -#       =image_tag(image_url, alt: "Pin this article with the image: 5 reasons why we still love our white trainers.")
