- content_for :title do
  = "My Story - NeverBeenWorn"
- content_for :meta_description do
  = "Welcome to Never Been Worn – where we like to live with better purpose"

- content_for :title_header do
  %h1= t("my_story.my_story")

.my_story
  .my-story-section.section-1

    %h2
      Welcome to Never Been Worn – where we like to live with better purpose

    .my-story-image 
      -image_url = image_path("my_story/rabena.jpg")
      =image_tag(image_url, alt: "A photograph of Rabena, the author of this website.")

    .my-story-text
      %p
        My name is Rabena and like to live my life with purpose.
        I wake up and know that I am exactly where I want to be and I am doing exactly what I want to be doing.

      %p
        I have very little bad space in my life.
        I don’t allow it.
        All my space is full of useful and purposeful things.
        It takes me minutes to get ready in the morning and I used all that extra time I have for better things.
        I continue to strive for better purpose daily.
        It helps me achieve my goals and do more meaningful things like travel more, but it all started with my wardrobe.
        These were my first steps to making a life with better purpose.

      %p
        How did I get to this point? By living with better purpose.
        This is what Never Been Worn is all about.

      %h2
        A better life

      %p
        Just like your life, your wardrobe can be full of things that aren’t really working for you.
        It can be full of things you bought that maybe you once thought were a great idea, but for some reason they turned out not to be.

      %p
        That’s all okay, but let me ask you a few questions.

      %p
        Did you hold on to those things, were you hoping they would become useful one day?
        Did that day ever come?
        Or are they still sat in your wardrobe hanging about, doing nothing and waiting?

      %p
        Are they still sat in your wardrobe now?
        If they are, then your wardrobe is full of clothes that you don’t wear, that you don’t need, and that you bought for the wrong reason.
        So why are you still holding on to them?
        Maybe you feel you can’t get rid of them because you spent money on them.

      %p
        How often do you try to ignore that side of the wardrobe now?
        How much time do you spend looking for something you do wear?

      %h2
        This website is not just about clothes

      %p
        The purpose of your wardrobe is to house the clothes that you do wear, not to be overshadowed by the stuff you don’t.
        Your wardrobe has lost its full purpose.

      %p
        What you need is to get its purpose back, so let’s do something about that.
        Why?
        Because it can simply make your life easier.
        It can save you time in the mornings.
        How do I know this?
        Because I already did it, so I know it works.

      %p
        Part of my purpose is to help others to live with their own greater purpose.
        Helping guide people to a place where things work for them better.
        If you feel like it’s time to take hold of your purpose and really guide it forward again
        then it’s time to start living better.
        With your purpose.

      %h2
        How I started

      %p
        At a very young age my mum caught me organising the pans in one of our many kitchen cupboards.
        The pans were all around me on the floor at this point and she calmly asked me what I was doing.
        My reply went something like this: “I am organising all the pans by how big they are and how often we use them, of course.”

      %p
        Well that seems quite straightforward to me, but this is what happened next.
        It became clear that we had too many pans.
        It was obvious to see.
        We had too many pans and we had pans that we never even used.
        Those extra pans – they had no purpose.
        They were always there and they were always taking up too much space.

      %h2
        How you can get started

      %h3
        Step 1

      %p
        You can start striving for better purpose right away, by going through your wardrobe and taking out all the items you had never worn or hardly ever worn.
        Just like I did. I have even created a
        =link_to('wardrobe challenge', article_path(id='the_wardrobe_challenge'))
        in case you are not sure how to get started.
        It will help you get rid of all the things you no longer need much quicker and with better purpose.

      %h3
        Step 2 – My 1-2-3 better bedroom guide
      
      %p
        If you want to live with a more purposeful bedroom there is a full
        =link_to('1-2-3 step guide', "/#quick-guide")
        on my homepage.
        This will help you to clear out your
        =succeed "," do
          =link_to('wardrobe challenge', article_path(id='the_wardrobe_challenge'))
        your
        =succeed "," do
          =link_to('drawers', article_path(id='fix_your_drawers_forever'))
        and your
        =link_to('shelves', article_path(id='get_your_messy_shelves_in_shape'))
        too.

      %h3
        What to do next – Repurpose

      %p
        Just throwing clothes away is not how we do things at never been worn.
        To live with better purpose we try to do better.
        There are lots of lovely ladies in the world supporting sustainability and what we discovered is that if you put all your unworn items back out into the world they go on to find better purpose.
        You might have not worn them, but somebody else might be looking to buy and need just what you have. 

      %p
        If you have clothes sat in your wardrobe that you have never worn, then sell them.
        If you want some cash back from the money you spent, then sell them.
        If you want to start living with better purpose in your life, then take this first step and sell them.

      %p
        I believe this is more than just clearing out your wardrobe.
        It’s a journey about getting back your purpose in your life and it all starts with fixing your wardrobe,
        I found my purpose, it’s right here.
        Now let’s find yours.

      %p
        =link_to('Register today', '/signup')
        for free and start living with purpose. 

