- content_for :title do
  = "My Story - NeverBeenWorn"
- content_for :meta_description do
  = "Welcome to Never Been Worn – where we like to live with better purpose"

- content_for :title_header do
  %h1= t("my_story.my_story")

.my_story
  .my-story-section.section-1

    %h2
      Welcome to Never Been Worn – where we like to live with better purpose

    .my-story-image 
      -image_url = image_path("my_story/rabena.jpg")
      =image_tag(image_url, alt: "A photograph of Rabena, the author of this website.")

    .my-story-text
      %p
        My name is Rabena and like to live my life with purpose.
        I wake up and know that I am exactly where I want to be and I am doing exactly what I want to be doing.

      %p
        How did I get to this point? By living with better purpose.
        This is what NeverBeenWorn is all about.

      %h2
        A better life
      %p
        Just like your life, your wardrobe can be full of things that aren’t really working for you.
        It can be full of things you bought that maybe you once thought were a great idea, but for some reason they turned out not to be.

      %p
        That’s all okay, but let me ask you a few questions.

      %p
        Did you hold on to those things in your wardrobe, hoping that one day they would just turn into being useful?
        Did that day ever come?
        Did they ever turn into that useful thing you wanted them to be?
        Or are they still sat in your wardrobe doing nothing and waiting?

      %p
        If they are then what you have is a wardrobe full of clothes that you don’t wear, that you don’t need and that you bought for the wrong reason,
        but for some reason you are still holding on to them.
        Maybe you feel you can’t get rid of them because you spent the money on them. 

      %p
        All these items in your wardrobe are really doing is taking up more time and more space in your wardrobe and your life.
        That space in your wardrobe has now become a negative space in your life too.
        It’s always occupied with those same things you don’t need and you don’t wear and you don’t know what to do with.
        You see them every time you open your wardrobe.
        The time you spend looking for things that you do wear is longer because your wardrobe is cluttered with things that are of no use to you.
        This is now a permanent negative space in your life.

      %p
        What you actually need is more positive space in your life so let’s do something about that.
        Why?
        Because it can give you better purpose and direction.
        If you can make a change in your wardrobe, you can make a change in you and other things in your life.
        How do know this? because I
        =succeed "." do
          =link_to('already tried', article_path(id='my_wardrobe_challenge'))

      %h2
        This website is not just about clothes
      %p
        Part of my purpose in life is to help others to live with their own greater purpose.
        Helping guide people to a life that really suits them better is why I am here.
        If you feel it’s time to change your whole perspective on your life.
        If you feel like it’s time to take hold of your purpose and really guide it forward again.
        If you feel like it’s time to really drive those goals you have, once and for all then it’s time to live with greater purpose.

      %h2
        How I started

      %p
        At a very young age my mum caught me organising the pans in one of our many kitchen cupboards.
        The pans were all around me on the floor at this point and she calmly asked me what I was doing.
        My reply went something like this: “I am organising all the pans by how big they are and how much we use them, of course.”

      %p
        Well that seems quite straightforward, but this is what happened next.
        It became clear that we had too many pans.
        It was obvious to see.
        We had too many pans and had pans we never even used.
        Those extra pans – they had no purpose.
        They were always there and they were always taking up space. 

      %p
        I now have very little bad space in my life.
        It is full of good space and purpose.
        It takes me minutes to get ready in the morning in my good space and I used all the time I saved for better things.
        I continue to strive for better purpose daily.
        It helps me achieve my goals and do meaningful things like travel more,
        but it all started with my wardrobe and my first steps of making it have better purpose in my life.

      %h2
        How you can get started

      %h3
        Step 1

      %p
        You can start striving for better purpose right away, by going through your wardrobe and taking out all the items you had never worn or hardly ever worn.
        Just like I did. I have even created a
        =link_to('wardrobe challenge', article_path(id='the_wardrobe_challenge'))
        in case you are not sure how to get started.
        It will help you get rid of all the things you no longer need much quicker and with better purpose.

      %h3
        Step 2 – My 1-2-3  guide
      
      %p
        Once you have decided to live a more purposeful wardrobe there is a full
        =link_to('1-2-3 step guide', "/#quick-guide")
        on my homepage.
        This will help you to clear out your
        =succeed "," do
          =link_to('wardrobe challenge', article_path(id='the_wardrobe_challenge'))
        your
        =succeed "," do
          =link_to('drawers', article_path(id='fix_your_drawers_forever'))
        and your
        =link_to('shelves', article_path(id='get_your_messy_shelves_in_shape'))
        too.
        If you have clothes sat in your wardrobe that you have never worn, then sell them.
        If you want some cash back from the money you spent, then sell them.
        If you want to start living with better purpose in your life, then take this first step and sell them. 

      %p
        No matter where you are going or what you are doing, it’s important to recognise 3 things.

        %ul
          %li
            First, recognise where you have been and how far you have been down that road.

          %li
            Second, it’s important to recognise where you are right now.

          %li
            Third and the most important of all is where do you want to go.

      %p
        I like to ask one more question.
        Do you know how to get there?
        I believe this is really a journey about getting back to what you really want in your life and what you don’t and it all starts with fixing your wardrobe.
        It’s where I started and it led me right here, creating this website.

      %p
        =link_to('Register today', '/signup')
        for free and start living with purpose. 

