- content_for :title do
  = "My Story - NeverBeenWorn"
- content_for :meta_description do
  = "Welcome to Never Been Worn – where we like to live with better purpose"

- content_for :title_header do
  %h1= t("my_story.my_story")

.my_story
  .my-story-section.section-1

    %h2
      Welcome to Never Been Worn – where we like to live with better purpose

    .my-story-image 
      -image_url = image_path("my_story/rabena.jpg")
      =image_tag(image_url, alt: "A photograph of Rabena, the author of this website.")

    .my-story-text
      %p
        My name is Rabena and I like to live my life with better purpose.
        I like to wake up and know that I am exactly where I want to be and I am doing exactly what I love and want to be doing.

      %p
        How did I get to this point?
        By living with greater purpose.
        This is what NeverBeenWorn is all about.

      %h2
        A better life

      %p
        Just like life, your wardrobe can be full of things that aren’t really working for you.
        It can be full of things you thought were a great idea and bought, but turned out not to be.
        They no longer have a purpose in your life.

      %p
        Maybe you think that’s okay, but let me ask you a few questions.

      %p
        Did you hold on to those things in your wardrobe?
        Did you hope that one day they would turn into being useful? Did that day ever come?
        Or are they still sat in your wardrobe doing nothing and still waiting to be useful?

      %p
        Have you ever stopped to wonder why you are still holding on to them?

      %p
        If this sounds like you then you probably have a wardrobe filled with clothes that you don’t wear, that you don’t need and that you bought for the wrong reason.
        They have become a permanent thing in your life.
        You probably see them every time you open your wardrobe.
        You probably see them every time you are looking for something to wear.
        Being surrounded by things that you don’t wear or use is like being stuck and this is no way to live.

      %p
        Do you feel like you have to hold onto them because you spent your money on them and if you keep them it’s wasted?
        Maybe they don’t fit, or maybe you no longer like them as much, it doesn’t matter.
        All these items are really doing is taking up time in your life and space in your wardrobe.
        But there is another way. 

      %h2
        This website is not just about clothes

      %p
        Part of my purpose in life is to help others to live with their own greater purpose.
        Helping to guide people to a life that suits them better, is why I am here.
        If you feel like it’s time to take hold of your purpose and really guide it forward again.
        If you feel like it’s time to really drive your own direction again, then it’s time to live with greater purpose.
        If your wardrobe space is being taken up by things you don’t want, you don’t wear and that have no real purpose, then it is full of all the wrong things.
        It should be filled with things you need and things you wear all the time. 

      %p
        So let’s do something about that. Why? Because it can free you and give you back greater purpose.
        If you can make a change in your wardrobe, you can make a change in other things in your life too.
        How do I know this?
        Because I already did it.
        I am free of things that don’t work for me, I am free of things that have no purpose and I am living with better direction and purpose and you can too. 

      %h2
        How I started

      %p
        Let me explain how it all started.
        At a very young age my mum caught me organising the pans in one of our many kitchen cupboards.
        The pans were all around me on the floor at this point and she calmly asked me what I was doing.
        My reply went something like this: “I am organising all the pans by how big they are and how much we use them, of course.”

      %p
        Well that seems quite straightforward, but this is what happened next.
        It became clear that we had too many pans.
        It was obvious to see. We even had pans we never used.
        Those extra pans – they had no purpose.
        They were always there and they were always taking up space and it took much longer to find the pan you wanted because of them.
        In situations like this you can give unwanted or unused things better purpose and find them a new home,
        so they can be used by someone else and so you can be free of them.

      %h2
        How can you live with purpose?

      %h3
        Step 1 – How you can get started

      %p
        You can start striving for better purpose right away, by going through your wardrobe and taking out all the items you had never worn or hardly ever worn.
        Just like I did.
        I have even created a
        =link_to('wardrobe challenge', article_path(id='the_wardrobe_challenge'))
        in case you are not sure how to get started.
        It will help you get rid of all the things you no longer need and bring you more focus and better purpose much quicker.

      %h3
        Step 2 – Repurposing

      %p
        Finding purpose and repurposing go hand in hand. 
        If you have clothes sat in your wardrobe that you have never worn, then sell them.
        People want to support the re-purposing of clothes right now and they will buy them.
        I have cleared out my wardrobe already and sold everything I hadn’t worn.
        I have repurposed everything.
        It felt good and now I am free to live with my own greater purpose.

      %h3
        Step 3 – My 1-2-3 guide
      
      %p
        If you really want to start living with greater purpose there is a
        =link_to('1-2-3 step guide', "/#quick-guide")
        on my homepage.
        It will not only help you to
        =succeed "," do
          =link_to('clear out your wardrobe with the wardrobe challenge', article_path(id='the_wardrobe_challenge'))
        your
        =succeed "," do
          =link_to('drawers', article_path(id='fix_your_drawers_forever'))
        and your
        =link_to('shelves', article_path(id='get_your_messy_shelves_in_shape'))
        too.
        It's the same path I took, so I know it worked for me.

      %h2
        My new life – more time for me and my purpose

      %p
        I have already repurposed everything in my wardrobe that I didn’t need.
        It now takes me minutes to get ready in the morning because of that.
        I only have to choose from things I know I already wear.
        This alone has saved me so much time.
        I now use that extra for myself.
        I can strive for even more purpose in life.
        It helps me achieve my goals and do meaningful things I really want to do, like less laundry and chores and more travel,
        but it all started with my wardrobe and making it have better purpose in my life.
        You can have that too.

      %p
        =link_to('Register today', '/signup')
        for free and start living with purpose. 

