- content_for :title_header do
  %h1= t("my_story.my_story")

.my_story
  .my-story-section.section-1

    %h2
      The wardrobe nightmare

    .my-story-image
      
    .my-story-text
      %p
        My wardrobe has always been a mess.
      %p
        The rail was literally full from one end to the other.
        It would take me far too long to find something to wear, and when I tried to put anything back it was even worse.
        Putting things back always turned into a big battle because there were no gaps anywhere.
        Sometimes I would open up both doors and stand there staring in at all the mess.
        Occasionally I would even think about sorting it out, but usually I would just stare in at the enormity of my hoard.
        After about a minute I would be completely overwhelmed and quickly shut the doors.
      %p
        This became my never ending wardrobe nightmare.
      %p
        Usually I would only open one of my wardrobe doors at a time, because then I only saw half the mess.
        Like most things that are too often avoided, eventually there came a point of no return.
        One day I opened one of my wardrobe doors, to find something unexpected going on in there.
        There was a gap at one end of the rail.
        I didn’t notice it right away as I was too busy wondering which part of my wardrobe to wrestle for an outfit, so I just expected to see the usual mess.
        When it eventually caught my eye I froze and stared at it.
        To this day I am not entirely sure that my brain was able to accept the site of a gap in my cluttered wardrobe so I almost blanked it completely.
        It looked quite nice and for one little second I had such a lovely thought.
        I have space in my wardrobe?
        At first I wondered if the tidy fairies had finally paid me a visit and then I decided that my mess couldn’t possibly have been that messy after all.
        At this point, I grabbed what I was looking for without another thought to the sight of that gap and shut the door behind me.
      %p
        The next day the gap was much bigger. I am not sure why, but again I refused to believe it was there at all.
        However, day three was a completely different matter.
        On day three my wardrobe looked a bit of a funny shape.
        It was somehow a little wonky at the top and now the doors didn’t quite meet.
        I decided to investigate further and opened both wardrobe doors.
        There I came face to face with the shocking reality.
        There had been no visit from the tidy fairies in the night and it wasn’t that I had turned into an effortless tidy queen in my sleep.
        No, I was still the owner of my own ginormous sad mess and the mysterious gap was down to one thing only. My wardrobe rail had started to bend.
        The bend started right in the middle and went almost all the way along and this was the cause of my lovely gap.
        Wow! I really had a problem now. I would absolutely have to do something and it would have to be very soon.  
      %p
        The thought of my wardrobe caving in was quite terrifying really.
        It could happen at any moment. I had no idea how long it would hold like this.
        There was another problem too: I had no idea how to fix it.
        What I needed was a strong cup of tea and a nice sit down to come up with a good plan.
        Actually, any plan would do, it didn’t need to be a good one, just a plan would be more than enough to calm my nerves right now.
        I hoped it would be one that was not going to be too painful and that I could easily manage.
        At this point I just sat there sipping very strong tea feeling utterly overwhelmed.

  .my-story-section.section-2
    %h2
      A new life and a new beginning

    .my-story-image
      
    .my-story-text
      %p
        Fast forward to today and I now have an amazing wardrobe and it works great too.
      %p
        It works for me and not against me. It is  well organized and not nearly so full.
        I am not even afraid to open both doors now!
        I have all the clothes I need and I can find whatever I am looking for and in much less time too, but most of all I make less mess doing it.
        I can even see gaps in there now, which is amazing. There is no more daily battle to put anything away anymore.
        
      %p
        My new wardrobe looks lovely, my rail remains straight and I never want to go back to that old mess of a wardrobe ever again.
        I feel like I took on my wardrobe and I won!
    
      %p
        There was one last thing that really needed some urgent attention though.
        I had all these clothes that I no longer needed.
        Most of them I had never even worn and I didn’t even realise I had so many.
        Now that I could see them all, I knew I definitely didn’t need them any more and there was no way that I was putting them back in my lovely tidy wardrobe.
      %p
        With the help on another cup of tea I sat wondering what I should do with them all.
        I actually had many suggestions to sell them online as maybe worn items, but that didn’t seem to be right.
        These were good clothes, almost brand new and I had looked after them all that time so they still looked great.
        I wanted to find somewhere to sell them that would appreciate the good condition they were still in.
      %p
        This is how
        %span.nbw-dark
          neverbeenworn
        was born.

  .my-story-section.section-3
    %h2
      Take the wardrobe challenge

    .my-story-image
      
    .my-story-text
      %p
        My wardrobe challenge completely changed how I viewed my clothes and it’s made that part of my life much easier to manage.
        I have taken back so much time that I now spend my new found freedom doing other things.
        I realised that I had so many things I didn’t wear and that I was just keeping them for no reason other than not to waste the money I had spent.

      %p
        I hope I can help others by sharing my story, proving that you can do the
        = link_to('wardrobe challenge', article_path(id='the_wardrobe_challenge'), :class => "article-link")
        too.
        You can take on your wardrobe, take back your time and banish that mess for good.

      %p
        It’s about setting you free from mess and making your wardrobe work for you.
        It’s all about elevating your life and making it better.

      %p
        My story doesn’t end here. You can read how I did it in the 
        = link_to(article_path(id='the_wardrobe_challenge'), :class => "article-link") do
          full guide to my wardrobe challenge. 
