- content_for :title do
  = "My Story - NeverBeenWorn"
- content_for :meta_description do
  = "How I went from wardrobe nightmare to declutter heaven, and why it led me to start NeverBeenWorn"

- content_for :title_header do
  %h1= t("my_story.my_story")

.my_story
  .my-story-section.section-1

    %h2
      Welcome to NeverBeenWorn

    .my-story-image 
      -image_url = image_path("my_story/rabena.jpg")
      =image_tag(image_url, alt: "A photograph of Rabena, the author of this website.")

    .my-story-text
      %p
        My name is Rabena.
        I love to support sustainable fashion and I love to save money.
        I am here to show as many people as I can that we all have cash sat in our wardrobes doing nothing.
        We all have clothes and shoes and bags and coats in our wardrobe that we don’t wear or have hardly ever worn and we just keep them.
        People are looking for sustainable clothing to buy every day, so I am here to promote and support that.
        The world needs more sustainable options to choose from.
        Did you know that could get some cash back by letting all your unworn clothes go and reselling them to someone else who will wear them?

      %h2
        How I started

      %p
        At a very young age my mum caught me organising the pans in one of the kitchen cupboards.
        The pans were all over the floor around me and she asked me what I was doing.
        Apparently I replied by telling her that I was organising them by size and frequency of use.
        But guess what happened, she realised how many pans she had that she never used and we got rid of them.
        I helped her create space and get rid of all the pans we didn’t need. 

      %h2
        My wardrobe challenge

      %p
        I started by decluttering my wardrobe and putting all my unworn clothes back out into the world for others to buy.
        More and more people are looking to
        =link_to('support sustainable fashion', article_path(id='sustainability_the_right_choice'))
        these days and to buy quality cared for pre-owned clothes.
        I am here to ask everyone to go clear out your wardrobes and give people the opportunity to buy your unworn clothes. 

      %h2
        Why clearing out your wardrobe is good
      %p
        We all have clothes in our wardrobe that have never been worn or hardly ever been worn and we know they take up far too much space.
        So why keep them?
        A lot of people don’t realise that if you decluttered your wardrobe and
        =link_to('re-sell your unworn clothes,', '/s')
        you are putting them back out into the world and giving others the opportunity to buy them.
        It all goes to supporting sustainable fashion and it all helps to save the resources of the planet.
        This is a really good thing right?

      %h2
        How you can get started
      %p
        You can start right away by going through your wardrobe and taking out all the items you had never worn or hardly ever worn.
        Take some quick photos and put them up for resale at neverbeenworn, even if you have worn them once or twice, as long as they are still in really good condition.
        I have even created a
        =link_to('wardrobe challenge', article_path(id='the_wardrobe_challenge'))
        in case you are not sure where to start.
        It will help you declutter and a 1-2-3 step guide to clearing out your wardrobe, your
        =link_to('drawers', article_path(id='fix_your_drawers_forever'))
        and your
        =link_to('shelves', article_path(id='get_your_messy_shelves_in_shape'))
        too. If you didn't have a lot of time there are some quick tips to get you started in bite size chunks.
        I have used most of these and still use these today.

      %h2
        Elevate your life

      %p
        After I decluttered my wardrobe my life began to change.
        After putting my unworn and hardly ever worn clothes back out into the world I made space in my wardrobe.
        Then I began to make space in my life for all the things I really wanted to do, like this website, so I decided not to stop there.
        I make my life work for me now and I strive to achieve my new goals in life, and it all started with
        =link_to('decluttering my wardrobe.', article_path(id='the_wardrobe_challenge'))
        
