- content_for :title do
  = "My Story - NeverBeenWorn"
- content_for :meta_description do
  = "How I went from wardrobe nightmare to declutter heaven, and why it led me to start NeverBeenWorn"

- content_for :title_header do
  %h1= t("my_story.my_story")

.my_story
  .my-story-section.section-1

    %h2
      Welcome to NeverBeenWorn

    .my-story-image 
      -image_url = image_path("my_story/rabena.jpg")
      =image_tag(image_url, alt: "A photograph of Rabena, the author of this website.")

    .my-story-text
      %p
        My name is Rabena.
        I love to support sustainable fashion and I love to save money.
        I also love to declutter and be more organised.
        I am here to show you that we all have cash sat in our wardrobes doing nothing.
        We all have clothes and shoes and bags and coats in our wardrobe that we don’t wear or have hardly ever worn and we just keep them.
        People are looking for sustainable clothing to buy every day, so I am here to promote and support that.
        The world needs more sustainable options to choose from right now.
        Did you know that you could get some cash back by reselling your unworn or hardly ever worn clothes to someone else and keep them going?

      %h2
        Why clearing out your wardrobe is good for Sustainablity
      %p
        We all have clothes in our wardrobe that have never been worn or hardly ever been worn and we know they take up far too much space.
        So why do we keep them?
        A lot of people don’t realise that if you declutter your wardrobe and
        =succeed "," do
          =link_to('re-sell your unworn clothes', '/s')
        you are putting them back out into the world and giving others the opportunity to buy them.
        It all goes to supporting sustainable fashion and it all helps to save the resources of the planet because it takes a lot of fresh drinking water to make a new garment.
        So you are actually supporting the planet more.
        This is a really good thing right?

      %h2
        How I started

      %p
        At a very young age my mum caught me organising the pans in one of the kitchen cupboards.
        The pans were all over the floor around me and she asked me what I was doing.
        Apparently I replied by telling her that I was organising them by size and frequency of use.
        But guess what happened next, it was clear to see how many pans we had that never got used.
        This was my very first experience in the world of decluttering and even at such an early age, I absolutely loved it.

      %h2
        My wardrobe challenge

      %p
        I started by decluttering my wardrobe and putting all my unworn clothes back out into the world for others to buy.
        More and more people are looking to
        =link_to('support and buy sustainable fashion', article_path(id='sustainability_the_right_choice'))
        these days and I am here to ask everyone to go clear out your wardrobes and give people the opportunity to buy your quality cared for never been worn or hardly ever been worn clothes.

      %h2
        A better life

      %p
        After I decluttered my wardrobe my life began to change.
        I really didn’t expect that.
        I had made so much more space in my wardrobe, so I decided not to stop there.
        Next I began to make space in my life for all the things I really wanted to do, like create this website, do more travel, and give time to personal growth.
        I make my life work for me now and I strive to achieve all my new goals, and it all started with
        =succeed "." do
          =link_to('decluttering my wardrobe', article_path(id='the_wardrobe_challenge'))

      %h2
        How you can get started
      %p
        You can start right away by joining me on this amazing journey.
        Start by going through your wardrobe and taking out all the items you had never worn or hardly ever worn.
        Just like I did.
        Put them up for resale at neverbeenworn.co.uk, even if you have worn them once or twice, as long as they are still in really good condition.
        I have even created a
        =link_to('wardrobe challenge', article_path(id='the_wardrobe_challenge'))
        in case you are not sure how to get started.
        It will help you declutter quicker.
        There is also a
        =link_to('1-2-3 step guide', "/#quick-guide")
        on my homepage to clearing your wardrobe, your
        =succeed "," do
          =link_to('drawers', article_path(id='fix_your_drawers_forever'))
        and your
        =link_to('shelves', article_path(id='get_your_messy_shelves_in_shape'))
        too.
        However, if you don't have a lot of time don't worry, I have also created some
        =link_to('quick tips', "/#quick-tips")
        to get you started in nice bite size chunks.
        They can also be found on my home page.
        I have used most of these tips and still use these today.
        As you can see, there plenty to get you started.
        So, what are you waiting for?
        Support sustainable fashion, declutter and go grab your new life.
        It’s waiting for you right now.
        
