@import "mixins/all";

.ajax-update-notification {
  position: fixed;
  top: lines(2);
  z-index: 99999;
  left: lines(1);
  right: lines(1);
  text-align: center;
}

.ajax-update-notification-content {
  max-width: lines(42 - 2); // 2 for padding
  display: inline-block;
  border-radius: $default-border-radius;
}

.ajax-update-notice,
.ajax-update-success,
.ajax-update-error {
  position: relative;
  display: none;
  border-radius: $default-border-radius;
  padding: lines(0.5) lines(0.75);
}

.ajax-update-text {
  padding-left: lines(0.25);
}
