
%h1
  Edit Blog Article

= react_component("ArticleEditorApp", props: { "i18n":{"locale":"en","default_locale":"en","locale_info":{"ident":"en","name":"English","language":"en","region":"US"}}}, trace: true, prerender: false)

