%p
  To join
  %strong
    = @current_community.full_name(I18n.locale)
  you need to have an invite. If you have an invite, please enter the code in the box below.

%p
  We have restricted access while we make some important changes to the website. We will open it up again very soon.
