-# Set these fields for SEO purposes. They will be included in the header
-# TODO: Do this in a more elegant way to aviod duplication with controller and view
- content_for :meta_article_id, 'why_we_started_neverbeenworn'
- content_for :meta_article_headline, 'Why we started neverbeenworn'
- content_for :meta_article_image_1, image_path("articles/lady-in-poppy-field.jpg")
- content_for :meta_article_image_2, image_path("articles/globe-in-park.jpg")
- content_for :meta_article_date_published, '2022-07-05T08:00:00+01:00'
- content_for :meta_article_date_modified, '2022-07-05T08:00:00+01:00'

%h2.article-title="Why we started neverbeenworn"
%p.published-date
  July 2022

.row
  .col-4
    .col-12
      -first_url = image_path("articles/lady-in-poppy-field.jpg")
      =image_tag(first_url, class: 'article_col6_image', alt: "A lady stands in a poppy field. She is wearing a white hat and dress, and her arms are outstretched. She is free and at peace.")
  .col-8
    %h3 Why do we want to help?
    %p
      We all have clothes in our wardrobe that we just never got around to wearing and we simply no longer need.
      We know they take up too much room and we know we can’t bring ourselves to get rid of them just yet.
      Why? Because these are great clothes and we still hope maybe we will wear them just once.
      The sad thing is, we know this might never happen, so we are stuck and there is no more room.
      Well great news ladies. We want to help you out with that. 

    %h3 Life is busy. How can we help?
    %p
      We want to help all you lovely ladies out there clear out your wardrobe and find a great new home for all your stylish unworn items.
      We know they are taking up too much room in your wardrobe and we know that you have taken great care of each and every one of them.
      We also know that life can get busy sometimes so we want to help.
      This how neverbeenworn was born and we hope you will find it a nice space to be,
      quick and easy to use in your busy and demanding lives.
      There are lots of lovely ladies out there looking for great clothes to buy and add to their wardrobe.
      Great clothes that will be loved and appreciated and that they can give a new home to.
      Great clothes like yours that have been taken great care of and never been worn.
      Give your clothes and your wardrobe a new life and a new beginning
      its easy and you could be helping save the planet too.


.row 
  .col-8
    %h3 Sustainability, why?
    %p
      By finding a new home for your unworn items you will also be doing your human bit to help the planet
      and help make a change for the better.
      You will be encouraging ladies to buy neverbeenworn items which will help sustainable fashion grow.
      You will be sending your items back out into the world to be re-sold and re-loved with a chance to be worn
      instead of them sitting at home in your wardrobe taking up all of that valuable space that could be filled with
      something you really need and want.
      You will be helping to encourage the world to stop taking more from the planet to make more and
      to stop creating more waste. 

    %h3 We are humans…
    %p
      We are not scientists, we are not world leaders.
      We are humans and we wanted to make a human change, so this is why we started Neverbeenworn.
      We hope that with your help, our little human change could one day become a big human change,
      but right now we hope it makes your life a little easier in a nice human way.
  .col-4 
    .col-12
      -second_url = image_path("articles/globe-in-park.jpg")
      =image_tag(second_url, class: 'article_col6_image', alt: "A child's toy globe sits in a park. The globe has a vivid blue sea and is rotated to show Africa whose coutries are in primary colurs. There are daisies and fallen leaves on the floor around the globe.")

%h3 A new beginning
%p
  At neverbeenworn, we say yes to new beginnings and yes to new directions.
  We say yes to doing our human bit to helping the planet and helping to create a better world.
  We say yes to healthy respectful humans and yes to a sustainable, fulfilling and happy life. 

%p
  The fashion and sustainability team
  =link_to('neverbeenworn.co.uk', s_path)

%p.image-credits
  Thanks to Monica Turlui and Nothing Ahead @ Pexels for images