
%h2 Cookies

%p
  Our
  = link_to t('layouts.infos.cookie_policy'), cookie_policy_infos_path
  specifies how and why we use cookies.
  We use the following cookies on neverbeenworn.co.uk:

%p
  %b Strictly Necessary cookies
  These cookies are essential to make the website work properly, and provide the functionality you have requested.
  For example they may allow you to search, log in, or purchase.

%p
  %b Functional cookies
  These cookies are used for functionality of the website,
  remembering preferences that improve your experience of the website.
  For example we set a functional cookie when you accept the cookie policy to avoid asking you on later visits.

%p
  %b Performance cookies
  These cookies gather information about the use of our website.
  We use the information to spot problems and improve the experience of visitors to the website.

%p
  %b Tracking cookies
  Tracking cookies are set by external advertising partners.
  They are used to tailor adverts to be more relevant to your interests,
  or to measure the effectiveness of advertising campaigns.

%h3 All cookies on neverbeenworn.co.uk

%h4 Strictly Necessary cookies
%table{:border => 1}
  %tbody
    %tr
      %th Name
      %th Purpose
      %th Domain
      %th Expiry time
      %th Provider
    %tr
      %td _st_session
      %td This cookie is set by neverbeenworn to keep track of the user session including logged in status
      %td neverbeenworn.co.uk
      %td 1 month
      %td Neverbeenworn
%p

%h4 Functional cookies
%table{:border => 1}
  %tbody
    %tr
      %th Name
      %th Purpose
      %th Domain
      %th Expiry time
      %th Provider
    %tr
      %td wpcc
      %td This cookie is set by our cookie consent banner to remember your choice
      %td neverbeenworn.co.uk
      %td 1 year
      %td websitepolicies.io
%p

%h4 Performance cookies
%table{:border => 1}
  %tbody
    %tr
      %th Name
      %th Purpose
      %th Domain
      %th Expiry time
      %th Provider
    %tr
      %td _ga
      %td Tracks how the visitor uses the website. The data is aggregated and used to produce statistics about the use of the website
      %td neverbeenworn.co.uk
      %td 2 years
      %td Google
%p

%h4 Tracking cookies
%p We have no tracking cookies at this time
