
%h2 Cookie policy

%h3 What are cookies?
%p
  Cookies are small pieces of information which are downloaded to your device if you agree to us doing so.
  They are used to store information from one page to the next: making sure you stay logged in to the website,
  or analysing the traffic to the website to allow us to optimise and improve it for our customers.

%p
  Your browser passes the cookies back to us as you visit each page of the website,
  which allows us to recognise you.
  Cookies do not store confidential information such as your name, address or telephone number. 

%p
  Our
  = link_to t('layouts.infos.cookies'), cookies_infos_path
  page lists all of the cookies on the website.

%h3 How can I switch off cookies?
%p
  You can choose to opt out of all but strictly necessary cookies through our cookie consent banner.

%p
  You can also adjust cookie retention settings in your own browser.
  To learn more about cookies, including how to view which cookies have been set and
  how to manage and delete them, please visit: www.allaboutcookies.org.
  Be aware that disabling all cookies may result in the website losing functionality.
  
%p
  At this time, our site does not respond to Do Not Track beacons sent by browser plugins.

%h3 Changes to this cookie policy
%p
  We may update this policy as needed to comply with relevant regulations
  and reflect any new practices.
  Whenever we make a significant change to our policies,
  we will post an update on our website or inform you by email.

%p
  If you have any questions about this policy,
  please get in touch by emailing us at privacy@neverbeenworn.co.uk
  and we will be happy to answer them!

%p
  The policy was last updated on 31st March 2022