= render :partial => "layouts/left_hand_navigation", :locals => { :links => about_links }

- content_for :title do
  = t('layouts.infos.code_of_conduct').html_safe

- content_for :title_header do
  %h1= t('layouts.infos.code_of_conduct').html_safe

.left-navi-section.about-section
  = render :partial => "infos/code_of_conduct_content"
